[2013-12-03 19:07] dirk-thomas commented on #547
`_EXPORTED_TARGETS` is the recommended way to do it. The user does not need to think about which targets it might contain and does not need to check if the targets actually exist or if the variable is empty.

`_generate_messages_LANG` can still be used (those are the actually values of the above list variable). But then the user is responsible to check if the target name actually exists. This appr

[2013-12-03 19:17] dirk-thomas commented on #555
Until now  all scripts under bin are being handled by https://github.com/ros/catkin/blob/groovy-devel/bin/CMakeLists.txt.

Changing the scripts to be installed via the setup.py file is simple but only makes sense when the package can be pip-installed. But I am pretty sure that would not be the only files missing from a pip-based installation. I don't think that a pip-based installation is actually

[2013-12-03 20:13] tfoote commented on #554
We would like to turn on tests for debbuilds. Right now we ignore all test results.  If we ever get to a maturity level we will change it such that debs do not get generated if the tests fail.

[2013-12-03 20:13] #554 closed, assigned to nobody

[2013-12-04 09:45] vrabaud commented on #555
Right, all the cmake folders would have to be copied too in some place understandable by CMAKE_PREFIX_PATH. Somehow I thought catkin was still pip-installable. Closing then.

[2013-12-04 09:45] #555 closed, assigned to nobody

[2013-12-05 06:42] 130s commented on #556
I'm fine with setting this untargetted. Just as a record, there are ROS `svn` repositories that place packages in sub folders. A few of them are [listed here](https://github.com/ros/catkin/issues/513#issuecomment-24992051).

[2013-12-05 18:44] dirk-thomas commented on #556
I just took a brief look to the referenced repos but none of them seems to contain catkin packages.

[2013-12-05 19:45] 130s commented on #556
Ah, you're right! Those repos were the last stronghold for us to stick to place packages in subfolders. Now I'll suggest my team to change our long-lasting repository structure to more common way.

You can close this ticket if that's better.

[2013-12-05 23:07] vrabaud opened #557 "move eigen CMake files to package cmake_modules"
Not sure if it's normal they have not been moved to:
https://github.com/ros/cmake_modules/

[2013-12-05 23:12] wjwwood commented on #557
Duplicate: https://github.com/ros/catkin/issues/492 :smile:

[2013-12-05 23:12] #557 closed, assigned to nobody

[2013-12-05 23:13] wjwwood commented on #492
One of the issues with doing this is that people currently use it via catkin so moving it would break things. We can do this for Indigo, but for Hydro and Groovy we can only add it to `cmake_modules`.

[2013-12-05 23:14] vrabaud commented on #557
dammit, it was too old for me to look that far down :) Sorry

[2013-12-05 23:14] wjwwood commented on #557
No problem.

[2013-12-07 08:48] wjwwood opened #558 "linkedit error, argument list too long"
When building `librotate_recovery` of the `rotate_recovery` package using the new parallel cmi tool ( #330 ), I get this:

[code]

This leaves only occurs when I use a merged devel space. So that leaves me with some questions:
- Why does this happen only with pcmi and merged devel?
- Is there a bug in how pcmi is extending the environment which causes this behavior?
- Can we unique the list to avo

[2013-12-07 08:50] wjwwood commented on #558
Full log here:

https://gist.github.com/wjwwood/7838736

[2013-12-07 21:49] dirk-thomas commented on #558
The list of libraries returned in `catkin_LIBRARIES` is already been de-duplicated (see https://github.com/ros/catkin/blob/groovy-devel/cmake/catkinConfig.cmake.in#L84).

I think we need more information what exactly happens. Can you please produce a simple reproducible scenario? And compare what is happening in the non-parallel cmi build?

[2013-12-08 00:36] wjwwood commented on #558
Ok, some more information, the command `/tmp/cmi_ws/build/rotate_recovery/cmi_env.sh /usr/bin/make -j4 -l4` is run with this `cmi_env.sh` file which is new, this is the contents of it:

[code]

This is the environment of the `/tmp/cmi_ws/devel/setup.sh` from above:

[code]

As you can see the `CMAKE_PREFIX_PATH` is sane.

I don't believe the cmi command can affect the `find_package` or contents of

[2013-12-08 05:42] wjwwood commented on #558
This also occurs with the non-merged build.

[2013-12-08 19:53] dirk-thomas commented on #558
Can you please provide a minimal workspace to reproduce the issue?

[2013-12-08 21:11] wjwwood commented on #558
It will be difficult to cut down the workspace and context without knowing what the issue is. I will try some permutations, but this is the `rosinstall` file which I am using:

https://gist.github.com/wjwwood/7863525

You can run `pcmi` like this:

[code]

I ran into a few issues building packages in true isolation, but they tend to be missing `include_directories` calls, I opened tickets for a fe

[2013-12-08 21:13] wjwwood commented on #558
You can also use the `--space-suffix` command to easily switch between things like `build`, `build_merge`, `build_install`.

[2013-12-09 01:03] wjwwood commented on #558
The failure also occurs when using `--install`.

[2013-12-09 05:32] wjwwood commented on #558
So... Building with catkin version 0.5.77 in the workspace does not produce the problem, didn't you recently work on the dependency culling?

[2013-12-09 05:37] dirk-thomas commented on #558
Yes, the de-duplication was recently fixed: b476fae740ffea91dc2381e162494dd7f3c16796.

[2013-12-09 05:54] wjwwood commented on #558
I believe this commit is the source of the problem I am experiencing, somehow it is causing CMake to create a Makefile which recursively calls to the linker, increasing the number of linker arguments each time.

I don't yet know why this is happening.

[2013-12-11 19:55] bricerebsamen opened #559 "download_checkmd5 ContentTooShortError"
Hi

I'm using download_checkmd5.py to download a 200MB file from my server, and it always seems to fail with a ContentTooShortError. My server is quite reliable though: using wget I have no issues at all downloading the file.

I tried using urllib2 but it's the same.

[code]

I am now working on a solution using wget...

any idea?

Brice

[2013-12-11 21:48] tfoote commented on #559
Some auto retry logic could be added. Wget defaults to 20 retries. http://www.gnu.org/software/wget/manual/html_node/Download-Options.html

[2013-12-11 21:55] dirk-thomas commented on #559
In order to work reliably the code would need logic to resume a previously aborted download. It could e.g. use PyCurl for this (see http://stackoverflow.com/questions/4533304/python-urlretrieve-limit-rate-and-resume-partial-download).

A pull request for this would be welcome :smile:

[2013-12-11 21:58] wjwwood commented on #559
I believe this stackoverflow is talking about this issue and how you might implement this behavior with Python's urllib:

http://stackoverflow.com/questions/6963283/python-urllib2-resume-download-doesnt-work-when-network-reconnects

[2013-12-12 00:55] bricerebsamen commented on #559
@dirk-thomas OK I'm starting on it

[2013-12-12 01:30] dirk-thomas commented on #559
One comment regarding the code @wjwwood referenced: it does not check if the server actually support the range header. It should do that in order not to stitch together wrong parts of the downloaded file.

[2013-12-13 00:39] hugomatic opened #561 "problem sourcing setup.sh"
This is what I get with setup.sh:

ubuntu@ip-10-217-153-196:~/cloudsim$ . /opt/ros/groovy/setup.sh
close failed in file object destructor:
sys.excepthook is missing
lost sys.stderr
-bash: [: 0: unary operator expected

And this is setup.bash:

ubuntu@ip-10-217-153-196:~/cloudsim$ . /opt/ros/groovy/setup.bash
close failed in file object destructor:
sys.excepthook is missing
lost sys.stderr

[2013-12-13 00:53] dirk-thomas commented on #558
I created a pull request (#562) which should address the issue (at least it fixes the issue for me). Please try and confirm if that fixes the problem for you too.

[2013-12-13 01:00] dirk-thomas commented on #561
It looks like that the executed `_setup_util.py` script fails and later the shell script does not have the variables set it expects. But I need more information in order to figure out what the problem in your case is.

Can you please invoke the python script manually (in the same way as it is called by the `setup.sh` file) and post the result (hopefully an error message / stacktrace)?

[2013-12-13 05:45] wjwwood commented on #558
#562 resolves this issue for me.

[2013-12-13 05:45] #558 closed, assigned to dirk-thomas

[2013-12-13 18:45] hugomatic commented on #561
I did not expect setup.sh to create any temporary files. The setup.sh was probably failing because the disk got full.

[2013-12-13 19:46] dirk-thomas commented on #561
That fits the above description perfectly. If the disk is full `_setup_util.py` fails to pipe the output to the temporary file. Python fails to signal the error before the script is already shutting down. which leads to the `sys.excepthook is missing` (http://bugs.python.org/issue11380).

The solution is:
- actually check the return code of the `_setup_util.py` invocation
- update `_setup_util.py`

[2013-12-14 00:02] #561 closed, assigned to dirk-thomas

[2013-12-20 23:01] vpradeep07 opened #565 "catkinConfig.cmake should strip out 'debug' and 'optimized' attributes from catkin_LIBRARIES"
I'm have a catkin package `A` which adds `debug;bar.so;optimized;bar.so` to the cmake variable `${A_LIBRARIES}`, and thus also adds to `${catkin_LIBRARIES}`:

I also have package `B` that has a build depends on `A`.  When `BConfig.cmake` is generated, the `debug` and `optimized` attributes are stipped out of `${B_LIBRARIES}`. This is done is [catkin/cmake/catkin_package.cmake:249-264](https://gith

[2013-12-20 23:21] wjwwood commented on #565
@vpradeep07 Thanks for the detailed report, can you see if this commit resolves your problem?

https://github.com/ros/catkin/commit/e480140cafcb200402340a0ec125c77379c74ace

I ran into a related problem recently and I think @dirk-thomas fixed the issue you describe here with that commit as well.

Related:

https://github.com/ros/catkin/issues/558
https://github.com/ros/catkin/pull/562

[2013-12-23 21:13] #399 closed, assigned to dirk-thomas

[2013-12-23 21:25] dirk-thomas commented on #565
@vpradeep07 Can you please verify that it works for you when checking out catkin from source into your workspace?

[2013-12-24 05:36] wjwwood opened #567 "env.sh files cannot pass --extend to setup.sh with sh"
`setup.sh` files have an `--extend` option which prepends the `setup.sh`'s space to the environment rather than setting the environment explicitly. `env.sh` files take arguments, source a `setup.sh` file and then `exec` the arguments. In the case of parallel cmi, the `cmi_env.sh` sources multiple `setup.sh` files before executing the arguments which follow. Usually the arguments to `env.sh` files

[2013-12-24 18:22] dirk-thomas commented on #567
There is another way to pass arguments to sourced files. You can set the arguments explictly:

[code]

Can you update your `cmi_env.sh` scripts to use this method for passing arguments when sourcing `setup.sh`?

[2013-12-24 23:06] wjwwood commented on #567
Yes, I can try that. That seems like the better solution. Will you still make the `_setup_util.py`'s argument parsing more strict?

[2013-12-24 23:52] wjwwood commented on #567
I don't have linux handy, @dirk-thomas can you try this commit:

609a950

[2013-12-25 02:25] dirk-thomas commented on #567
The `cmi_env.sh` should also not have `--extend` in the source lines since it does nothing but implies do be effective when read.

[2013-12-26 18:33] wjwwood commented on #567
86a89b2 Should address it then.

[2013-12-31 19:55] vpradeep07 commented on #565
Hey guys, thanks for looking into this issue.
@dirk-thomas All of the tests that I've been running have been using catkin from source.
@wjwwood As requested, I switched to using catkin [`e480140`](https://github.com/ros/catkin/commit/e480140cafcb200402340a0ec125c77379c74ace), and this does not seem to fix the issue.

As mentioned in the original post, [`catkin_package.cmake,L249-269`](https://gith

[2014-01-01 00:38] dirk-thomas commented on #565
Conceptionally catkin should currently do the following:

When ever you build a catkin package it generates a CMake config file as well as a pkg-config file for that package and these only contain the libraries (listed in the package or in any of the dependencies) which equates to the used CMAKE_BUILD_TYPE. The generated files should never include the `debug` / `optimized` flags since they are sup

[2014-01-02 22:10] vpradeep07 commented on #565
I totally agree. I observe this to be true as well

It looks like this is where the misunderstanding is.  For my package `foo`, we are including a cmake extras file with something like the following:

[code]

`foo-extras.cmake` is then manually appending to `foo_LIBRARIES`, and when doing so, also including `debug`/`optimized` flags.

@dirk-thomas From what you've mentioned in the previous post, i

[2014-01-03 03:18] dirk-thomas opened #570 "configuration option to set specific python version"
This should also be used by catkin packages which link against the Python library.

[2014-01-04 00:41] #570 closed, assigned to dirk-thomas

[2014-01-05 06:44] dirk-thomas commented on #565
Yes, extending the libraries variable in your CMake extra file is not (yet) supported by catkin. I thought about how the current handling of libraries could be changed to support your use case. The following should fit the described example and be more robust in general:

First the `catkinConfig.cmake` should take the libraries variable of each component and merge them into the `catkin_LIBRARIES`

[2014-01-06 13:03] roehling commented on #153
I started work on a catkin linter recently. It's a static analyzer with a simple cmake parser that can handle the most common constructs.

https://github.com/fkie/catkin_lint

[2014-01-06 18:54] dirk-thomas opened #573 "provide python install function which rewrites shebang lines"

[2014-01-06 21:38] vpradeep07 commented on #565
@dirk-thomas I checked out [#575](https://github.com/ros/catkin/pull/572) - 8ec3803, and it fixes the issue in our codebase as well

Thanks for looking into this issue!

[2014-01-06 21:43] dirk-thomas commented on #565
Great, thank you for trying and confirming it.

[2014-01-06 23:28] #573 closed, assigned to dirk-thomas

[2014-01-07 17:44] hersh opened #576 "catkin_make run_tests returns success even when tests fail."
The result code returned by "catkin_make run_tests" and by "cd build; make run_tests" in a catkin workspace is 0 (success) even when tests have failed.

This makes it difficult to script automated testing, since Travis (for one) runs every line in its script until one fails, as determined by the result code.

In ros_comm's .travis.yml, I found this pile of stuff, which I believe is a workaround fo

[2014-01-07 18:02] wjwwood commented on #576
You have to run `catkin_test_results`. In order for `run_tests` to run all tests even if some fail part way through it cannot return a different return code. You can use the CTest target, `test`, also which will return the code you are looking for but will not generate correct test XML output.

[2014-01-07 18:07] hersh commented on #576
OK, cakin_test_results does seem to do the right thing.

What is all the other junk for in that ros_comm .travis.yml file?  Maybe it predates catkin_test_results?

[2014-01-07 18:09] wjwwood commented on #576
That might have been from a point where `catkin_test_result` did not work recursively, but I'm not sure.

[2014-01-07 18:12] hersh commented on #576
OK, I'm satisfied.  I'll close this.  It would be helpful if the catkin docs and/or the "USAGE" line for catkin_test_result described the result code behavior.

Thanks for your help!

[2014-01-07 18:12] #576 closed, assigned to nobody

[2014-01-07 23:34] #559 closed, assigned to nobody

[2014-01-16 13:08] herbrechtsmeier opened #579 "Don't expect full paths in the varialbe CMAKE_PREFIX_PATH"
Catkin interprets the paths of the variable `CMAKE_PREFIX_PATH` as full paths which is not always true and is different to the usage of CMake. CMake uses the variable `CMAKE_PREFIX_PATH` together with the variable `CMAKE_FIND_ROOT_PATH`.

[1]: The CMake variable `CMAKE_FIND_ROOT_PATH` specifies one or more directories to be prepended to all other search directories. ... It is especially useful whe

[2014-01-16 22:29] wjwwood commented on #579
Can you point out where this assumption is made, or give a situation where it causes a problem for you?

[2014-01-17 08:58] herbrechtsmeier commented on #579
More or less all usages of the variable CMAKE_PREFIX_PATH. For example take a look at the CMake files [cmake/toplevel.cmake#L42](https://github.com/ros/catkin/blob/2cd54db7ffca6292fdcb7be22585823346a2a884/cmake/toplevel.cmake#L42) and [cmake/all.cmake#L47](https://github.com/ros/catkin/blob/2cd54db7ffca6292fdcb7be22585823346a2a884/cmake/all.cmake#L47) or the Python files [cmake/templates/_setup_ut

[2014-01-21 18:14] dirk-thomas commented on #567
This is problem in sourced shell scripts in general. The workaround is the right way to address this. Therefore closing this ticket.

[2014-01-21 18:14] #567 closed, assigned to nobody

[2014-01-21 18:29] dirk-thomas commented on #579
Currently catkin uses options like `NO_CMAKE_FIND_ROOT_PATH` in several cases when finding stuff. While that is the case I think it doesn't make much sense to support the `CMAKE_FIND_ROOT_PATH` in the mentioned cases. So the scope of this ticket would be much wider then as described in the initial comment.

[2014-01-21 20:12] herbrechtsmeier commented on #579
@dirk-thomas The `CMAKE_PREFIX_PATH` always contains absolute paths but this doesn't mean that it contains the real (full) path on the system. Therefore the paths of the `CMAKE_PREFIX_PATH` will be prepended with one of the paths of the `CMAKE_FIND_ROOT_PATH`. This effectively "re-roots" the entire search under given locations.

Please take a look at the [CMake Cross Compiling](http://www.cmake.or

[2014-01-21 20:13] dirk-thomas commented on #579
Related to #379

[2014-01-21 21:12] dirk-thomas commented on #579
The following parts in catkin use `NO_DEFAULT_PATH` / `NO_CMAKE_FIND_ROOT_PATH`:
- https://github.com/ros/catkin/blob/groovy-devel/cmake/catkinConfig.cmake.in#L71

  `NO_DEFAULT_PATH` seems reasonable since we already have a list of paths to search in. `NO_CMAKE_FIND_ROOT_PATH` might be removed to allow prefixing every path with an optional list of roots? Either the paths variable need to be const

[2014-01-21 23:50] bricerebsamen commented on #565
Today, after updating ros-hydro-catkin to 0.5.79-0precise-20140109-2249-+0000, I ran into some build issues with one of my packages. When I use set(CMAKE_BUILD_TYPE Debug) I get CMake warnings:

[code]

followed by undefined symbols linker erros

If I remove the set(CMAKE_BUILD_TYPE Debug) line then it compiles fine.

I also tried with the latest version of catkin from github (it seems to be the s

[2014-01-22 00:22] dirk-thomas commented on #565
Can you please describe which packages/repos your have checked out in your workspace in order to reproduce the issue?

[2014-01-22 01:02] bricerebsamen commented on #565
it's my own packages and they are not public. Basically, all my packages are built without setting CMAKE_BUILD_TYPE, except for the last one, which depends on all of the others, and which has the CMAKE_BUILD_TYPE set to debug.

I tried to reproduce it in small scale, with a clean workspace with 3 packages A, B, C, where A and B both generate a library, and C would link to those libraries with CMAK

[2014-01-22 01:04] dirk-thomas commented on #565
It will very likely be related to your dependencies. On what other packages do your packages depend on?

[2014-01-22 01:06] wjwwood commented on #565
More specifically do you depend on PCL?

Also, could you privately send the output of `${catkin_LIBRARIES}`? You could even anonymize the names of the libraries, it's really the ordering and position of the keywords which matter.

[2014-01-22 01:28] bricerebsamen commented on #565
Yes, my package (tmcoloring) does depend on PCL. This is what I get from 'message(${catkin_LIBRARIES})' in tmcoloring's CMakeLists (when set(CMAKE_BUILD_TYPE Debug) is commented out)

[code]

[2014-01-22 01:58] dirk-thomas commented on #565
I just tried a simple package which uses `pcl_ros` and the content of the `catkin_LIBRARIES` variable looked ok. Have you tried a clean build (remove build/devel folders before invoking catkin_make)? Please provide a minimal example to reproduce the problem.

[2014-01-22 02:35] bricerebsamen commented on #565
well I can't reproduce it with a simple set of packages.

However, when I build with catkin at tag 0.5.77 (which was what I had on my system until yesterday), the problem disappears.

here is the catkin_LIBRARIES then (in debug mode)

[code]

using git bisect on catkin, I found that commit a71dfdb9a52dfcbe1dada6b10019404e2235bb7c contained the problem

[2014-01-22 02:46] dirk-thomas commented on #565
Without an example I am not able to track down the problem since it does not happen for any other package in desktop-full in Hydro. Please consider stripping down your package into a form which can be shared.

[2014-01-22 06:19] vpradeep07 commented on #565
@bricerebsamen Looking at your output from `message(${catkin_LIBRARIES})`, it looks like something is going wrong with how opencv is being added in your CMakeLists.txt.

As a shot in the dark, by any chance are you calling `find_package(OpenCV)` somewhere and then manually adding it to `${catkin_LIBRARIES}`?  Or, maybe are you adding the results of `find_package(OpenCV)` into catkin some other?  M

[2014-01-22 09:53] herbrechtsmeier commented on #579
If you invoke find_package()  without a list of paths you need to remove the `NO_DEFAULT_PATH`. At the moment the paths variable is always empty if you use a ``CMAKE_FIND_ROOT_PATH` because the `if(EXISTS "${path}/.catkin")` in the  workspace detection fails.

Either the paths variable need to be constructed with support for the root path logic or find_package() should be invoked  without a list o

[2014-01-22 22:22] dirk-thomas commented on #565
It would already help if you would provide your CMakeLists.txt file(s) (and optionally CMake extra files if you have some). If you don't want to share even those publically you might consider sending them by email to me.

[2014-01-23 02:44] bricerebsamen commented on #565
Dirk: I sent you some files. I sent it to your willowgarage address,
hope it's still valid.

I checked where would the OpenCV libs could come from, here are some
possibilities
- in packages that build a library that need OpenCV, I list OpenCV as
  DEPENDS in catkin_package()
- and I tarket_link_libraries the built library with OpenCV, e.g.:
  target_link_libraries(${PROJECT_NAME} ${catkin_LIBRARIE

[2014-01-25 01:25] dirk-thomas commented on #565
With your example files I was able to boil it down to a smaller example where the same problem happens.

[2014-01-27 17:36] dirk-thomas commented on #565
@bricerebsamen Can you please checkout catkin from the branch `fix_library_deduplication` (pull request #580) into your workspace and verify that it fixes your problem? It worked for my stripped down workspace but I want to make sure that it also fixes the problem in your unchanged workspace.

[2014-01-27 19:48] bricerebsamen commented on #565
yes it fixes it. Thanks

On 01/27/2014 09:36 AM, Dirk Thomas wrote:

[2014-01-27 19:55] dirk-thomas commented on #565
Thanks for testing it so promptly. I will go ahead with the merge and like a release very soon.

[2014-01-27 19:56] #565 closed, assigned to dirk-thomas

[2014-01-28 17:12] dirk-thomas opened #581 "catkin_package() does not accept EXPORTED_TARGETS"
Despite the API doc the function does not accept this argument.

As a workaround set the variable `${PROJECT_NAME}_EXPORTED_TARGETS`.

[2014-01-28 17:13] #581 closed, assigned to dirk-thomas

[2014-01-29 18:01] dirk-thomas commented on #492
Ticket filled for `cmake_modules` to readd the same functionality there: https://github.com/ros/cmake_modules/issues/10

[2014-01-29 19:07] dirk-thomas opened #582 "remove deprecated functions in Indigo"
- add_gtest
- add_nosetests
- download_test_data
- parse_arguments
- ros/catkin/issues/492

[2014-01-29 21:02] dirk-thomas commented on #492
Closed by a94d0415d7b7168eb0f49e490decb6835719aa94

[2014-01-29 21:02] #492 closed, assigned to dirk-thomas

[2014-01-29 21:02] dirk-thomas commented on #582
Closed by 458b2fbe4c0e5123793a824b1391c2a12a07ef46

[2014-01-29 21:02] #582 closed, assigned to dirk-thomas

[2014-01-30 10:32] dpinol opened #583 "actionlib from dry: Unknown CMake command "debug_message""
Hi,
after hydro update from 28/1/2014, when I try to compile a dry stack which uses actionlib, I get the error below. I guess it's due to the fact the actionlib needs calling some commands before rosbuild_init()

My workaround is adding this line at the top of CMakeLists.txt

[code]

[code]

This is my CMakeLists.txt

[code]

[2014-01-30 10:40] dpinol commented on #583
Test package available at https://github.com/dpinol/ros_tests/tree/master/debug_message

[2014-01-30 16:37] #583 closed, assigned to dirk-thomas

[2014-01-30 16:40] dirk-thomas commented on #583
This is indeed a regression of 6bf2e6ee4ae4b38cfd4f164c3ab539305be7221c. Thank you for pointing it out. I will release a fixed version very soon.

[2014-01-31 15:17] dpinol opened #584 "escaping ROS_PACKAGE_NAME fails when set cmake version at rosconfig"
Related to ros/roscomm#245 :

Please try this:
1) Create a "/opt/ros/hydro/share/ros/rosconfig.cmake" file with only this contents

[code]

2) Create a dry package which uses a rosconsole macro and compile it (eg. https://github.com/dpinol/ros_tests/tree/master/cmake_policy) with "make VERBOSE=1". You'll see that it has the wrong scaping for the package name: -DROS_PACKAGE_NAME="'\"cmake_policy\"'

[2014-01-31 16:53] dirk-thomas commented on #584
Moved to ros/ros#43.

[2014-01-31 16:53] #584 closed, assigned to nobody

[2014-02-02 23:58] muratsevim opened #585 "Incorrect GTEST_INCLUDE_DIRS"
I usually checkout gtest into the workspace as suggested by catkin to compile the tests.
Catkin can find gtest:

[code]

The `GTEST_INCLUDE_DIRS` variable is set to `/Users/murat/catkin_ws/src/gtest/include/gtest`. However, it should be `/Users/murat/catkin_ws/src/gtest/include` or both. Otherwise `#include <gtest/gtest.h>` does not work which is how most ros libraries include gtest.

I am using H

[2014-02-03 15:44] #585 closed, assigned to dirk-thomas

[2014-02-03 15:48] dirk-thomas commented on #585
Thanks for reporting the problem. The issue has been fixed on the _indigo-devel_ branch for now. Since we just released catkin the next release might take a while but then it will be backported for hydro.

[2014-02-03 16:40] dpinol opened #586 "warning with cmake 2.8.12.2:Argument not separated from preceding token by whitespace"
When compiling a dry package with cmake 2.8.12.2, I get this warning
You can try it with: https://github.com/dpinol/ros_tests/tree/master/cmake_policy

The fix consists in quoting the second argument of the add_custom_target call (escaping the echo's quotes)

[code]

[2014-02-03 20:40] mikeferguson opened #587 "catkin_generate_changelog adds unicode contributor names, causes bloom-release to fail"
catkin_generate_changelog does not clean the names of contributors, and thus bloom-release later fails if you didn't catch that a particular contributor's name contains unicode. The error message from bloom-release also doesn't really tell you where the unicode came in, making it quite difficult to track down.

I presume adding  unicode support to bloom-release is probably nastier than simply remo

[2014-02-03 21:04] tfoote commented on #587
What version of bloom are you using? I think this was patched https://github.com/ros-infrastructure/bloom/pull/210

[2014-02-03 21:07] mikeferguson commented on #587
First try was with 0.4.7, I got warnings about a new release, I updated to 0.4.8-1 but it still crashed the same way. My traceback looks a bit different:

[code]

[2014-02-03 21:07] wjwwood commented on #587
https://github.com/ros-infrastructure/bloom/pull/210 should be in `bloom` 0.4.5+, though there may still be lingering errors with `empy` (the templating library we use) not supporting unicode correctly. Can you provide the bloom log, it will be located in `~/.bloom_logs`.

[2014-02-03 21:09] wjwwood commented on #587
Yeah, that is a bug in `empy`, I think our hands are tied as the version of `empy` in debian will not likely change anytime soon. You might be able to get `empy` from `pip`.

[2014-02-03 21:10] mikeferguson commented on #587
https://gist.github.com/mikeferguson/f0768c2d4df4a3bd8cdf is the full log

[2014-02-03 21:16] wjwwood commented on #587
This is the relevant bloom issue: https://github.com/ros-infrastructure/bloom/issues/196

I am going to close this one as a duplicate of that one.

[2014-02-03 21:16] #587 closed, assigned to nobody

[2014-02-03 21:20] mikeferguson commented on #587
Thanks for the feedback, I'll try out getting a new empy later.

[2014-02-03 22:32] muratsevim commented on #585
Thanks. Manually applying the fix worked for me.

[2014-02-04 13:06] dirk-thomas commented on #585
Thank you for confirming - that is always good to know.

[2014-02-04 14:12] bulwahn opened #588 "make rostest build dependency in CMakeLists.txt optional"
We want to make the rostest build dependency in the CMakeLists.txt of all ROS packages optional.

This shall been done by the refactoring the CMakeLists.txt from:
`find_package(catkin REQUIRED COMPONENTS [...] roscpp rostest)
[...]
if(CATKIN_ENABLE_TESTING)
  [...]
endif()`

to:

`find_package(catkin REQUIRED COMPONENTS [...] roscpp)   [! drop rostest !]
[...]
if(CATKIN_ENABLE_TESTING)
  find_pack

[2014-02-04 14:13] dirk-thomas commented on #588
We should not list that under `catkin` but under `ros/rosdistro`. I will move your ticket there.

[2014-02-04 14:13] #588 closed, assigned to nobody

[2014-02-04 14:15] bulwahn commented on #588
Okay. Go ahead and please update the commit message to refer to the new issue.

[2014-02-05 11:43] dirk-thomas commented on #586
Moved to ros/ros#44.

[2014-02-05 11:43] #586 closed, assigned to nobody

[2014-02-12 05:17] trainman419 opened #591 "catkin_make should check that src/CMakeLists.txt points to a valid file"
I recently rebuilt the ROS underlay on my system and moved it to a new location, which broke the src/CMakeLists.txt symlink in one of my overlays.

catkin_make was not happy about this:

[code]

This is fairly easy for an experienced user to fix (just remove the broken symlink), but I also think it should be fairly easy for catkin_make to detect that the symlink exists and points to a file that do

[2014-02-13 16:17] baxelrod-bdai opened #592 "Catkin should provide a tool for testing if a rosbuild package can be catkinized"
Before catkinizing your package(s), you need to check if all dependencies are catkinized.  For a large stack with many dependencies, this can be lengthy and annoying.  I wrote some small bash script functions to do this for you:

[code]

[2014-02-13 17:18] dirk-thomas commented on #592
Since a bash script is not portable I it not likely to be integrated. Would you consider to write and contribute a Python script with the same functionality?

In Python you would also not call `rospack` / `catkin_find` but use the available API of `rospkg` (and eventually `catkin_pkg`).

[2014-02-25 00:44] #591 closed, assigned to dirk-thomas

[2014-02-28 15:55] NikolausDemmel commented on #304
Having read up a bunch on this in old threads just now, it seems a couple fruitful discussions and ideas have been abandoned since, or where would one find the most recent developments on this topic?

[2014-02-28 16:05] tkruse commented on #304
Hi Niko,

as far as I can remember the last time those things were discussed was here:
https://code.ros.org/lurker/message/20130205.233149.6624b156.en.html

I believe my last post there summarized what was discussed online and in live meetings. Not sure whether anyone still has the meeting notes from those meetings.

This was shortly before Willow Garage announced it's "Change" and afterwards prio

[2014-02-28 16:23] NikolausDemmel commented on #304
That's a shame. I was looking into ways to bring rosemacs up to speed with catkin & co without extensive hacking and this would be one component to that end (but immensly useful even without considering rosemacs).

[2014-02-28 17:13] NikolausDemmel commented on #304
It seems yujin_tools [1] has quite a large set of convenience tools. Instead of a marker file they use a cmake cache file that lives on workspace top level.

[1] https://github.com/yujinrobot/yujin_tools

[2014-02-28 17:50] tkruse commented on #304
I don't see at a glance where yujin_tools does that.

An initial goal of catkin was to heavily rely on cmake concepts rather than using ros-specific things like the ROS_PACKAGE_PATH, or a .rosinstall file. This might be a good decision if you do not want to provide other convenience tooling for the build process, such as rosbuild did. Initially there should not even have been a catkin_make script.

[2014-02-28 17:55] NikolausDemmel commented on #304
If you checkout the init tools [1], there is `yujin_init_build`, which generates a `config.cmake` which some relevant info for running cmake inside a build folder. I'm not saying this can replace the proposed marker file for all use cases, but it can for some, e.g. cleaning by wiping the build folder and the reconfigure with the same set of options (at least for basics like src/devel/build/install

[2014-02-28 18:11] dirk-thomas commented on #304
The ticket is marked with the milestone "untargeted" because the maintainer (which is me) does not expect to spend any time on this feature. If someone would like to add such a feature and takes the lead on this, figures out the details and solves all related problems I am more than happy to discuss proposed concepts if they are detailed enough and  also integrate the changes if they are small (or

[2014-02-28 18:16] NikolausDemmel commented on #304
@dirk-thomas: I completely understand your position as the maintainer. After reading quite large amount of discussion happening about a year ago, I was just curious where this went since. However @tkruse 's answer with regards to Willow makes sense.

[2014-02-28 18:18] dirk-thomas commented on #304
@NikolausDemmel The "lack of progress" on this ticket is not related to the changes at Willow. The catkin package has been very actively maintained and developed in the last year when looking at the number of addressed bug and feature request in that time frame.

[2014-02-28 21:28] tkruse commented on #304
Nobody suggested that there is not enough catkin maintenance, so no need to get defensive.

I know that if willow had not changed, I personally would have continued to actively pursue this issue, instead of letting it be left untargeted.

There was already consensus about a marker file that has no problems, such as there being merely an empty marker file marking the workspace root, allowing to inv

[2014-02-28 21:56] dirk-thomas commented on #304
The so called "consensus" has imo several severe drawbacks and not even close to a solid "solution".

I will give just one simple example - consider calling the following commands:

[code]

Afterwards when invoking `catkin_make` without any arguments it is currently the case that the debug build with its default build folder is invoked again. With your approach the release build would be selected

[2014-03-01 01:26] tkruse commented on #304
All those cases had been considered, and the result was that even with these drawbacks catkin_make would be extremely more useful to most ROS users (maybe not to you) than in it's current state. Considering these cases again will not change that result.

There are simpler alternatives with less conflict available, such as an empty marker file, or a marker file only specifying the sourcespace (for

[2014-03-01 15:50] jack-oquin commented on #304
:+1:

[2014-03-01 19:07] wjwwood commented on #304
From my perspective if you (or anyone else in the community) thinks that the idea is free of conflicts and ready to be acted on, then there is nothing stopping you from acting on it. I just don't see anything blocking a pull request or a prototype in another repository.

As a maintainer of catkin, if an idea presented by the community has been presented in a clear manner and in my opinion is feasi

[2014-03-02 10:08] tkruse commented on #304
@wjwwood : progress has been made on this discussion. I offered the possibility to reduce the issue to:

"catkin should provide a python function to retrieve the location of the respective workspace root given any file path that is below that workspace root, where workspace root refers to the folder in which the catkin_make command is viable"

(workspace root as opposed to the source space, which

[2014-03-02 12:05] NikolausDemmel commented on #304
http://youtu.be/FONN-0uoTHI :) -- I can relate to all your opinions why progress hastn't been made as quickly as would have maybe been expected given the wealth of discussion early 2013. I value all contributions to the discussion, raising of concerns and suggestions for solutions. In the end for me it only matters what will happen in the future.

@tkruse Just as a side note (I'm not saying a mark

[2014-03-02 19:07] dirk-thomas commented on #304
@tkruse Please provide a pull request against _indigo-devel_ to add the feature as you suggested it. We can discuss the details in that pull request and merge it as soon as possible. If it doesn't change existing API / naming it can also be backported to _groovy_ and _hydro_.

@NikolausDemmel The yujin tools have the advantage to limit their supported use cases to a subset of the potentially gener

[2014-03-03 09:17] tkruse commented on #304
I will see if and when I have time to make a PR.

@NikolausDemmel : In the consensus of last year, it was agreed that in the _default_ usage catkin_make would also only support single-build-folder workflows.
This is stated in the first sentence of the first post here:
https://groups.google.com/forum/#!topic/ros-sig-buildsystem/_1PWeIZvAbw/discussion
The reason then as well as now is that 99% of RO

[2014-03-03 20:24] tkruse commented on #304
#603

[2014-03-06 04:10] ahundt opened #605 "Catkin configure time does not scale"
As the number of packages utilized grows, the configuration time grows at an excessive rate. Once the number of packages reaches 140, the configure time can exceed 5 minutes. It actually appears to grow exponentially.

I have worked on a utility similar to Catkin that provides a solid point of comparison called CMake BASIS. https://github.com/schuhschuh/cmake-basis

Here is a chart showing the abs

[2014-03-06 05:30] wjwwood commented on #605
Interesting results. I would like to understand why catkin appears to be slower in this context, but I have some questions about your results.
- How did you perform these tests?
- What packages did you use?
- Did you use the same packages for each of the systems?
- Can I reproduce these results some how?
- Did you use a single CMake invocation on a pure catkin workspace (catkin_make) or did you us

[2014-03-06 05:59] ahundt commented on #605
I'll give you the info I can, sorry much of it has to be vague and meta-info but I don't have permission to release actual source code.

Catkin:
Used an existing project build system with 140 packages for a project + catkin_make

BASIS:
Set up 12 packages with the CMakeLists.txt files ported to no longer use python or catkin calls except for ros_messages, then specified the dependencies in the sam

[2014-03-06 06:35] wjwwood commented on #605
You mean you extrapolated to estimate the time BASIS would take or you extrapolated the packages you used (repeated them or something)?

I guess you mean `package.xml`?

That sounds awful :smile:, but definitely faster. We chose to use Python for some of the functions (topological sorting) for two reasons:
1. Our sanity
2. Reuse outside of the build system

Ok, it may be the case that switching ba

[2014-03-06 16:53] ahundt commented on #605
Extrapolated the time BASIS would take, the pure cmake and the catkin versions were tested with all 140 packages.

I would say that's accurate. :+1:

yeah

We considered this but it hasn't proven practical. That would mean each of our developers (~30) has to know all of the details of ROS to set up their own tree. Some only work briefly on the project so that is definitely not the case. Also, if s

[2014-03-06 16:56] dirk-thomas commented on #605
We are building complete ROS distributions frequently in a single workspace (with several hundred packages) and have never experienced anything like "exponential configure time". So I would be a little bit surprised if that would be very different for any different set of packages.

I am certain that catkin is slower than other solutions - especially when they are pure CMake and not utilizing exte

[2014-03-06 16:57] ahundt commented on #605
In the case of BASIS I stripped out Catkin functionality to replace it with the corresponding BASIS functionality. The net effect was that very little or none was lost, and some other functionality was added. The overlap is very high but I can't guarantee there is some simple function in one that isn't in the other.

[2014-03-06 17:01] dirk-thomas commented on #605
The performance of the topological sort is neglectable since it is a one-time cost in the beginning of the configure step and takes never more than a few seconds. While calling Python for that algorithm implies additional costs (a fraction of a second) it can not be responsible for an exponential runtime growth as you describe it.

[2014-03-06 17:10] ahundt commented on #605
You are probably right, I was merely speculating on the source of the problem.

I'll see what additional info I can get to you, but I figured a vague report would be better than none at all.

[2014-03-06 20:07] tfoote commented on #605
A vague report is useful. However it's hard to reconcile your report with our experience.

As a spot check I checked out all 187 catkin packages in the desktop variant and it configures in 63 seconds on my desktop. Which is very different from your chart suggesting that should take hundreds of seconds.

How to reproduce below. with full console output: https://gist.github.com/tfoote/329af04fb21675

[2014-03-10 00:31] stonier commented on #304
Our main motivation for the [yujin_tools](https://github.com/yujinrobot/yujin_tools) scripts was initially for doing parallel builds (cross-compile and native), but it expanded to include alot of the things getting discussed here so I thought I'd chime in.

When setting out to work on them I was also frustrated with `catkin_make` and initially wanted to push things into catkin as well. I don't thi

[2014-03-10 08:38] tkruse commented on #304
Hi Daniel,
I am not too concerned about power users, and yet I think Dirk is both a Power user, and he intended to write a tool for power users as a main target audience, where power users in his mind want tools that just do one thing each, and have no convenience bloat. Power users have the competence to write their own scripting for their specific needs.
In that respect I believe catkin_make alr

[2014-03-10 20:43] tfoote commented on #304
Hi guys, please do not use ad hominem arguments they are not appropriate
for this sort of discussion.

[2014-03-11 09:06] tkruse commented on #304
http://en.wikipedia.org/wiki/Ad_hominem
"An ad hominem (Latin for "to the man" or "to the person"[1]), short for argumentum ad hominem, is a general category of fallacies in which a claim or argument is rejected on the basis of some irrelevant fact about the author of or the person presenting the claim or argument."

I did not reject Dirks stance based on any fact about him as a person, so I did n

[2014-03-12 01:54] NikolausDemmel commented on #380
It seems it is not realistic to expect this to be solved in the near future. The issues pointed out by @dirk-thomas seem quite substatial. I'm asking because we then need to teach homebrew how to install the setup files, which is non trivial (https://github.com/ros-infrastructure/bloom/issues/254).

[2014-03-13 06:27] thomas-moulard opened #606 "Catkin should allow CMake modules to be installed in lib"
Catkin does not consider CMAKE_MODULE_PATH when it looks for package.

It prevents it from finding CMake modules in `$prefix/lib/$package`.
This is sometimes needed as `share` directory contain architecture independent files only. As `xxxConfig.cmake` is sometimes architecture dependent, it should not be installed there (and should be move to `lib` folder instead).

At `/opt/ros/hydro/share/catkin

[2014-03-13 20:58] dirk-thomas commented on #606
The line you referenced is only valid for finding catkin packages. How would the CMake config file of a catkin package ever be in a different location? `catkin` generates the CMake config file automatically for catkin packages and there is no way to override its location. Why should it then look in other locations? Or are you suggesting that the location of the generated CMake config file should b

[2014-03-14 04:55] thomas-moulard commented on #606
My bad. My mistake was to look for a non-catkin package here. As I got the usual CMake error one gets when the package is not installed I didn't think I was misusing the API.

Closing this one.

[2014-03-14 04:55] #606 closed, assigned to nobody

[2014-03-14 05:29] dirk-thomas commented on #606
No problem. Thanks for closing it.

[2014-03-16 10:29] tkruse commented on #304
While we are at it: another theoretical alternative would be to undo this other bad design decision about catkin_make, that setup.sh needlessly sets build environment parameters, like IMO abusing the cmake_prefix_path to allow runtime lookup of packages and chaining workspaces. This was once "justified" by saying that a catkin workspace is merely yet another cmake project (which would not really j

[2014-03-17 19:50] ahundt commented on #605
A fellow developer also mentioned the following:

[2014-03-19 11:44] NikolausDemmel commented on #304
Thanks @tkruse for that interesting point I was not conscious about. What exactly do you classify as runtime environment? Everything needed to find packages and run executables? Or is there more to it?

[2014-03-19 14:18] tkruse commented on #304
Just that rosrun/roslaunch work.  With rosbuild both run and build env were prepared by sourcing setup.sh, and it made sense. In catkin, that is much more problematic.

[2014-03-20 14:06] NikolausDemmel commented on #304
OK, this also means splitting up env_hooks into build and run env hooks. I'll keep this on my list of things to possibly look into one day.

[2014-03-24 00:02] cottsay opened #610 "Add DEFINES to catkin_package"
It would be useful to add the ability to define preprocessor values in dependent packages, so something like:

[code]

On the other side, catkin would use (for example):

[code]

to add the define to the downstream project.

Thoughts?

[2014-03-24 00:39] wjwwood commented on #610
Being able to pass the variable along is currently possible using an extras file.

It seems logical to extend `catkin_package` to allow for `DEFINES` in addition to the existing things (`LIBRARIES` and `INCLUDE_DIRS`). However, I'm not sure if catkin should automatically pass those `DEFINES` to `add_definitions`. This would be the equivalent to it automatically passing `INCLUDE_DIRS` to `include_d

[2014-03-24 00:44] cottsay commented on #610
Yes. This makes perfect sense.

I understand. Thanks for the guidance.

I'll look into generating a PR. Thanks for looking into this!

[2014-03-31 20:56] wjwwood opened #611 "recommend catkin build over catkin_make"
Once the `catkin build` command (part of https://github.com/catkin/catkin_tools) has become stable, we should document the differences in workflow for `catkin_make` and `catkin build` and print a message at the end of each `catkin_make` invocation to this effect:

[code]

This will require that the referenced documentation exists: https://github.com/catkin/catkin_tools/issues/22

We should target

[2014-03-31 21:00] jbohren commented on #611
+1

[2014-03-31 22:01] dirk-thomas commented on #611
Please ensure that all current use cases are covered with the new tool before recommending its use.

[2014-03-31 22:05] wjwwood commented on #611
Of course, that was what I was implying with the "Once the catkin build command (...) has become stable" part.

[2014-03-31 22:11] dirk-thomas commented on #611
I was referring especially to all the _special_ use cases which have been added in the past (jusy some recent examples):
- building in  locations with white spaces
- using DESTDIR
- use underlay workspaces when calculating topological order
- completion for options like `-DCMAKE_BUILD_TYPE` and `-DCATKIN_ENABLE_TESTING`

[2014-03-31 22:21] wjwwood commented on #611
I understand, and I could use help collecting all of these outstanding issues, for instance white space in folders seems to trip it up: https://github.com/catkin/catkin_tools/issues/23

[2014-04-03 08:31] po1 commented on #20
Any progress on this?
There was a discussion some time ago about adding semantic versioning and a more debian-y way to make ROS debians.
To me, this also calls for spliting debians, at least into separate a `-dev` package and a binary lib package. The former with only the API version, the latter with the ABI version in the SONAME.
Are there any plans to split a ROS package `foo` into any subset of

[2014-04-03 15:17] dirk-thomas commented on #20
As you can see in the previous comment this ticket had been moved to bloom as it is related to packaging only. That ticket is marked with the milestone "untargeted" which implies that nobody is actively working on it and none of the maintainers is planning to spend time on this ticket.

If you would like to contribute to this feature that would be more then welcome but it would likely require a ve

[2014-04-03 17:38] tfoote commented on #20
Stripping the debug flags is probably on the dooable side. I have a branch I played with this 2 years ago. https://github.com/tfoote/catkin/tree/fix_issue_20 It is way out of date, and as the above ticket mentions its implementation would want to mostly move to bloom.

The other splits are much harder because the differentiation is more semantic and we would need to allow/require the maintainer/de

[2014-04-03 17:40] wjwwood commented on #20
And dependencies.

[2014-04-04 17:17] dirk-thomas commented on #605
Please consider providing e.g. a list of command sequences, a rosinstall file, or something similar which makes it possible to reproducible the issue.

Otherwise I will have to close this ticket simple because our tests did not show any similar performance issues and there is not enough information to perform any further investigation on this.

[2014-04-04 17:23] dirk-thomas commented on #153
I will close this ticket since this won't be a feature provided by catkin itself but from a different package.

[2014-04-04 17:23] #153 closed, assigned to nobody

[2014-04-04 17:23] dirk-thomas commented on #541
Related to #610.

[2014-04-04 17:52] ahundt commented on #605
Create a test case where there are 20 packages each with 20 real dependencies where an actual find or config script needs to be run, and I believe you will start to see the slowdown occur. I'm sorry I can't give you more but our real code is proprietary so I can't get permission to release it.

I did try to get permission to release what we could, specifically our generate_messages() enhancement a

[2014-04-04 18:02] wjwwood commented on #605
Unfortunately, we don't have time to construct a workspace which may or may not expose the behavior you're talking about. If, in the future, you can provide a subset of your system (even in private channels) which we can test against and reproduce the behavior, then we will look into it. Until then I would say that we will have take no action, but perhaps your description of the problem will allow

[2014-04-04 18:11] ahundt commented on #605
I agree, this is an unfortunate barrier. Earlier someone mentioned that they checked out all 187 catkin repositories. What about simply, for a quick test, peppering some extra fake dependencies on other catkin repositories throughout?

That would probably only take a short time to test, especially if you could use a nice little 1 liner sed script or something to add fake dependencies to all 187 pa

[2014-04-05 01:31] dirk-thomas commented on #605
@ahundt That sounds like a feasible way. Please go ahead and put together all these commands and measure the configure time you get before and after extending the dependencies. If there is a significant increase please share your command sequence so that we can reproduce and look into it.

[2014-04-09 01:48] mikepurvis opened #617 "Advanced bootstrap doc out of date"
This one: http://docs.ros.org/hydro/api/catkin/html/adv_user_guide/underlay.html

Mostly noticed the web-rosinstall stuff, but in general, this seems like almost total duplication of the [source install instructions](http://wiki.ros.org/hydro/Installation/Source) from the wiki. One of them should probably disappear and reference the other.

[2014-04-09 17:47] dirk-thomas commented on #617
Thanks for reporting this.

I just removed the underlay doc (80a9751c1dce1c79905fc83aeaab2f1d3736cabd, 9a5da56c7ecfc456c2cb73124432eaf2fcc482b2) since the content is covered by now by the sibling doc `howto` as well the ROS wiki page for installing from source.

[2014-04-09 17:47] #617 closed, assigned to nobody

[2014-04-12 22:48] wjwwood commented on #611
W.r.t. the underlay workspaces: https://github.com/catkin/catkin_tools/issues/30

[2014-04-20 18:09] jack-oquin commented on #440
Please assign this to me. I'll work on it as soon as I can find time.

[2014-04-21 17:16] wjwwood commented on #440
That'd be great @jack-oquin, let me know if you need help or someone to review it.

[2014-04-21 17:48] jack-oquin commented on #440
I'll certainly need reviewers, but the actual writing should not take long.

I plan to keep a copy of the format1 version, so users can refer to either. Format2 will be the recommended version, but there will still be format1 packages around for years. I think clearly separate docs will be less confusing for the readers.

[2014-04-23 15:18] Yeraze commented on #605
Has there been any progress on this?

I have a project using Catkin (just for a piece of it, not all) and a `make -j4` when I change _nothing_ takes over 2 minutes just to realize nothing has changed..  Prior to integrating catkin (Raw CMake) it took about 5 seconds.

[2014-04-23 16:21] dirk-thomas commented on #605
As mentioned before on this ticket: someone needs to provide a ready-to-user example which demonstrated the issue since we do _not_ have the problem for normal workspace (e.g. when building hydro desktop). Without any such input there will be no action from the maintainers.

[2014-04-23 16:24] Yeraze commented on #605
Well, when building the Hydro desktop how long does it take to run a 2nd `make`, when nothing has changed?

[2014-04-23 16:31] dirk-thomas commented on #605
No time.

[2014-04-23 16:36] Yeraze commented on #605
ok.. This might be part of the problem..

In our system we have dozens of submodules.. so we have a toplevel Makefile that goes through them and builds them all separately.. For the catkin stuff, it reruns `cmake` and then does `make`.  For most projects, the CMake step is screaming fast because all the data is already cached in the `CMakeCache.txt` file, but for the Catkin stuff it seems to recra

[2014-04-23 17:00] dirk-thomas commented on #605
Again: please consider to provide a reproducible example, a sequence of commands which demonstrate the problem for you.

[2014-04-23 17:04] Yeraze commented on #605
I would love to, but a) my code is unfortunately not sharable and b) I don' t understand catkin well enough to create an example.

The particularly offending component is ROS compiled like so:

[code]

Like I said, once cmake has run successfully once and build everything, subsequent executions of this command take 2+ minutes when nothing has changed.

[2014-04-23 17:20] dirk-thomas commented on #605
I tried a workspace containing all repos which are part of the `ros_base` metapackage in _Indigo_. These are 87 packages without catkin and console_bridge (which are build separately since the later one is a plain cmake package).

Repeated invocation of `catkin_make` takes less then 10s for me only which is checking that all make targets are actually up-to-date. It does _not_ invoke CMake again bu

[2014-04-23 18:44] wjwwood commented on #605
@Yeraze you are using `catkin_make_isolated` which means that each catkin package has to have `make cmake_check_build_system` and `make` called on them, in topological order.

If you did not touch any of the packages being passed to `catkin_make_isolated` then you shouldn't run `catkin_make_isolated`.

If you want one invocation of `cmake`, and therefore a much faster non-operation configure call,

[2014-04-25 19:07] cottsay opened #622 "Mass bug: package.xml installation verification"
I've found that some plain cmake packages do not install `package.xml` files. REP 127 does not explicitly say that this is required, but `rosdep` is unable to detect if the package is present without it.

I used a postbuild check on my experimental buildfarm (http://csc.mcs.sdsmt.edu/jenkins/) to detect this.

TODO before closing this bug:
- [x] Bugs should be opened against these packages
- [x] ~

[2014-04-25 19:12] cottsay opened #623 "Mass bug proposal: architecture_independent tag verification"
With the addition of `noarch` support in bloom (https://github.com/ros-infrastructure/bloom/pull/270), I found a couple of packages that incorrectly marked `architecture_independent` when they were, in fact, not so. These packages were notified and the appropriate `package.xml`s updated.

I'd like to collect thoughts on whether packages should be notified if they SHOULD mark `architecture_independ

[2014-04-25 19:24] dirk-thomas commented on #622
Yes, to all three questions.

Regarding the last one: this will likely require a contribution from the community since we might not have the time to work on this any time soon.

[2014-04-25 19:25] cottsay commented on #622
Thanks @dirk-thomas, I'll compile a definitive list of the packages and open bugs against them.

[2014-04-25 19:26] dirk-thomas commented on #623
Since the exported tag was not used anywhere until now nobody cared to actually add the tags where appropriate. I think it is perfectly reasonable to fill tickets / PR against packages which should have that tag.

[2014-04-25 19:27] cottsay commented on #623
Okay, I'll keep looking into this, then. I'm not sure I have the manpower to open all of the tickets that will be necessary, but I might be able to send some automated E-mails. I'll keep this thread updated.

[2014-04-25 19:35] dirk-thomas commented on #623
For similar future tickets please open them under ros/rosdistro. We usually track distro wide tickets there.

[2014-04-25 19:57] wjwwood commented on #622
REP-0136 says that installing your package.xml is required:

http://www.ros.org/reps/rep-0136.html#installing-a-catkin-package-xml

[2014-04-25 22:47] cottsay commented on #622
I was looking over the spec, and I have a quick question. Is the `<buildtool_depend>` tag (http://www.ros.org/reps/rep-0127.html#buildtool-depend-multiple) required?

If it is not (indicating that there is no build tool), would it not be impossible to install the `package.xml`, which is the responsibility of the build tool?

Is this tag necessary for metapackages (more specifically, do they need `

[2014-04-26 01:36] dirk-thomas commented on #622
Since both of these are using `catkin` at build time on the platform doing the build, yes, both of them require a `buildtool` dependency on `catkin`.

[2014-04-28 02:25] cottsay commented on #623
Reopened in rosdistro as suggested: https://github.com/ros/rosdistro/issues/4037

[2014-04-28 02:25] #623 closed, assigned to nobody

[2014-04-30 20:53] dirk-thomas opened #626 "Test that "python setup.py" supports "--install-layout" before using it"
Necessary due to this: travis-ci/travis-ci#2231

[2014-04-30 21:45] scpeters opened #627 "Error when using new catkin with old catkin-pkg"
I was getting the following error when using catkin cloned from source (b4f804db9e1d5b78976dbb9f59c5af39a02b04f6) with an old version of catkin-pkg (0.1.27):

[code]

Updating to catkin-pkg version 0.2.2 solved the problem.

I'm reporting this in case someone else has the same problem.

[2014-04-30 21:46] #627 closed, assigned to nobody

[2014-05-03 14:29] jack-oquin commented on #440
I just noticed that catkin has a separate Indigo source branch, which differs from the Groovy and Hydro branch. Is format2 only supported on Indigo, or does it work in the other branch, too?

I see there are already documentation differences between `indigo-devel` and `groovy-devel`.

[2014-05-03 21:17] dirk-thomas commented on #440
Since the package.xml format is implemented in catkin_pkg it is independent of the catkin version.  As soon as a catkin version with #619 is released format 2 can be used. The changes will also be released back into Groovy / Hydro. Then format 1 as well as 2 can be used with any current ROS distro (G, H and I).

Several things have changed between the groovy-devel and indigo-devel branch. Please c

[2014-05-04 17:13] jack-oquin commented on #440
That's good.

It means we'll have to update the docs in both branches. I plan to provide an indigo-devel PR for review. Once it looks OK, we can merge those commits into groovy-devel, too.

[2014-05-04 18:10] dirk-thomas commented on #440
That would be great. Thank you for your effort.

[2014-05-09 16:15] jack-oquin commented on #440
Any idea where these links have moved?

[code]

[2014-05-09 16:29] jack-oquin commented on #440
Where is the python_version module supposed to be defined?

[2014-05-09 16:49] dirk-thomas commented on #440
All ROS distro independent tools are documented under http://docs.ros.org/independent/api/...

python_version module? I don't know where that should be / what it should do. May be something from a long time ago. Where did you find that reference?

[2014-05-09 17:27] jack-oquin commented on #440
There is a python_version.rst containing an autodoc reference:

[code]

Maybe it's been deleted. I'll remove the reference.

[2014-05-09 17:36] jack-oquin commented on #440
`genmsg` is not independent, but still used.

Should `rosdep2` now be called `rosdep`?

[2014-05-09 17:53] tfoote commented on #440
I don't know what the python_version.rst was supposed to refer to but most likely the python module is where it's supposed to point as that deals with the python version.

Can you provide more context in respect to genmsg? It definitely still exists and is required.

rosdep the tool is still rosdep, the module inside is the second generation and it's rosdep2. It used the different namespace to avo

[2014-05-09 18:03] jack-oquin commented on #440
I don't see a module named `python`, either. Just a directory. Where is it?

genmsg:

[code]

The rosdep2 warning goes away with this change:

[code]

[2014-05-09 18:05] dirk-thomas commented on #440
The url is obviously mailformed:

[code]

With the correct domain it works fine for me:

[code]

[2014-05-09 18:10] jack-oquin commented on #440
With that fix (and all the others) it finally builds cleanly.

I removed all reference to python_version and renamed the rosdep2 link to rosdep.

If that's OK, I'll commit those fixes as the first step.

[2014-05-09 18:14] dirk-thomas commented on #440
If some of the changes should be considered for backporting please keep them in separate commits to easy the process.

[2014-05-09 18:16] jack-oquin commented on #440
I think all these fixes will also apply to groovy-devel, but it is difficult to be certain.

Nothing about this mess looks easy to me.

[2014-05-12 06:50] plstory opened #630 "wiki/doku"

[2014-05-12 06:50] #630 closed, assigned to nobody

[2014-05-12 23:21] NikolausDemmel opened #631 "catkin build should error on -p0"
Just did this typo when I wanted -p1. catkin simply claimed everything was built instead of giving a meaningful error.

[2014-05-13 01:31] dirk-thomas commented on #631
Please fill the ticket in the corresponding repository: https://github.com/catkin/catkin_tools

[2014-05-13 01:31] #631 closed, assigned to nobody

[2014-05-13 01:32] NikolausDemmel commented on #631
Oh shoot (_being tired_). Sorry for the noise.

[2014-05-13 17:24] jack-oquin commented on #440
I have a reasonable first draft, ready for internal review:
- http://farnsworth.csres.utexas.edu/docs/catkin/html/

It's probably not ready for a full pull request review yet. I am sure we will find more to add.

[2014-05-13 18:39] dirk-thomas commented on #440
I added some minor comments to the commits. It looks really good. Thank you for your effort!

[2014-05-13 18:49] tfoote commented on #440
It looks great Jack!

[2014-05-13 21:42] wjwwood commented on #440
Thanks Jack, I noticed that you use `<run_depend>` when describing `<build_export_depends>` on this page:

http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/format2/system_library_dependencies.html

Maybe that is a mistake?

Other than that I didn't see any problems. Thanks again for helping us with this.

[2014-05-13 21:43] wjwwood commented on #440
Let me know if you need help reviewing http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/format2/migrating_from_format_1.html once you get it fleshed out.

[2014-05-13 21:58] jack-oquin commented on #440
@wjwwood: Any reference to `<run_depend>` is definitely a mistake. I'll grep to see if there are any others.

I certainly will need help reviewing the migration page when I get to it.

We also need a migration page from Groovy/Hydro to Indigo. Any volunteers to write that?

[2014-05-13 22:55] dirk-thomas commented on #440
The migration page from Groovy/Hydro to Indigo is not related to the package format version, right?

A version of that already exists (http://docs.ros.org/indigo/api/catkin/html/adv_user_guide/catkin_migration_indigo.html) and is linked from the Indigo migration page.

[2014-05-13 23:27] jack-oquin commented on #440
Correct. It comes up at the top-level index.

Labeling it part of the "advanced users guide" is probably the root problem.

[2014-05-14 07:03] #545 closed, assigned to nobody

[2014-05-14 07:19] Antagonistic opened #632 "Incorrect PYTHONPATH on gentoo"
Recently gone though the ROS from source install process for gentoo.  Biggest issue I've hit (so far) is a pathing problem for the installed python scripts.

Running the command:

[code]

installs the catkin (and actually all future) python scripts into:

[code]

while _setup_util.py adds a path to:

[code]

which results in a lot of python module not found errors.

Worked around in my case by run

[2014-05-14 07:24] wjwwood commented on #632
Probably a similar to #604 and #545.

[2014-05-16 01:23] jack-oquin commented on #440
Thanks for your review comments. I addressed them all and some of my own. I also added an initial draft of the migration guide.

Please look it over again. Formatted copy here:
- http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/format2/index.html

[2014-05-17 15:24] jack-oquin commented on #440
Unless there are objections, I am ready to open a pull request for these updates, and request a doc review on ros-users and the buildsystem SIG.

[2014-05-17 16:44] wjwwood commented on #440
@jack-oquin I think we are ready for that next step.

I think the migration guide looks great. For doc depends I would just say that these dependencies are installed only for building documentation and will not get included into the binary deb's dependencies.

For the `buildtool_export_depends` I would just say that it behaves exactly like a `build_export_depend` except that in a cross-compiling s

[2014-05-17 17:23] jack-oquin commented on #440
@wjwwood: thanks for the comments.

Your `<doc_depend>` idea is good. I'll do that, perhaps adding examples for `rosdoc_lite`, `doxygen` and `sphinx`.

The how-to pages currently do not mention `<buildtool_depend>`, except to use it for catkin. Any buildtool discussion at all seems a bit advanced for these intended readers.

[2014-05-20 07:43] smits opened #635 "Incorrect PYTHONPATH on Ubuntu 10.04"
Hi all,

I'm trying to use catkin on an older Ubuntu version due to legacy reasons. I've installed python2.7 on it from ppa:fkrull/deadsnakes and made sure I have CMake 2.8.3. I'm using virtualenv to make sure that catkin uses python2.7 since all catkin shebangs are without python version. Although it seems catkin is building ok the generated _setup_util.py exports the wrong PYTHONPATH:

[code]

F

[2014-05-20 15:05] dirk-thomas commented on #635
The template used for the `_setup_util.py` file uses the CMake variable `PYTHON_INSTALL_DIR` (see https://github.com/ros/catkin/blob/9a5da56c7ecfc456c2cb73124432eaf2fcc482b2/cmake/templates/_setup_util.py.in#L58).

This CMake variable is computed in https://github.com/ros/catkin/blob/9a5da56c7ecfc456c2cb73124432eaf2fcc482b2/cmake/python.cmake#L53 but you should see a message during the configure s

[2014-05-22 01:58] wyc commented on #632
Narrowed down the issue to these two lines:
https://github.com/ros/catkin/blob/indigo-devel/python/catkin/builder.py#L273
https://github.com/ros/catkin/blob/indigo-devel/cmake/python.cmake#L35

There needs to be a platform-agnostic way of specifying lib vs. lib64. Could we use something like this in both scripts?

[code]

The script would have to be Unix-only or amended to support windows too.

Th

[2014-05-22 07:14] wyc commented on #632
Please see #636

[2014-05-22 07:14] wyc commented on #635
Please see #636

[2014-05-22 19:25] smits commented on #635
The patch provided in #636 fixes my issue!

[2014-05-22 21:24] dirk-thomas commented on #635
@smits Could you please provide some information after trying it on your machine why the Python version was not extracted for you? I think it would still be valuable to understand _why_ it failed in the first place - e.g. the proposed patch relies on invoking Python which is performance wise always something to reconsider.

[2014-05-25 11:31] tkruse opened #638 "catkin_make and friends fail to correctly resolve paths when invoked inside symlinked folders"
To reproduce

[code]

Result:
The specified source space "<basefolder>/src" does not exist

Should be:
Building in basefolder/hydro-ws

The issue was originally discovered by @dirk-thomas in https://github.com/ros/catkin/pull/603 and used as a reason to reject new features. Not sure why it was not ticketed and/or fixed since then, maybe keeping this bug can help reject more undesired pull requests

[2014-05-25 18:24] dirk-thomas commented on #638
Thank you for filling the ticket.

The problem is that Python is not aware that it is invoked in `/tmp/hydro-ws/src` as far as I can see. If you run the following command in that folder:

[code]

it outputs `/tmp/origin` as the already resolved symlinked location. I am not aware of any method how Python could get the information that it was actually in `/tmp/hydro-ws/src`. But I think this piece o

[2014-05-25 18:44] tkruse commented on #638
As I have said before, I had already solved this in #603 using

[code]

https://github.com/tkruse/catkin/commit/de98d064b32eea82b023a2056f25dba4a70edb3a

In catkin/python/catkin/workspace.py

[code]

This then has to be invoked in the repsective places in catkin_make and catkin_make_isolated, as I had done in my pull request, until you kept on dismissing my PR due to this catkin bug.

[2014-05-25 19:17] dirk-thomas commented on #638
Since you removed the code from your pull request at some time that information was not publically available anymore.

With that snippet I was able to create a pull request which should address this bug. Please try #639 and verify that it works for you, too.

[2014-05-25 19:38] #638 closed, assigned to nobody

[2014-05-26 16:14] jbohren opened #640 "python: add support for extension modules in develspace"
Currently, a package which builds a python extension module cannot build such a module for use in the develspace, it can only be used in the installspace.

For example, the rcommander-core package builds a python extension module as part of a Qt GUI:
https://github.com/gt-ros-pkg/rcommander-core/blob/master/nodebox_qt/src/graph/setup.py

Previously, this was built by executing the `setup.py` modul

[2014-05-27 16:38] dirk-thomas commented on #640
Please consider proving a pull request for this feature since none of the maintainers currently has time to look into this feature.

[2014-05-30 16:15] jbohren opened #643 "Overriding CMAKE_PREFIX_PATH_AS_IS to control workspace chaining"
I was looking into how to control workspace chaining thorugh the current `catkin_make/_isolated` API, and it looks like it can be done with `--cmake-args` if you just define `-DCMAKE_PREFIX_PATH` on the first invocation of a build.

This is because `-DCMAKE_PREFIX_PATH` passed as a CMake variable overrides the use of the `$CMAKE_PREFIX_PATH` environment variable as shown here:

https://github.com/

[2014-05-30 16:49] dirk-thomas commented on #643
That is exactly the way CMake works. You can either have `CMAKE_PREFIX_PATH` in your environment when invoking CMake or pass it as an argument with `-D`. So yes, you can absolutely override it that way.

But keep in mind that when passing a different `CMAKE_PREFIX_PATH` that does not imply that your environment variable are being changed for the configure/make step. Some CMake config files might r

[2014-05-30 16:53] jbohren commented on #643
Right. So in order to be more robust, could we add a `--workspace-prefix` argument or something similar to `catkin_make/_isolated` which actually sources the other environment first so that it's used in the config and build steps?

[2014-05-30 16:57] dirk-thomas commented on #643
First of all we should clarify if a user should really specify a list of workspace prefixes - which might potentially be completely unrelated to each other and might even lack certain parent workspaces.

While it would be possible it could also be a performance problem. While the user can source the appropriate workspace(s) once before invoking the tool `catkin_make_isolated` has to perform that o

[2014-05-30 17:04] jbohren commented on #643
I was thinking we could avoid this problem by making the explicit workspace chaining only specify a single parent workspace.

Why would it have to source more than once on the invocation of the respective script? Wouldn't that environment persist for all subshells of the script?

[2014-05-30 18:05] dirk-thomas commented on #643
Specifying only the leaf parent workspace as the `CMAKE_PREFIX_PATH` would not be sufficient  since CMake will not be able to find CMake config files from transitive parent workspaces.

The Python script `catkin_make_isolated` invokes every command (cmake, make, install) for each package as a separate process. Therefore there is no common shell environment which can be shared between those invocat

[2014-05-30 20:06] jbohren commented on #643
I'm talking about in the env sourcing example. In that case the `catkin_make/_isolated` script would load the environment as defined by the setup file in the given single catkin workspace. This would generate and set the `CMAKE_PREFIX_PATH` just like first sourcing it manually and subsequently calling `catkin_make/_isolated`.

But don't the subprocesses inherit the parent process's environment?

[2014-05-30 20:15] wjwwood commented on #643
Yes, but aren't we talking about specifying the `CMAKE_PREFIX_PATH` via the command line and not the environment? In that case the "parent" environment will not have the right `CMAKE_PREFIX_PATH`.

We can work around this by having `subprocess`'ing a thing which in turn sets up the correct environment, and either do one of two things:
- Report the constructed env out via stdout, then use that outp

[2014-05-30 20:34] jbohren commented on #643
I'm talking about creating a _new_ argument to `catkin_make/_isolated` which essentially causes the script to do the equivalent of sourcing the setup files, but in it's process's environment. Like:
- (user's shell env) call catkin_make
  - (catkin_make) `setenv(...)`
    - (cmake)
    - (make)

I'm not sure if we're exactly on the same page, but it seems like #2 is closest.

[2014-05-30 20:38] wjwwood commented on #643
How do you imagine `setenv(...)` is implemented? Option 1 or 2 is the only way I can imagine that working.

Option 2 has the distinct disadvantage of requiring us to bifurcate the code base into the front end which takes options and creates the env to build in, and then the backend which does the building. I think this would be messy.

[2014-05-30 20:46] jbohren commented on #643
Can't we just inject whatever we want right here?
https://github.com/ros/catkin/blob/indigo-devel/python/catkin/builder.py#L186

[2014-05-30 20:54] dirk-thomas commented on #643
Yes, but as far as I can see without actually sourcing a setup file you won't have the information available which you want to inject there.

[2014-05-30 20:59] jbohren commented on #643
Can't we import the import `_setup_util.py` and get the information from calling `prepend_env_variables()`?

https://github.com/ros/catkin/blob/indigo-devel/cmake/templates/_setup_util.py.in

[2014-05-30 21:01] jbohren commented on #643
And also call `rollback_env_variables()` appropriately?

[2014-05-30 21:41] wjwwood commented on #643
@jbohren That doesn't deal with environment hooks. We'd basically have to reimplement the setup files in python as well.

[2014-05-30 22:55] jbohren commented on #643
I really feel like there's got to be a clean way to do this without a lot of work.

[2014-05-30 23:06] wjwwood commented on #643
If we want some behavior to be available for the user we have to put it in a shell file. So the only question is how do we make use of that implementation from the tool. We can either use the shell to generate the result of source'ing and use that or we can reimplement the behavior in Python. I think reusing the shell makes the most sense, but then the question becomes how do we do that, and I thi

[2014-05-30 23:59] jbohren commented on #643
Yeah, you're right. Upon re-reading and digging a bit I think the more lightweight way of doing it is (1) from above, i.e. running the setup script and then extracting the environment from stdout.

[2014-05-31 00:26] wjwwood commented on #643
@jbohren I agree, my only concern with that approach is that the environment extraction needs to be robust and that might be hard. I think it is totally doable and actually might be pretty useful elsewhere if we manage to do it well.

[2014-05-31 00:41] jbohren commented on #643
Cool. It definitely needs to be robust, but the output from the `env` command is pretty well-defined.

W.r.t implementation, instead of extracting the env vars and then carrying them around everywhere, it seems like it's simpler to just set them in the current process. Does that sound reasonable?

[2014-05-31 00:42] jbohren commented on #643
And `cmake -E environment` is even more well-defined.

[2014-05-31 01:15] jbohren commented on #643
For this option to work, I think `popen()` might need to be called with `shell=True`.

Quick sketch here: https://gist.github.com/jbohren/ff52b3b5d73831f80c36

[2014-05-31 23:25] jbohren commented on #643
It works without shell mode, updated gist to use catkin's `run_command()`

[2014-06-01 00:16] jbohren commented on #643
Ok guys, take a look at this: https://gist.github.com/jbohren/ff52b3b5d73831f80c36

I put all the functionality into two functions so that you can run the following:

[code]

[2014-06-02 03:24] LucidOne opened #644 "executable can not be named test"
`add_executable(test src/test.cpp)`
Fails mysteriously

`add_executable(this_test src/test.cpp)`
Works

I am not sure if this is an error or if it should just throw a warning.

[2014-06-02 04:27] dirk-thomas commented on #644
Since CMake already generates a built-in `test` target for CTest I don't think it is valid to use the same target name.

[2014-06-02 04:34] LucidOne commented on #644
Can the add_executable macro throw an error if you try `add_executable(test src/test.cpp)`

[2014-06-02 06:38] dirk-thomas commented on #644
No, this is a pure CMake function. `catkin` has nothing to do with it.

[2014-06-02 21:15] dirk-thomas commented on #635
@smits See previous comment.

[2014-06-02 21:29] wjwwood commented on #643
@jbohren thanks for putting that together. I will probably take that and integrate it into the `osrf_pycommon` package I have been working on, which includes a better version of `run_command` called `execute_process`.

https://github.com/osrf/osrf_pycommon
https://github.com/osrf/osrf_pycommon/blob/process_utils/osrf_pycommon/process_utils/impl.py#L31
http://osrf-pycommon.readthedocs.org/en/proces

[2014-06-02 22:16] wjwwood commented on #644
@LucidOne unfortunately, we don't control this macro.

For better or worse we've tried to avoid wrapping CMake calls where possible, this makes it more conventional CMake and less intrusive, but it also means we have less opportunity to catch errors like this one.

In my experience it fails in a very specific way, it tells you that a target this that name already exists, but if you got something d

[2014-06-02 22:30] jbohren commented on #643
Ahh new things discovered every day. Does `catkin_tools` already depend on this stuff, and do you want me to retarget the PR there?

[2014-06-02 22:37] dirk-thomas commented on #644
Since it is a target generated later I don't think CMake gives you the same message as for colliding target names.

@LucidOne You can still create a test executable - you just have to name the target differently:

[code]

I will close this ticket as "wont fix" since this is standard CMake behavior. Please feel free to post your exact error message as @wjwwood suggested as a reference for other peo

[2014-06-02 22:37] #644 closed, assigned to nobody

[2014-06-02 22:52] wjwwood commented on #643
I haven't really publicized it yet, I have been working on refactoring code out of `caktin_tools` which we need to in other places as not to have weird dependencies on `catkin_tools`.

`catkin_tools` does not depend on this yet, but it should in the future. I have to get it to the point where I can complete some tasks related to the Tango project and resolve those issues and then I will come back

[2014-06-02 23:01] jbohren commented on #643
Ok.

[2014-06-03 01:47] jbohren commented on #643
Going to close this, as it seems like the consensus is that more than just setting `$CMAKE_PREFIX_PATH` is needed.

Continuing discussion / work in https://github.com/catkin/catkin_tools/pull/58

[2014-06-03 01:47] #643 closed, assigned to nobody

[2014-06-06 15:14] peci1 opened #647 "RT library not found on Indigo/14.04/64bits"
I've installed Indigo from PPA today.

When I try to catkin_make our project, I get:

[code]

Trying to install libc6-dev:i386 wants me to remove build-essentials, so there is no easy way to get the required library.

[code]

[code]

[2014-06-06 15:16] peci1 commented on #647
Here's the error log file

Determining if the function `pthread_create` exists in the pthreads failed with the following output:

[code]

Determining if the `Q_WS_WIN` exist failed with the following output:

[code]

File `/media/sf_Programovani/tradr-git/tradr-ws/build/CMakeFiles/CMakeTmp/CheckSymbolExists.cxx`:

[code]

Determining if the `Q_WS_QWS` exist failed with the following output:

[code

[2014-06-06 16:25] dirk-thomas commented on #647
From your output it looks like `RT_LIBRARY` is set to `/usr/lib/i386-linux-gnu/librt.so` which is weird since you are running a 64bit system.

The variable is populate by CMakes `find_library` function which for sure does not resolve to non-existing files.

The most likely reason would be that you have copied your workspace from a different machine (which was 32bit) and did not wipe your build fol

[2014-06-06 19:58] peci1 commented on #647
Oh, of course that might be the reason. I'll check on Monday to see if

## cleaning the build files helps.

Martin Pecka

[2014-06-06 20:17] dirk-thomas commented on #647
I will close the ticket for now since that might be the most likely reason. Please feel free to comment if it does not solve your problem and the issue can be reopened.

You might also want to ask questions like this on answers.ros.org in the future.

[2014-06-06 20:17] #647 closed, assigned to nobody

[2014-06-09 22:48] dirk-thomas opened #648 "Improve rollback of environment changes"
We would like to be able to rollback:
- changes done by environment hooks
- changes from workspaces which have been deleted after being sourced

Please consider proposing approaches for this and state their pros / cons.

[2014-06-09 22:55] dirk-thomas opened #649 "catkin_make / catkin_make_isolated better visibility of chained workspaces"
- highlight list of used parent workspaces
- warn / confirm when passing different CMAKE_PREFIX_PATH
- print chained workspace as part of the summary at the end again

[2014-06-09 23:03] dirk-thomas opened #650 "add common entry points to wiki page"
Since the documentation is spread over multiple locations each with its own focus a list of common entry point could guide users to the "right" documentation / answers.

[2014-06-10 04:10] jbohren commented on #648
In order to enable people to easily roll-back environment hooks, I think we should define a few classes of environment modifications which env-hooks tend to define along with the assumptions about "good behavior" for these hooks. Then for certain types of env-hooks, catkin might simplify the rollback process by providing scripts to process environment variables for standard patterns. Each pattern

[2014-06-10 16:08] peci1 commented on #647
You're right, cleaning the old build files helped ;)

[2014-06-10 21:44] prfraanje opened #652 "catkin_make error with zsh shell"
when doing a catkin_make on a brand new initialized catkin workspace in a zsh environment I get the error:

[code]

I think something goes wrong in generating the right zsh environment. I analyzed a bit further by evaluating lines 11 and 12 in devel/env.sh and got similar errors. Then by changing setup.zsh on line 12 in devel/env.sh, I got errors like builtin: not found and emulate: not found. Fin

[2014-06-10 22:02] dirk-thomas commented on #652
Please provide more information to reproduce the problem. Are you using Ubuntu? Do you have ROS installed from Debian packages? Have you sourced `/opt/ros/hydro/setup.zsh` before?

I tried the following sequence (with Indigo though) and it worked fine for me:

[code]

Can you please try the same sequence and post you output?

[2014-06-10 22:17] wjwwood commented on #652
I can also not reproduce this on OS X with zsh.

[2014-06-11 05:37] prfraanje commented on #652
Thank you for addressing my issue.
Evaluating the commands I still get the same errors:

[code]

I've checked this with both bash and zsh as the default shell.
I'm running ROS Hydro in a Ubuntu 12.04 32bit virtual machine, I retrieved from http://nootrix.com/00download/download.html?fileId=rosHydroVM.

[2014-06-11 05:48] jbohren commented on #652
@prfraanje Can you dump the output of `env` into a gist: https://gist.github.com/ ?

[2014-06-11 05:56] prfraanje commented on #652
Yes, here you can find the output of env: https://gist.github.com/prfraanje/ed95eb32cbfa7b5f2e70

[2014-06-11 06:01] jbohren commented on #652
As I suspected you're trying to source the zsh env files but it appears you're currently running bash: https://gist.github.com/prfraanje/ed95eb32cbfa7b5f2e70#file-env-L4

Before sourcing the `setup.zsh` file, you need to be running zsh.

[2014-06-11 06:05] prfraanje commented on #652
I changed my default shell from zsh again into bash, that's why my SHELL=bash, the output of ps yields:

[code]

Setting my default shell to zsh, logging out and in again, still gives me the same problem...

[2014-06-11 06:06] jbohren commented on #652
And if you run `zsh` explicitly from the shell and then try it?

[2014-06-11 06:14] prfraanje commented on #652
Thanks for the suggestion, but it doesn't help. I changed my default shell into zsh, indeed now we get:

[code]

Note, that now I get two times zsh in the output of ps, because I'm running zsh a second time in the shell.

[2014-06-11 06:22] jbohren commented on #652
Each time you tried this, did you delete your `build` and `devel` directories?

[2014-06-11 06:31] tkruse opened #653 "catkin marker file should not be created when --source is non-default"
For discussion. Catkin has no true notion of a workspace folder, it only know source space, devel space, install space, and so on.
We still talk about the workspace root folder because that is the most common, standard and default catkin_make usage pattern. However catkin_make also allows invoking catkin_make on some target folder using --source. I believe in that case, the tool cannot guess which

[2014-06-11 10:20] NikolausDemmel commented on #648
+1

One way to eventually implement the rollback even with deleted workspaces would be a mechanism where the environment hooks are required to store the necessary rollback information in the environment itself. For the known patterns mentioned above this could be achieved by appending the set environment variable names to a list of variable names for each known pattern, e.g. `CATKIN_ENV_HOOK_PLAIN

[2014-06-11 15:47] dirk-thomas commented on #653
Currently cmi command has a `workspace` argument which defaults to the current directory (https://github.com/ros/catkin/blob/34f645dcd17c8a96ea8df19225572733828ff6bf/bin/catkin_make_isolated#L36). So the location of the `workspace` root is defined clearly. That is the location where the marker file is placed and it enables that the command can be invoked anywhere below this path.

All command line

[2014-06-11 16:38] tkruse commented on #653
That's a valid way of seeing things (though I am not 100% convinced), so you may close this issue as invalid or wont fix as far as I am concerned.

[2014-06-11 17:47] #653 closed, assigned to nobody

[2014-06-11 20:17] prfraanje commented on #652
sorry for my late reply, I was teaching all day. But yes, I performed the whole procedure as outlined by @dirk-thomas several times, after each time I perform a rm -rf /tmp/test_zsh

[2014-06-11 20:43] prfraanje commented on #652
Could it be, that the ./devel/env.sh does try to evaluate in the sh shell rather than zsh? I've debugged a bit further (see below) and it seems that evaluating $. "/opt/ros/hydro/share/rosbash/roszsh" in the sh-shell doesn't work (in zsh-shell it does, as expected). However env.sh switches to sh, than evaluates ./devel/setup.sh still in sh-shell, which than tries to load "/opt/ros/hydro/share/rosb

[2014-06-12 03:12] dirk-thomas commented on #652
I think I do understand what happens for you:

Basically after source `/opt/ros/hydro/setup.zsh` the variable `CATKIN_SHELL` is set to `zsh` even if it is not visible in the output of e.g. `env`. Then you invoke the Python script to build the new workspace. Python then invokes the generated `env.sh` file. Usually the not exported variable `CATKIN_SHELL` should not be available in the scope of the

[2014-06-12 06:10] prfraanje commented on #652
@dirk-thomas, thank you for the fix, that made the job!

[2014-06-12 10:50] smits commented on #635
Update: I was using indigo-devel instead of groovy-devel. With the original groovy-devel my issue is resolved even without #636

[2014-06-12 10:50] #635 closed, assigned to nobody

[2014-06-12 16:34] dirk-thomas commented on #635
Thank you for clarifying the reason why this happened for you.

[2014-06-13 17:20] #652 closed, assigned to nobody

[2014-06-14 08:16] prfraanje commented on #652
Unfortunately solution didn't work. I didn't tested well enough. I successfully compiled catkin-reset_shell in the bash-shell. Then I changed shell to zsh, and did again a catkin_make, but this make didn't need to do anything. After making creating a new package I still received the same error in zsh.

But, we came a step further. Now, I only needed to change the file `./src/catkin-reset_shell/cma

[2014-06-14 08:19] prfraanje commented on #652
Related question: in my catkin_make output, I get many messages with `/home/rufus/catkin_ws/build/catkin_generated/setup_cached.sh:12: read-only variable: _`. Do I need to worry about these?

[2014-06-14 18:05] dirk-thomas commented on #652
Changing the shebang line is not an option. Since I can't reproduce your issue it is difficult to give further advice. Have you checked the content of the generated env.sh file? With the patch it should never income any zsh specific code.

I have never seen the read-only messages. When are they shown after invoking what command? Something seems to be different on your system? Can you please descri

[2014-06-14 21:00] prfraanje commented on #652
Starting again from a clean `~/.zshrc` config file and gradually building it up, I found out that my problem was due to the zsh-option `setopt all_export`. I think I copied this option once, but searching around I see now, that it is not recommended. Just export the zsh-variables with `export` explicitly. I also can compile with the original `env.sh` file and don't get the read-only messages anymo

[2014-06-14 21:08] prfraanje commented on #652
Starting again from a clean `~/.zshrc` config file and gradually building it up, I found out that my problem was due to the zsh-option `setopt all_export`. I think I copied this option once, but searching around I see now, that it is not recommended. Just export the zsh-variables with `export` explicitly. I also can compile with the original `env.sh` file and don't get the read-only messages anymo

[2014-06-14 21:11] prfraanje commented on #652
Also the old catkin_make, that is located in `/opt/ros/hydro`, works fine without using `setopt all_export` in `~/.zshrc`. This maybe explains why @wjwwood couldn't reproduce the error.

[2014-06-15 19:44] dirk-thomas commented on #652
Thanks for digging deeper and commenting about the `setopt all_export` option. With that I was able to reproduce the problem directly.

I found a second related code block which needed the same fix: cf32d594b9e541363b4141b099b4920b437a0ab2 Even if the option is not recommended it should work fine now.

[2014-06-15 22:25] dirk-thomas commented on #648
What about the following approach to cover at least "separate" environment variable:

Before sourcing the environment hooks in https://github.com/ros/catkin/blob/cf32d594b9e541363b4141b099b4920b437a0ab2/cmake/templates/setup.sh.in#L72 a list of environment variable is stored. After sourcing all hooks the list of environment variables is fetched again. The name of any "new" environment variable is

[2014-06-17 10:41] mikeferguson opened #659 "catkin_add_nosetests fail to run on Trusty in certain configurations due to nosetest bug"
This is actually an upstream bug introduced into nosetest 1.3.1 (which ships with Trusty), see https://github.com/nose-devs/nose/issues/779 and the fix in https://github.com/nose-devs/nose/commit/ac9cc08e1a95e5614c8f9863091014186edecbdd. It appears this doesn't break the "catkin_make run_tests" use case, but it does appear to break https://github.com/ros-infrastructure/jenkins_scripts/blob/master/

[2014-06-17 14:23] v4hn opened #660 "doxygen get_target_property with non-existent target"
Hey,

I just tried to compile a hydro-workspace with cmake 3.0 and get the following warning
for a number of packages:

[code]

This goes back to a change by @vrabaud in 2012: b1ba8033e06ea55ddeb091817c2d1b210ec2b2b4
To be honest I can't really see the point of this whole block...

[2014-06-17 14:37] vrabaud commented on #660
I guess this block:

[code]

should be replaced by:

[code]

Can you please see if it works for you ? Thx

[2014-06-17 16:59] dirk-thomas commented on #660
I assume the target property and the comment are also not needed. Please see #661 for a proposed fix.

[2014-06-17 17:13] dirk-thomas commented on #659
`catkin` uses the `CATKIN_TEST_RESULTS_DIR` directory for nosetest xunit results (https://github.com/ros/catkin/blob/642af1efa99fa54f94ec75cab7729a181b72b8d0/cmake/test/nosetests.cmake#L72-L79) which should always be an absolute path (when using the default value).

But the buildfarm passes in a custom test result directory (https://github.com/ros-infrastructure/jenkins_scripts/blob/master/test_re

[2014-06-17 18:57] mikeferguson commented on #659
@dirk-thomas There aren't that many devel jobs for indigo, as most of the hydro-devel jobs that I know are using nosetests aren't running indigo-devel jobs right now (which is probably why this hasn't been noticed before) -- most of the python tests end up being rostests in the core ROS packages. I came across this on a private buildbot-ros installation, which uses the exact same logic as test_rep

[2014-06-17 19:17] #659 closed, assigned to dirk-thomas

[2014-06-17 19:19] dirk-thomas commented on #659
I just merged it but it might take some weeks until the next catkin patch release to Indigo. If you are fine until then I won't touch `jenkins_scripts`. And if it become more a pressuring problem on the farm I will do an immediate release of catkin.

Thanks for digging into it and filling such a detailed ticket!

[2014-06-17 19:22] mikeferguson commented on #659
@dirk-thomas Thanks for finding the catkin patch -- I was trying to do something similar last night with get_filename_component and just didn't quite get it right.

I think we're probably fine for now, I've patched buildbot on my end, and I actually don't find any failing tests on the buildfarm right now since there are so few devel jobs.

[2014-06-17 20:26] dirk-thomas commented on #440
I will close this ticket since it has been addressed by the two referenced PRs.

[2014-06-17 20:26] #440 closed, assigned to jack-oquin

[2014-06-17 20:34] #660 closed, assigned to dirk-thomas

[2014-06-17 21:32] v4hn commented on #660
Thank you for resolving this so quickly!

[2014-06-18 09:38] NikolausDemmel commented on #648
Aren't the variables that are newly set and didn't exist before the least critical anyway, since they would be overwritten when sourcing a new `setup.bash` in a shell with another result space soruced?

While the cost of implementing this is low and a big plus is that no env hooks have to change, the cost of possibly being confusing when only doing this without a concept for other environment vari

[2014-06-19 05:56] mikeferguson commented on #659
@dirk-thomas Just a note, I finally found a package that has a plain nosetest and is running devel job under indigo: xacro (http://jenkins.ros.org/job/devel-indigo-xacro/). There is basically no output in the devel job, but if you look into the package source, there is only  a single nosetest.

[2014-06-19 17:19] dirk-thomas commented on #659
That is neither nosetests nor our Jenkins fault. When you checkout the repo and invoke `nosetests test` it return with `Ran 0 tests` which will result in Jenkins reporting a failure with `None of the test reports contained any result`. I just filled that bug upstream: https://github.com/ros/xacro/issues/34

[2014-06-25 03:10] tfoote opened #665 "catkin_make_isolated crashes if first package doesn't create devel dir"
[code]

~~  traversing 10 packages in topological order:
~~  - console_bridge (plain cmake)
~~  - joint_state_publisher
~~  - resource_retriever
~~  - robot_model
~~  - rosconsole_bridge
~~  - urdf_parser_plugin
~~  - collada_parser
~~  - urdf
~~  - collada_urdf
~~  - kdl_parser

[code]

[2014-06-25 03:24] wjwwood commented on #665
Ah, we should probably switch the shim package's build type to cmake, which would solve this.

We do naively assume that all catkin packages will create a devel space.

[2014-06-25 07:46] tfoote commented on #665
The shim packages are pure cmake and are flagged as such.

[2014-06-25 08:19] dirk-thomas commented on #665
The reason is that the package does not actually install any file.

[2014-06-27 10:11] rhaschke opened #667 "fix quoting of error messages in catkin/cmake/em/order_packages.cmake.em"
I get the following order_packages.cmake:
`# generated from catkin/cmake/em/order_packages.cmake.em
message(FATAL_ERROR "Invalid package manifest "/homes/rhaschke/src/ros/rtt/install_isolated/lib/ruby/1.9.1/x86_64-linux/orogen/templates/typekit/package.xml": The manifest contains invalid XML:
not well-formed (invalid token): line 2, column 9")
`

which triggers the cmake error:

`Argument not sepa

[2014-06-27 15:47] tfoote commented on #667
Note i believe this is an orogen package.xml which is different from a ros one.

[2014-06-27 15:53] rhaschke commented on #667
I know, that the package.xml is wrong. However, catkin should better
deal with catkin-generated exception that contains double-quotes.
These shouldn't be written literally into the order_packages.cmake file.

[2014-06-29 00:43] dirk-thomas commented on #667
Could it be that the message you are referring to ("Argument not separated from preceding token by whitespace.") is only a CMake warning and that you are using CMake 2.8.12 (where this warning has been introduced)?

Can you please provide more information to reproduce the problem? What exactly is in your workspace and what command are you invoking?

[2014-07-02 01:14] jbohren opened #670 "".catkin" marker file can be overwritten if two catkin instances are running with a shared develspace"
For example, when using `catkin build` from [catkin_tools](http://github.com/catkin/catkin_tools), there is a chance that some package source directories will not be listed in the `.catkin` file. If one package A writes it after another package B has read it, but before B has written to it, then A's modifications will be overwritten when B writes to it. This, in turn, means that they will not ente

[2014-07-02 01:18] dirk-thomas commented on #670
This requires to make the modification to file an atomic operation. Please consider to provide a pull request for this.

As a side note: https://github.com/ros/catkin/blob/indigo-devel/cmake/atomic_configure_file.cmake does something similar but since it does only overwrite the file (rather then extending it) the approach will not work for this case.

[2014-07-02 22:05] jbohren opened #674 "Create thread-safe storage of source-space paths"
Currently, as described in #670, when multiple catkin cmake processes are running with a merged develspace, they each want to modify `devel/.catkin` in order to store the sourcespace paths for each package. This information is used to build PATH-like variables like `$ROS_PACKAGE_PATH`.

If a parallel-safety flag is set, as proposed in  #675, then we could generate this file with a top-level tool l

[2014-07-02 22:06] jbohren opened #675 "Add a configuration variable to designate that cmake is being run in parallel with other instances"
There are some files which catkin modifies which have the potential to introduce race conditions if multiple cmake instances are building catkin packages with a merged develspace as they do in `catkin build`. This was originally described in #670.

In this case, extra care can be taken to guarantee that these race conditions cannot occur. The files affected are:
- The develspace marker file, `.cat

[2014-07-03 07:19] rhaschke commented on #667
Indeed, I'm using cmake 2.8.12.2 on Ubuntu Trusty. The message is only a
warning - but annoying. It originates from a non-ROS package.xml (attached).
I'm suggesting to fix the error handling routine in catkin, that finally
generated the error message indicating the malformed package.xml.

Kind regards, Robert

On 29.06.2014 02:43, Dirk Thomas wrote:

##

Robert Haschke

---

Dr. Robert Haschke
Fac

[2014-07-03 16:33] dirk-thomas commented on #667
You can not attach files when replying to the GitHub issue emails. The quoting has already been addressed in the referenced PR #668.

Please verify if the problem has been fixed with an up-to-date checkout of catkin in your workspace and post your results. If the issue is still there please post the content of the package.xml in question.

[2014-07-04 09:01] rhaschke commented on #667
Thanks, the patch fixed the issue.

[2014-07-04 09:01] #667 closed, assigned to nobody

[2014-07-10 23:14] #665 closed, assigned to dirk-thomas

[2014-07-23 14:13] NikolausDemmel opened #677 "Documentation: Tutorials on ROS wiki outdated"
Something that has come up here: http://answers.ros.org/question/187191/cmakeliststxt-install-python/?answer=187475#post-id-187475

At the least the python section of the tutorials (http://wiki.ros.org/catkin/CMakeLists.txt#Installing_Python_Executable_Scripts) is outdated compared to the doc (http://docs.ros.org/api/catkin/html/howto/format2/installing_python.html).

cc @jack-oquin

[2014-07-23 17:41] dirk-thomas commented on #677
Please consider editing the wiki page (if you feel confident enough to do so) and post the diff here for others to check and potentially provide feedback.

[2014-07-30 18:49] jack-oquin commented on #677
I edited the wiki entry. Please close if it looks correct to you.

[2014-07-30 18:51] dirk-thomas commented on #677
The change in question: http://wiki.ros.org/action/diff/catkin/CMakeLists.txt?action=diff&rev1=69&rev2=70

LGTM +1, Thanks @jack-oquin for editing it.

@NikolausDemmel is that what you expected?

[2014-07-30 20:30] NikolausDemmel commented on #677
Thanks @jack-oquin. I added a link to the docs from the wiki page, since they are more thorough and include info on installing modules.

[2014-07-30 20:41] #677 closed, assigned to nobody

[2014-08-18 22:24] dirk-thomas commented on #674
Please consider to provide a pull request for this.

[2014-08-18 22:24] dirk-thomas commented on #675
Please consider to provide a pull request for this.

[2014-08-29 13:24] soulslicer opened #679 "Ros Python Talker.py - "queue size error""
Got the following error:

[code]

I installed Groovy as per the instructions without a hitch, and followed the python tutorial. It seems there is some error with the tutorial, or there is some newer API that works with groovy ?

[2014-08-29 14:06] jbohren commented on #679
First, this is the wrong place to ask these questions. Catkin is the buildtool used by ros and does not contain the ROS python implementation. Second, questions like this should be asked on http://answers.ros.org

[2014-08-29 15:46] dirk-thomas commented on #679
@soulslicer When you post your question an answers.ros.org please make sure to include more information. E.g. a link to the exact tutorial you followed.

[2014-08-29 15:46] #679 closed, assigned to nobody

[2014-08-30 00:20] v4hn opened #680 "explicitly add --as-needed to linking flags"
This addresses linking errors/heavy overlinking with rosbuild as well as with catkin
on non-Debian systems.

Read the full story at answers.ros.org:
http://answers.ros.org/question/138766/why-is-as-needed-not-explicitly-set-for-ros-workspaces/

[2014-09-24 19:19] jbohren commented on #153
@roehling I think you're owed $10 https://www.bountysource.com/issues/741065-catkin-lint

[2014-10-01 01:09] trainman419 opened #683 "library order from catkin_package() is not preserved"
In my online_learning package, I call catkin_package with two libraries. online_learning_core depends on online_learning_pcd_serializer, so I list it first:

[code]

When linking against this package from another package, the library order is swapped for some reason:

The `online_learning_LIBRARIES` variable appears to be set correctly: `online_learning_core;online_learning_pcd_serializer`

But th

[2014-10-01 01:17] dirk-thomas commented on #683
Please provide a link to a repo / workspace configuration which allows to easily reproduce the problem.

[2014-10-01 01:19] wjwwood commented on #683
It seems to me that if this is related to #546, then #546 should have fixed it too. There is nothing that I can see in `list_append_deduplicate` which would cause the order to change. Maybe we are still using `list_append_unique` in some place where it causes the same issue as described in #546.

[2014-10-01 01:23] trainman419 commented on #683
I'm working on a private repository, so I'm not allowed to provide the full source code.

I was linking online_learning_pcd_serializer against online_learning_core:

[code]

I think this was causing cmake to assume that the library dependency was in the opposite order, so it was trying to list the targets in the appropriate order.

Removing this linking fixed my problem. (it turned out that it was

[2014-10-01 01:23] #683 closed, assigned to nobody

[2014-10-18 13:21] mikepurvis opened #685 "setup.sh requires writable /tmp"
The scenario is when running a script as part of a udev `PROGRAM=""`, for example as directed here:

http://wiki.ros.org/hokuyo_node#Using_udev_to_Give_Hokuyos_Consistent_Device_Names

udev can execute this in advance of `/tmp` being writable, which causes setup.sh to fail. See: http://stackoverflow.com/questions/7163935/udev-device-connected-at-boot-time

Possible resolution could be to fall back

[2014-10-18 17:13] dirk-thomas commented on #685
Am I right to assume that you have this error message in your log files then (https://github.com/ros/catkin/blob/01dc3c37b2cd7a79c53407c86e1be55c8ade4d3d/cmake/templates/setup.sh.in#L49):

[code]

If that is the case we could easily try multiple fallbacks in that conditional block. Can you please try the following patch and confirm that it solves the problem for you: 7e40af5db0b979004d6ded22fbd4be

[2014-10-18 23:47] mikepurvis commented on #685
Thanks Dirk, will give that a try. Hydro would be great, but not strictly necessary— we can patch around it by putting a `udevadm trigger` in `/etc/rc.local`.

We're moving our production robots to Indigo in the next month or two anyway.

[2014-10-20 15:44] mikepurvis commented on #685
Okay, yes, this fix works for us on Ubuntu 12.04. Thanks!

EDIT: Hmm... seems to still be intermittent, wondering if there's a race condition here. Now investigating further...

[2014-10-20 19:57] de-vri-es opened #686 "sh emulation in setup.zsh breaks my zsh config"
The `emulate sh` in setup.zsh breaks something in my zsh config.  I think it's something in my prompt since I get an error message at every prompt. I haven't pinpointed the problem though because I have a rather large configuration, and removing the `emulate sh` fixed the problem for me.

Is there a reason for the `emulate sh`? If there is I can dig and find out what exactly is conflicting, but it

[2014-10-20 20:06] dirk-thomas commented on #686
`emulate sh` is currently required since otherwise the called `sh` code will not work correctly in `zsh`. E.g. `zsh` does not honor the `IFS` which is used in _for_ loops.

Since it reset the emulate mode afterwards (a30121998599424367fd19a591e17c904691b903) I don't see how that would conflict with your zsh configuration. It might be worth to track down what exactly conflicts for you since it can'

[2014-10-20 20:51] de-vri-es commented on #686
Alright, I will dig to find the exact problem and try to provide a minimal broken zshrc.

[2014-10-20 21:45] de-vri-es commented on #686
I found the problem. Either `emulate sh` or `emulate zsh` enables the nomatch option which I specifically disabled in my zshrc. Although I can plate around this specific issue, it is not nice to change options someone set in their zshrc or to require that setup.zsh is sourced before you set your own options.

`emulate -L sh` inside a function is truly temporary and doesn't affect global options. S

[2014-10-20 23:39] trainman419 opened #690 "catkin_download_test_data doesn't update files when MD5 sum changes"
If the MD5 sum on a file changes or the file is corrupted locally, catkin_download_test_data does not run the download_checkmd5.py script to check it and download a clean copy.

To reproduce (in a workspace with ros_comm):

[code]

[2014-10-21 15:29] peci1 opened #691 "Can't build packages with dynamic reconfigure"
So far I had no problems building our project. Now, suddenly, with no obvious reason, `catkin_make` fails on all `_gencfg` targets. The .cfg files have the executable bit set.

I'll post the error log I get.

We're using Indigo on 14.04.

[2014-10-21 15:30] peci1 commented on #691
[code]

[2014-10-21 16:48] dirk-thomas commented on #691
This is for sure not a `catkin` bug. Also since it worked for you before you might either have changed something in your package or it is related to https://github.com/ros/dynamic_reconfigure

Please consider asking your question on http://answers.ros.org and provide more information, e.g. a link to your package or at least the code from your CMakeLists.txt and the cfg file.

[2014-10-21 16:48] #691 closed, assigned to nobody

[2014-10-21 21:31] dirk-thomas commented on #670
I will close this with #671 merged and also being released in all distros.

The tickets (#674, #675) track separate enhancements.

[2014-10-21 21:31] #670 closed, assigned to nobody

[2014-10-21 21:43] dirk-thomas commented on #159
This functionality should not be integrated into catkin but be provided by a separate package.

[2014-10-21 21:43] #159 closed, assigned to nobody

[2014-10-21 21:47] dirk-thomas commented on #605
I will close this ticket for now since there is no further information provided indicating what exactly to address. Please feel free to comment with more information to reopen the ticket.

[2014-10-21 21:47] #605 closed, assigned to nobody

[2014-10-21 21:49] dirk-thomas commented on #648
I will mark this with the milestone `untargeted` since obviously nobody is currently willing to implement any of the ideas.

[2014-10-21 21:50] dirk-thomas commented on #649
This ticket was the result of the catkin usability discussion. But since nobody is currently willing to implement any of these ideas I will mark this with the milestone untargeted.

[2014-10-21 21:54] dirk-thomas commented on #622
Is there any further progress on this? Poking other package maintainers? Can this overview package be closed?

Otherwise I would suggest to move this ticket to `ros/rosdistro` since it is not specific to catkin.

[2014-10-21 21:55] dirk-thomas commented on #650
This ticket was the result of the catkin usability discussion. But since nobody is currently willing to implement any of these ideas I will mark this with the milestone untargeted.

[2014-10-21 22:42] dirk-thomas commented on #686
It looks like we were depending on `emulate sh` before but as of a0d699a08f10424adad38eee25673c9a66120ec4 we are not using the `IFS` anymore. So removing the emulate lines should work fine.

I created a new PR for it: #692
@de-vri-es Thank you for your effort - you were right in the first place - just removing the emulate lines still works.

[2014-10-22 00:00] dirk-thomas commented on #690
Since the download and checksum check are only run once to fetch the file it will be difficult to repeatly check if the file has been corrupted afterwards. Please feel free to provide a pull request for this feature - I might not have the time to implement anything like this in the foreseeable future.

[2014-10-22 00:14] #686 closed, assigned to nobody

[2014-10-22 00:56] tfoote commented on #622
They are all ticketed upstream. I'm not sure we can do much more.

[2014-10-22 01:00] cottsay commented on #622
With https://github.com/ros-infrastructure/buildfarm/issues/205 merged, they'll certainly know that it is an issue. I agree that there is nothing more to be done.

Closing :)

[2014-10-22 01:00] #622 closed, assigned to nobody

[2014-10-22 01:01] dirk-thomas commented on #622
Thank you!

[2014-10-22 07:35] de-vri-es commented on #686
Awesome, thanks.

[2014-11-04 19:05] mikepurvis commented on #685
Okay, I've been looking into this, and there's still some kind of a shell race condition— we're going to abandon naming the devices by serial number for the moment, as I'm unable to commit any more time to it.

Someone else is welcome to pick this up in the future.

[2014-11-04 19:05] #685 closed, assigned to nobody

[2014-11-05 16:16] DLu commented on #517
FWIW, I just ran into this issue. I would think that any package that installs catkin should depend on build-essential.

[2014-11-05 17:45] dirk-thomas commented on #517
Beside the already mentioned reasons above I can describe more cases why `catkin` should neither depend on a compiler nor make:

First you can have a package which does not require a compiler, e.g. any package with only Python code or messages.

Second you don't have to use `make` - you can use `ninja` instead and that decision is up to the developer performing the build.

[2014-11-13 17:26] tho- opened #694 "ld-2.24.90 does not support -l:/full/path/to/library.so"
pkg-config files are generated with items like -l:/full/path/to/library.so.
(See https://github.com/ros/catkin/blob/indigo-devel/cmake/catkin_package.cmake#L264 )

This does not seem to work with ld-2.24.90. Only -l:library.so works (also, -L/ -l:/full/path/ seems to work, but it's not clear if this is an intended behaviour or not). The ld manual only talks about -l:library.so.

I could not find y

[2014-11-13 18:13] dirk-thomas commented on #694
Using `-l:/path/to/lib` is necessary to prevent `pkg-config` from reordering libraries.

This was working well until now. What system are you experiencing this?

Using `-L` and `-l` is not really applicable since it changes resolution of libraries and would break workspace chaining. I don't know a different way to maintain the current behavior.

[2014-11-13 18:31] tho- commented on #694
On Thursday, at 10:13, Dirk Thomas wrote:
| Using -l/path/to/lib is necessary to prevent pkg-config from reordering libraries.

You mean -l:/path/to/lib? (-l/path/to/lib has never worked).

AFAIK, pkg-config does not reorder libraries (this would be a bug). But yes, I
understand your point that -L and -l are not useable.

| This was working well until now. What system are you experiencing this?

l

[2014-11-13 19:13] dirk-thomas commented on #694
Yes, `-l:/path/to/lib`.

It sadly _does_ reorder libraries - please see more info in #300.

If that effects _Utopic_ it will be "problematic" to build any dry packages which depend on pkg-config.

[2014-11-13 20:05] tho- commented on #694
On Thursday, at 11:13, Dirk Thomas wrote:
| It sadly does reorder libraries - please see more info in #300.

I do not see any reordering issue in #300 ?
#300 is about fixing -l/path/to/lib by using -l:/path/to/lib

Maybe what you mean is that pkg-config does not properly handle items that are
a mere full path (e.g. just /path/to/lib.so), while this is a perfectly valid
ld argument. pkg-config basi

[2014-11-13 20:58] tho- commented on #694
On Thursday, at 21:05, Anthony Mallet wrote:
| I do not see any reordering issue in #300 ?
| #300 is about fixing -l/path/to/lib by using -l:/path/to/lib

More on this ... because I would really be surprised that pkg-config reorders
stuff (this is against linking semantics). Do you have an example of a .pc not
working?

% cat foo.pc
Name: foo
Version: 1.0
Description: foo

Libs: -L/foo /usr/lib/li

[2014-11-18 21:36] bobsomers opened #695 "catkin_make_isolated fails if environment variables contain unicode characters (in Hydro)"
I discovered this because my PS1 has some unicode characters in it. When `make -pn` is invoked the environment is dumped and captured, which is why my PS1 caused `catkin_make_isolated` to fail.

[2014-11-18 22:09] jbohren commented on #695
Is this also an issue with `catkin build` ( http://catkin-tools.readthedocs.org/ )?

[2014-11-18 22:12] dirk-thomas commented on #695
I assume you had the problem when you actually invoked `catkin_make_isolated --install`?

Can you please provide more information: which version of catkin are you using and what is the exact value of your environment variable responsible for the problem? Your current locale might also be relevant: `LANG`, `LANGUAGE`, `*LANG*`...

[2014-11-18 22:32] bobsomers commented on #695
Yes, I was installing Hydro from source, via [these instructions](http://wiki.ros.org/hydro/Installation/Source).

I ran into this error specifically on step 2.1.3. My language settings are nothing unusual (en_US.UTF-8).

This is the exact error message when running the command:

[code]

I inserted some debug prints into `src/catkin/python/catkin/builder.py` and discovered that it was my PS1 varia

[2014-11-18 22:34] wjwwood commented on #695
Relevant code: https://github.com/ros/catkin/blob/groovy-devel/python/catkin/builder.py#L203-219

[2014-11-18 22:40] wjwwood commented on #695
I wonder if that character is outside of `utf8`? We seem to be doing some checking related to unicode.

Comparing it with a random other `utf8` character, they seem to have different lengths:

[code]

I find these unicode issues to be very frustrating...

[2014-11-18 22:46] bobsomers commented on #695
I wouldn't necessarily expect their lengths to match, as UTF-8 is a variable width encoding.

It _should_ be within UTF-8... otherwise I don't know how else my terminal would display it. (My .bashrc is UTF-8 is so is the terminal.)

[2014-11-18 23:02] wjwwood commented on #695
@bobsomers you're right, it is utf-8, I'm not sure why this has suddenly become a problem. I'm pretty certain the line that it is failing on was put there to try and address utf-8 problems in the past. I'm not sure what the correct solution is.

[2014-11-18 23:06] trainman419 commented on #695
It looks like the utf-8 conversion is OK, and the StringIO object is rejecting the unicode characters; probably related to http://stackoverflow.com/questions/1817695/python-how-to-get-stringio-writelines-to-accept-unicode-string

[2014-11-18 23:17] dirk-thomas commented on #695
@bobsomers Can you please try it with the latest `catkin` version from the `indigo-devel` branch? The unicode handling has been changed since Hydro and might already fix your problem.

[2014-11-18 23:41] bobsomers commented on #695
@dirk-thomas It looks like the problem is fixed in Indigo.

[2014-11-18 23:47] dirk-thomas commented on #695
Thank you for confirming that it works with the `indigo-devel` branch.

Since the patch is based on changes made for Python 3 compatibility it is not likely that the necessary changes will be backported to Hydro (since the Python 3 related changes won't be backported for sure).

Please either remove the unicode characters from your environment before invoking `catkin_make_isolated --install` or us

[2014-11-18 23:47] #695 closed, assigned to nobody

[2014-11-19 00:01] bobsomers commented on #695
No worries, the workaround is simple enough. Just check for any unicode characters in your environment variables (`export`) and remove them prior to running `catkin_make_isolated`.

[2014-11-20 09:46] tho- commented on #694
See also the issue reported to the binutils people here
https://sourceware.org/bugzilla/show_bug.cgi?id=17606

If somebody wants to help convincing them ... :)

[2014-11-20 13:13] jbohren commented on #694
Wow...

[2014-11-22 02:59] CIOMP-leon opened #696 "CMake Error: The source directory "/opt" does not appear to contain CMakeLists.txt."
This error appears When I enter 'mkdir build && cmake ../ && make && sudo make install'. I search the all the directories in /opt but there isn't any cmake files. Did I miss something ?

[2014-11-22 04:21] dirk-thomas commented on #696
We never recommend to build directly in `/opt`. But your post does not contain enough information to give you any feedback.

Anyway you should ask questions with more information what exactly you are trying to do on http://answers.ros.org as recommended in the http://wiki.ros.org/Support guidelines.

[2014-11-22 04:21] #696 closed, assigned to nobody

[2014-11-26 14:30] chintak opened #697 "rosdep installing the dependencies fails on OSX 10.10"
Hi,

I am trying to setup ros on OSX 10.10. I'm following the installation instructions given [here](http://wiki.ros.org/indigo/Installation/OSX/Homebrew/Source#indigo.2BAC8-Installation.2BAC8-Source.Building_the_catkin_Packages). While resolving the dependencies using this command:

`rosdep install --from-paths src --ignore-src --rosdistro indigo -y`

I get an `ld: symbol(s) not found for archite

[2014-11-26 15:41] wjwwood commented on #697
Hi @chintak,

This really isn't the correct repository for this kind of issue, since it really doesn't have anything to do with catkin. Please ask this question on answers.ros.org.

Others have gotten Indigo working on 10.10 without many problems, I haven't heard of this specific issue myself.

I'm going to close this, but please open a question on answers.ros.org and make sure you tag it with os

[2014-11-26 15:41] #697 closed, assigned to nobody

[2014-11-28 05:16] chintak commented on #697
@wjwwood, I've posted the question here: http://answers.ros.org/question/198391/rosdep-installing-the-dependencies-fails-on-osx-1010/

[2014-12-09 21:52] dirk-thomas commented on #592
I will close this ticket and mark it with "wontfix". If anyone would like to create a tool which provides the requested feature it can be either integrated into `catkin` or even better be packages separately.

[2014-12-09 21:52] #592 closed, assigned to nobody

[2014-12-09 21:54] dirk-thomas commented on #533
I will close this ticket since it is unlikely to be used since we still need to support older CMake versions.

[2014-12-09 21:54] #533 closed, assigned to nobody

[2014-12-09 21:55] dirk-thomas commented on #509
Since it is not likely that feature will ever be implemented I will close this ticket and mark it as "wontfix".

[2014-12-09 21:55] #509 closed, assigned to nobody

[2014-12-09 21:56] dirk-thomas commented on #379
Without any specific feedback this can not be acted on. I will close it for now and mark it "wontfix". Please feel free to provide further information and the ticket might be reopened.

[2014-12-09 21:56] #379 closed, assigned to nobody

[2014-12-09 22:06] dirk-thomas commented on #680
I would rather recommend gentoo users to set their linker flags accordingly then make catkin (or catkin_make) aware of these platform specific differences.

[2014-12-09 22:38] v4hn commented on #680
On Tue, Dec 09, 2014 at 02:06:01PM -0800, Dirk Thomas wrote:

Hey Dirk, thanks for your comment.

First off, this is not a matter of any particular distribution.
If anything, this is about the idea of some major distributions to change linker _sources_
to make the default of ld --as-needed when the upstream sources specify the default to be --no-as-needed.

Secondly, how is anyone supposed to "set

[2014-12-09 23:48] dirk-thomas commented on #680
You can simply invoke CMake with arguments. There are three variables relevant for linker flags in CMake:
- CMAKE_EXE_LINKER_FLAGS http://www.cmake.org/cmake/help/v2.8.12/cmake.html#variable:CMAKE_EXE_LINKER_FLAGS
- CMAKE_MODULE_LINKER_FLAGS http://www.cmake.org/cmake/help/v2.8.12/cmake.html#variable:CMAKE_MODULE_LINKER_FLAGS
- CMAKE_SHARED_LINKER_FLAGS http://www.cmake.org/cmake/help/v2.8.12/cmak

[2014-12-10 08:45] galou opened #698 "CMAKE_EXPORT_COMPILE_COMMANDS=1"
I guess adding the `set(CMAKE_EXPORT_COMPILE_COMMANDS ON)` (or something similar) in catkin's entry point, `CMakeLists.txt`, would not disturb anybody but it is useful for Vim's YouCompleteMe plugin.

On Ubuntu, the entry point for catkin is a symlink to `/opt/ros/indigo/share/catkin/cmake/toplevel.cmake`, thus is unmodifiable. Could this be added there by default?

Regards,
Gaël

[2014-12-10 18:15] dirk-thomas commented on #698
Since this is kind of a special feature which might be only used by a few people I am not sure if catkin should always generate the compiler / linker commands (for everybody) by default. It might be easier if you pass the argument to the `cmake` / `catkin_make` invocation when performing the build.

Also the `toplevel.cmake` file only affects builds with a single CMake invocation. Isolated builds

[2014-12-11 09:05] galou commented on #698
I thought it more as a suggestion than an issue and I didn't know that `toplevel.cmake` is not used with `catkin_make_isolated`.
The plugin I use (YouCompleteMe) is configured via a Python script, so I guess it wouldn't be a problem with separate folders.
I close the issue, thanks for answering.

[2014-12-11 09:05] #698 closed, assigned to nobody

[2014-12-11 16:26] dirk-thomas commented on #698
Were you able to identify which parameters you had to pass to make it work for your use case?

[2014-12-15 20:59] galou commented on #698
I use the plugin in combination with `catkin_make`, not `catkin_make_isolated`. For `catkin_make`, I run `catkin_make -DCMAKE_EXPORT_COMPILE_COMMANDS=1`.
According to http://wiki.yangleo.me/2013/10/27/YouCompleteMe-installation-and-configurations.html, to configure `YouCompleteMe`, you need to modify a line to the .ycm_extra_conf.py

[code]

Is that what you wanted to know?

[2014-12-15 21:23] dirk-thomas commented on #698
Yes, then anybody who reads this in the feature can get it working with the same setup as you. Thanks!

[2014-12-18 17:44] dirk-thomas opened #699 "support using gmock"

[2014-12-20 19:32] czalidis opened #701 "documentation: should we use build_export_depend on 'message_runtime' when building msgs?"
[This file](https://github.com/ros/catkin/blob/indigo-devel/doc/howto/format2/building_msgs.rst) suggests that when building msgs, our package.xml must have:

[code]

When running [catkin_lint](https://github.com/fkie/catkin_lint) on that package, it says that I should also add:

[code]

Adding `build_export_depend` sounds logical to me. Either way, the documentation needs to be updated or the [ca

[2014-12-20 19:46] dirk-thomas commented on #701
Both kind of dependencies `exec` as well as `build_export` will end up as a run dependency in the Debian packages. The different names are only used for semantic reasons - to help users understand what the dependency is needed for.

In case of `message_runtime` it actually serves multiple purposes: https://github.com/ros/message_runtime/blob/groovy-devel/package.xml
- the dependency on `genpy` is

[2014-12-21 12:26] roehling commented on #701
I changed the logic as requested but it feels inconsistent, as 'message_runtime' is the only exec_depend while everything else listed in CATKIN_DEPENDS is a build_export_depend.

[2014-12-21 22:11] dirk-thomas commented on #701
There is no right or wrong here. Technically `message_runtime` is both. But it is sufficient to have it as either or listed in the `package.xml`.

In the documentation it is currently referenced as an `exec` depend. Therefore I think it would be good if catkin_lint "accepts" that as valid.

But also if the user specifies it as a `build_export` dependencies or even both that should be considered "o

[2014-12-22 13:20] roehling commented on #701
Sounds good. catkin_lint will now accept both build_export_depend and exec_depend, but will specifically complain about a missing exec_depend if neither are used.

[2014-12-22 19:33] dirk-thomas commented on #701
That is great. Since `catkin_lint` can't know which semantic meaning the missing dependency has should it recommend that "either a `build_export` or an `exec` dependency` is missing"? Otherwise it might lead the user to use a dependency type which doesn't match the semantic.

For the `message_runtime` example exec might make sense  but for other dependencies it might be the other way around (as yo

[2014-12-23 09:50] roehling commented on #701
My statement was a bit unclear: the `exec_depend` logic applies merely to `message_runtime` for now. All other packages are assumed to be `build_export_depend`. As `CATKIN_DEPENDS` (like `DEPENDS`) are added to the linked libraries and include paths of dependent builds, it seems most appropriate except for corner cases like `mesage_runtime`.

However, given that there might be other corner cases i

[2014-12-23 17:32] dirk-thomas commented on #701
It sound good the way it is now. Therefore I will mark this as closed. Thanks @roehling for the fast updates.

[2014-12-23 17:32] #701 closed, assigned to nobody

[2014-12-24 13:05] roehling commented on #701
I released a new version (1.3.10) with the changes.

ping @tfoote

[2014-12-24 18:39] cottsay opened #702 "Typical workaround for catkin releases"
It looks like with the release of Jade, you're now generating RPMs specs. Yay!

Unfortunately, the same workaround [1] that is needed in Ubuntu is needed in Fedora, as well.

Please do the same thing in the `rpm/ros-foo-catkin.spec` files in the following branches:
- `rpm/indigo/catkin`
- `rpm/jade/catkin`

...and then do a release. I'm thrilled that we can do this once and I don't need to keep do

[2014-12-26 00:18] dirk-thomas commented on #702
Can you please point me to the exact files? I only find the template in the `rpm` folder on that branch: https://github.com/ros-gbp/catkin-release/tree/rpm/jade/catkin/rpm

[2014-12-26 05:43] cottsay commented on #702
I'm sorry, I should have been more specific. The two changes should be at:
- https://github.com/ros-gbp/catkin-release/blob/rpm/indigo/catkin/rpm/template.spec.em#L32
- https://github.com/ros-gbp/catkin-release/blob/rpm/jade/catkin/rpm/template.spec.em#L32

Thanks, @dirk-thomas!

--scott

[2014-12-26 18:16] dirk-thomas commented on #702
Patched:
- https://github.com/ros-gbp/catkin-release/commit/9b35d998c0f2d9a7ad31476874535b7457f4a69c
- https://github.com/ros-gbp/catkin-release/commit/191c5bb0ebe026d177b0f90a100e5636a719038f

I only released a debinc of catkin for Jade (https://github.com/ros/rosdistro/pull/6683). For Indigo that would require a full rebuild (which we just completed) so it will be available for the next release

[2014-12-26 18:16] #702 closed, assigned to nobody

[2014-12-27 07:05] cottsay commented on #702
Thanks much, @dirk-thomas!

[2014-12-29 06:19] garaemon opened #703 "[indigo] run_tests.py always reports failure?"
I'm in the middle of digging this problem...
According to [run_test.py](https://github.com/ros/catkin/blob/indigo-devel/cmake/test/run_tests.py#L34),
it expects `ensure_junit_result_exist` to return True.

However, in https://github.com/ros/catkin/blob/indigo-devel/python/catkin/test_results.py#L52, `ensure_junit_result_exists` does not return `True`.

From our testcase log:

[code]

[2014-12-29 06:20] garaemon commented on #703
I think this line https://github.com/ros/catkin/blob/indigo-devel/python/catkin/test_results.py#L91 should be `return True`

[2014-12-29 16:47] tfoote commented on #703
That looks reasonable. Is there a simple test that can demonstrate this problem so we can add it as a regression test and verify this change fixes it?

[2014-12-29 18:14] dirk-thomas commented on #703
This affects CTest since only for those the `--return-code` option is passed. E.g. `catkin_make test` on catkin marks all tests as failing.

[2014-12-29 18:14] #703 closed, assigned to nobody

[2014-12-29 18:19] dirk-thomas commented on #703
Thank you for the report. This was a regression of 11217b3acf661133427345871b2cea756349e614.

Since it hasn't been released yet it was only failing CTests when using catkin from source. Since the upcoming release 0.6.10 would have included this bug I just released 0.6.11.

[2014-12-30 03:06] garaemon commented on #703
thanks :bow:

[2015-01-12 22:21] mkoval opened #706 "How to disable --only-pkg-with-deps?"
I used `--only-pkg-with-deps` to rebuild a single package in a Catkin workspace. After doing so, future invocations of `catkin_make` (with no options) do not force a configure. As a result, they build the subset of packages that were selected by the flag.

The only solution I've found to work is to delete the entire build directory. Surprisingly, the `--force-cmake` flag also doesn't force a recon

[2015-01-12 22:54] dirk-thomas commented on #706
`--only-pkg-with-deps` equates to set the CMake variable `CATKIN_WHITELIST_PACKAGES`. Once that is set it will be in the `CMakeCache.txt` file until being redefined.

Passing `--force-make` _does_ invoke the CMake configuration step again. But it will keep using the variable from the cache.

The script has no knowledge if the user had passed `-CATKIN_WHITELIST_PACKAGES=...` before (and it should k

[2015-01-12 23:00] wjwwood commented on #706
I can confirm the behavior you describe is happening, but it is not because CMake is not running. I did this:

[code]

At this point I can see why you would expect just `catkin_make` to build `foo` and `bar`, but it doesn't even though it does run CMake:

[code]

A second invocation shows that CMake doesn't run everytime:

[code]

And though `--force-cmake` runs CMake again, it doesn't get it back

[2015-01-12 23:01] wjwwood commented on #706
Doh, what @dirk-thomas said. I should check before posting...

[2015-01-12 23:12] mkoval commented on #706
@dirk-thomas Thanks for the explanation! That makes sense. I also don't see a solution with the current architecture.

@wjwwood I am using `--build-pkg-with-deps` because Catkin's configure times are so atrocious. It's very tedious to debug issues in a package's `CMakeLists.txt` file because every edit forces the entire workspace to (very slowly) re-configure. What workflow do you suggest for this

[2015-01-12 23:27] wjwwood commented on #706
@mkoval `catkin_make_isolated` is slower than `catkin_make` because it must run `CMake` and then `make` on each package in turn without parallelization amongst packages. However, for partial rebuilds it can be much faster with options like `--only-pkg-with-deps` or `--from-pkg`.

We've also been working on a new tool under the umbrella of https://github.com/catkin/catkin_tools called `catkin build

[2015-01-12 23:32] wjwwood commented on #706
Also, w.r.t the documentation for `catkin_make --build-pkg-with-deps` I agree that the docs should be updated, I don't support there is a chance we could solicit a pull request from you? :smile:

It seems adding `-DCATKIN_WHITELIST_PACKAGES=""` to the next `catkin_make` call will clear the condition and include all packages again, though I haven't considered all of the ramifications of this approa

[2015-01-16 08:30] jspricke opened #709 "Unit tests broken since 0.9.10"
Hi,

The unit tests are broken since https://github.com/ros/catkin/commit/11217b3acf661133427345871b2cea756349e614. Steps to reproduce:

[code]

I will try to look into it next week.

[2015-01-16 08:45] jspricke commented on #709
I just found out that this was due to catkin 0.6.9 in my paths. Also, that should be a 0.6.10 in the title, sorry.

[2015-01-16 08:45] #709 closed, assigned to nobody

[2015-01-19 07:59] martinpitt opened #710 "setup.sh hardcodes /tmp, should honor $TMPDIR"
Hello,

in our environment (Ubuntu Snappy), packaged apps cannot currently access `/tmp/`, but the environment sets `$TMPDIR` (and `$TEMPDIR`) to an appropriate place, see https://en.wikipedia.org/wiki/TMPDIR. But catkin's setup.sh.in doesn't honor that, but does

[code]

It should call `mktemp --tmpdir setup.sh.XXXXXXXXXX` instead to honor those.

This is at https://github.com/ros/catkin/blob/ind

[2015-01-19 09:05] wjwwood commented on #710
@martinpitt Thanks for the bug report, but I think we aren't currently using that because that isn't an option on all systems with mkdir, for example on OS X:

[code]

However, `TMPDIR` is set:

[code]

Perhaps something else might be more cross-platform compatible.

[2015-01-21 21:17] dirk-thomas commented on #706
Addressed by #707.

[2015-01-21 21:17] #706 closed, assigned to nobody

[2015-01-22 16:23] Ram-Z commented on #686
This breaks it for my setup. I have the zsh option `noclobber` set which doesn't allow truncating a file when redirecting to it.

[code]

PR following.

[2015-02-13 13:06] k-okada opened #718 "file COPY cannot set permissions for 05.catkin_make.bash"
we sometimes see following error when we compile multiple packages in parallel, I still can not find a way to reproduce this issue perfectly, but it occurs sometimes. It seems we have to not to overwrite on
https://github.com/ros/catkin/blob/indigo-devel/cmake/catkin_add_env_hooks.cmake#L91, or find any other way to write atomic copy.

[code]

[2015-02-13 17:30] dirk-thomas commented on #718
Please provide an example command sequence for which it at least happens sometimes.

[2015-02-16 03:40] k-okada commented on #718
ok, I finally able to find the way to reproduce this issue, see https://travis-ci.org/k-okada/test_catkin_parallel/jobs/50891940#L2704

[2015-02-16 23:50] wjwwood commented on #718
So the file in question (based on your travis-ci job) being installed which presumably collides is `05.catkin_make_isolated.bash`, but my question is why is this file getting installed for every package? It is the tab completion for `catkin_make_isolated`, that should only get installed by catkin right?

If you build multiple packages in parallel which create the same file then you can get a colli

[2015-02-17 00:30] k-okada commented on #718
thanks for looking into, I found that we sometimes have copy error on both `05.catkin_make.bash` or `05.catkin_make_isolated.bash`, and my testcode uses https://github.com/k-okada/test_catkin_parallel/blob/master/test1/CMakeLists.txt, which I believe very normal.

it seems catkin checks if the 05.catkin_make_isolated.bash exists (
https://github.com/ros/catkin/blob/2599eb973762c2a23f103fdc8bd0ef40

[2015-02-17 01:10] dirk-thomas commented on #718
@wjwwood Indeed, the completion scripts could be registered only once for catkin itself.

@k-okada I can't tell why the operation fails. It could be any kind of system reason: permission denied, no space left on device, destination directory does not exist, etc. CMake does not report the actual cause (http://public.kitware.com/Bug/view.php?id=14700). The travis log you referenced does not involve

[2015-02-17 02:24] k-okada commented on #718
it only happens if you build multiple catkin packag and it happens randomly, so may be `file(COPY...)` is not atomic function. It seems you have implemented
https://github.com/ros/catkin/blob/2599eb973762c2a23f103fdc8bd0ef40e779f2ed/cmake/atomic_configure_file.cmake, and I'd like to know the reason. did you find that `configure_file` is not atomic but `file(RENAME` is atimic?

[2015-02-17 03:28] dirk-thomas commented on #718
`configure_file` is not atomic (it is being created and populated incrementally) but as far as I remember the issue is that it was being used in the middle of that already.

For the problem you are describing that doesn't seem to be a problem but it seems to be unable to perform the copy.

[2015-02-17 04:35] wjwwood commented on #718
I believe that copy is never atomic, only rename. But rename either doesn't work across filesystems or is no longer atomic when used across filesystems, I don't remember which. I do remember talking about creating a peer file in the destination folder with a random name and then using rename to rename the randomly named file to the target name. This is both atomic and guaranteed to work since the

[2015-02-18 19:10] dirk-thomas commented on #718
Some of the environment hooks (the ones for completion) do not need to be installed for other packages than catkin. That is easy to fix.

But some of the environment hooks (setting the variables for test results) must be installed for every package. So for them the copy to the devel space needs to be atomic if their destination across packages is the same and they are being invoked in concurrently

[2015-02-19 01:48] linas commented on #611
Any forward progress?  I note several (minor) problems:
- Saying `catkin build` after `catkin_make` causes a crash that is fixable by `catkin clean -a`
- Tutorials still recommend `catkin_make`
- if distutils setup has a setup.py with entry_points = { whatever: xx} in it, then `catkin build` silently ignores it, while `catkin_make` at least told me not to do that ...

[2015-02-19 02:08] wjwwood commented on #611
You might be interested in https://github.com/catkin/catkin_tools/issues/135. As I stated there I haven't had time to spend finishing up the remaining outstanding issues with `catkin build`, captured here: https://github.com/catkin/catkin_tools/issues/90

According to @jbohren that was covered in https://github.com/catkin/catkin_tools/pull/80: https://github.com/catkin/catkin_tools/issues/11#issue

[2015-02-28 01:27] bricerebsamen opened #719 "run_tests writes to wrong workspace"
I have a chain of workspaces: third, stable, exp, in this order, i.e. stable sources third and exp sources stable.

if I run `catkin_make run_tests` in the stable workspace, the xml result file is written to `exp/build/test_results` instead of `stable/build/test_results`.

[code]

[code]

note that in this examples there are 2 tests in the `velodyne_localizer` package:
- `test_laser_map` which is

[2015-02-28 01:35] bricerebsamen commented on #719
I cannot find the code for `add_rostest`. A grep for it in the catkin package only returns results in the `doc` folder.

[2015-02-28 01:36] wjwwood commented on #719
That's because it's in the `rostest` package: https://github.com/ros/ros_comm/tree/indigo-devel/tools/rostest

[2015-02-28 01:39] wjwwood commented on #719
There is a related issue here, though I couldn't extract enough information to track down the actual issue: https://github.com/catkin/catkin_tools/issues/137

We have another user of catkin which has identified a similar problem, so I think this is issue is real and is caused by a conceptual problem with the way we set the test variable. It has to do with the compatibility with the older rosbuild

[2015-03-04 16:48] dirk-thomas commented on #719
The problem is that the location is package specific but determined by a runtime setting defined through an environment hook. This is the case since rosmake used an environment variable which defines the location of the test results.

One option to allow package specific folders for the test results would be to change the code to make the decision about the result location at configure time. This

[2015-03-04 17:11] bricerebsamen commented on #719
what's confusing is that the rostest results and the gtest results are written in different locations and that `catkin_test_results` reports missing tests. Personally I don't care where the results are written, but I'd like something integrated with `catkin_test_results`. So what about writing them to .ros? Or making `catkin_test_results` search for test results in the current workspace and in the

[2015-03-09 22:26] simonlynen commented on #718
@dirk-thomas @wjwwood +1 on this issue. Do you have a workaround for this?

[2015-03-09 22:46] wjwwood commented on #718
We do not. We need to sit down and discuss it in more detail. This is a conceptual problem and we'll likely have to adjust how we do testing (or at least how we pass the test directory to rostest) to make it work.

[2015-03-09 23:02] wjwwood commented on #718
This is related to https://github.com/ros/catkin/issues/719

[2015-03-12 17:59] BenBlumer opened #722 "No warning when creating a package with a conflicted name."
I have a package I wrote to control gazebo. So I called it "gazebo_control". I added a service from it in Python  `from gazebo_control.srv import *`. Upon running this script, this produced the error `ImportError: No module named srv`.  Changing the name of the package fixed the error.  I'm not sure what this is about. If anyone else can confirm this happens to them, it's worth looking in to since

[2015-03-12 18:06] wjwwood commented on #722
Overlaying different versions of packages with the same name is an intended workflow. Usually, in that case, the two packages are the same package at different versions, but regardless `catkin` cannot easily know if you mean to overlay the package or if you accidentally created a package with same name.

The `catkin_create_pkg` command could certainly warn you if you're creating a package of the s

[2015-03-12 18:08] wjwwood commented on #722
This kind of sanity check or notice would also probably be better done in a tool like `catkin_make` or `catkin_make_isolated`/`catkin build`, since they have all the information in one place and the check can be done once instead once per package.

[2015-03-12 18:17] BenBlumer commented on #722
Hmm. I could see the merit of that.

But I have no idea where this previous version of "gazebo_control" exists. I don't even know what it does/did. It's not in any workspace hat's currently sourced. So from the user perspective, I was spending a lot of time debugging my new package (combing through CMakeLists, double checking against tutorials, file paths, etc.) when really the problem was with so

[2015-03-12 18:18] wjwwood commented on #722
I understand the confusion, and that's why I support the tools notifying you if you're overlaying incase you're not away of it.

[2015-03-12 18:19] dirk-thomas commented on #722
@BenBlumer You can check the list of ROS packages in your current environment with `rospack list`.

[2015-03-12 18:53] tfoote commented on #722
Unfortunately since there's no canonical list of packages we can't actually guarantee non-collision. In this case it collides with a released package, which could be checked. But there are many more unreleased packages.

I would suggest that your name choice is too generic if you're running into collisions like this. "control in the context of gazebo" is not well scoped, as can be seen if I ask, "

[2015-03-13 00:50] BenBlumer commented on #722
Dirk, gazebo_control actually doesn't show up in my rospack list now that I've changed the name of the package I created. I'm not sure what that's about!

Tfoote, the name could be more specific for sure. Though, for my application, it's scoped by the fact that it's in a workspace dedicated to my thesis. In the context of my thesis workspace, it is very clear what gazebo_control does, and the pack

[2015-03-13 01:02] dirk-thomas commented on #722
Have you tried to figure out where the Python package is located:

[code]

And then checked from which Debian package it comes from:

[code]

[2015-03-14 19:59] mryellow commented on #611
Just a drive-by note, by no means a compilation wizard so likely something I missed...

I was having issues with `python_orocos_kdl` using `catkin_make_isolated`, crashing with mutliple `cannot convert ‘PyObject*` on Debian jessie.

`catkin clean --all` + `catkin build` found a way through and managed to build everything.

Would have saved me a few hours.... Maybe just a few links showing that thi

[2015-03-15 22:13] jbohren commented on #611
@linas

Do you mean the error message? It should look something like:

[code]

If not, then you just need to update to the latest version.

[2015-03-20 17:48] dirk-thomas commented on #674
I assume `catkin_tools` addresses the need in its own way and this ticket can be closed?

[2015-03-20 17:51] dirk-thomas commented on #304
With `catkin_tools` addressing these use cases I assume this ticket can be closed?

[2015-03-20 17:52] jbohren commented on #674
No, `catkin_tools` doesn't address this.

[2015-03-20 17:54] dirk-thomas commented on #675
Since the initial comment only mentions the `.catkin` file is this still relevant after #671 has been merged?

[2015-03-20 18:05] dirk-thomas commented on #722
As @tfoote mentioned before printing all overlayed packages for your use case would be overly verbose and therefore I don't think `catkin_make(_isolated)` should do that. Since there are already numerous way to find existing packages (as mentioned above) I will close this ticket and mark it with the label "wontfix".

[2015-03-20 18:05] #722 closed, assigned to nobody

[2015-03-20 19:19] tkruse commented on #304
Since leaving this ticket open won|t change anything, I guess it can be closed.

[2015-03-20 19:33] dirk-thomas commented on #304
That was not my actual question, but then I will go ahead and close it.

It can always be reopened if there is need and/or a PR can be proposed.

[2015-03-20 19:33] #304 closed, assigned to nobody

[2015-03-28 10:11] kartikmohta commented on #694
Reviving an old thread, but I'm facing the same issue on Arch with binutils 2.25.0. One way to solve the issue is to only add -l:library.so instead of -l:/full/path/to/library.so to the generated pkg-config files. I haven't tested whether this works on the supported Ubuntu platforms, but for someone looking for a quick solution, here is the hack:

[code]

[2015-03-28 16:38] dirk-thomas commented on #694
Just using the library name without the absolute path won't work since a) it does not set the library dirs anywhere and b) even if it would prepend a `-L` that would still make the lookup try wrong locations first (due to non-deterministic order of the library paths). So I am afraid the proposed patch is not a viable solution.

[2015-04-01 03:00] kartikmohta commented on #694
Well, according to the ld man page, it says

so it _should_ only search for the file in the library path. And as per https://sourceware.org/bugzilla/show_bug.cgi?id=17532#c3, the use of full path in the argument is `an undocumented ld feature, in actual fact a ld bug, that has since been fixed.`
This would require a fix for the next Ubuntu release (15.04) which includes ld 2.25.0. Why is the full

[2015-04-01 05:34] dirk-thomas commented on #694
Using numerous `-L` and `-l` arguments in large scale builds like ROS packags with lots of dependencies has the problem that we can not ensure the right search order for libraries.

Especially when intentionally overlaying workspaces (http://www.ros.org/reps/rep-0128.html#overlays). E.g. when a workspace B overlays workspace A that means that any shared library from workspace B should be preferred

[2015-04-01 06:00] kartikmohta commented on #694
@dirk-thomas It only occurs when building rosbuild packages, catkin packages build fine so you might not have noticed it. I just tried building a rosbuild package, with a trivial executable as the target, depending on roscpp (with jade on Ubuntu 15.04) and it gave me errors in the linking stage

[code]

[2015-04-01 06:42] dirk-thomas commented on #694
I didn't notice that you referred to `-l:`. The reason for that is described in other comments above:
- https://github.com/ros/catkin/issues/694#issuecomment-62938803
- https://github.com/ros/catkin/issues/694#issuecomment-62948545

Removing the colon is therefore not an option (at least that was the behavior at that time). And dropping the path and using only the filename will result in the order

[2015-04-01 17:54] kartikmohta commented on #694
Sadly then seems like rosbuild package building would be broken from Utopic onwards...

[2015-04-01 17:58] dirk-thomas commented on #694
I am open to suggestions if you can imagine a way to address the problem.

[2015-04-02 17:52] dirk-thomas commented on #690
Addressed with #716 being merged.

[2015-04-02 17:52] #690 closed, assigned to nobody

[2015-04-02 19:28] j-rivero commented on #694
It could sound a bit stupid but: what about adding the absolute path to the .pc file without the `-l` flag, just as the absolute path?

[code]

We can discuss (and probably lost the discussion) if we are not breaking the semantic of the Libs: clause of pkg-config, which specifies:

[code]

I've found that Ogre and OpenCV are doing this kind of tricks in OGRE-PCZ.pc (together with rpath). In the ca

[2015-04-02 21:20] #710 closed, assigned to nobody

[2015-04-02 23:56] j-rivero commented on #694
I was able to create a catkin_workspace with catkin modified with this patch and ros_comm. All seems to be working. Absolute paths are passing to the compiler without the `-l`

[code]

I was not able to find any singe rosbuild package. @kartikmohta could please point me to your rosbuild package or test the patch by yourself?

[2015-04-03 00:41] dirk-thomas commented on #719
The problem should be addressed with #728. Please give it a try and confirm that it works for your use case (please remove the build space to perform a clean build).

[2015-04-03 01:04] dirk-thomas commented on #694
I think we first should reproduce the original problem (the reordering) which was the reason why this was changed in the first place (ros/catkin#300).

[2015-04-13 20:19] dirk-thomas commented on #719
I will close this ticker since the PR resolves the problem for me.

[2015-04-13 20:19] #719 closed, assigned to nobody

[2015-04-13 20:46] dirk-thomas commented on #718
Some of the environment hooks have been removed in https://github.com/ros/catkin/commit/b298bb11bcc1053aaf1ce4b206594167de747f2c#diff-4711d7d40543d1cda255cb4f83806100

The remaining ones should only be added for the catkin package: #732

Therefore I will close this ticket since it should not be an issue anymore.

[2015-04-13 20:46] #718 closed, assigned to nobody

[2015-05-03 20:16] mikeferguson opened #735 "nosetest docs say "unittest" package is needed, package does not exist"
In the catkin noes tests documentation, it is stated that the package.xml must depend on unittest -- but this is neither a ROS package nor a rosdep key (http://docs.ros.org/indigo/api/catkin/html/howto/format1/python_nose_configuration.html)

Should this be actually be "rosunit"? Or is there no additional depend needed (on my local machine, rosunit was not installed and my tests were running fine)

[2015-05-04 03:50] chrisspen opened #736 "Message headers not generated"
Any package with message headers fails to compile using `catkin` because the messages are never converted to header files, leading to compilation errors like:

[code]

I'm new to catkin, and was trying to compile [this lsd_slam fork](https://github.com/icoderaven/lsd_slam) when I encountered this error. Fortunately, many others have encountered similar errors, leading me to find [this question](ht

[2015-05-04 05:13] dirk-thomas commented on #736
This is not a bug but a usage problem. Please read through the plenty of documentation, look for similar questions on answers.ros.org or ask your question on answers.ros.org. I am happy to answer your question there if need is.

[2015-05-04 05:13] #736 closed, assigned to nobody

[2015-05-04 19:15] dirk-thomas commented on #735
It seems `unittest` refers to the Python unittest`package which is included in Python by default. Therefore I think the dependency should just be removed. For a plain test`nosetest`is sufficient and provided with`catkin`.

Of course your test might use `rosunit` and then need to also `test_depend` on that. But that is not a requirement for every test.

I removed the mentioned test dependency from

[2015-05-04 19:15] #735 closed, assigned to nobody

[2015-05-04 19:27] mikeferguson commented on #735
@dirk-thomas thanks for taking a look at it -- I wasn't quite sure what was going on

[2015-05-04 19:38] dirk-thomas commented on #735
Filling the ticket was good point. Clearly `unittest` was not a valid dependency.

[2015-05-11 21:51] gerkey commented on #694
I'm looking into this, too.  As @tho- asked, can somebody provide a `.pc` file that will cause `pkg-config` to reorder the libs?

[2015-05-11 21:55] gerkey commented on #694
Removing the `-l:` prefixes in the `.pc` files in my Jade installation, to leave bare absolute library paths (`cd /opt/ros/jade/lib/pkgconfig; for f in *.pc; do sed -i 's/-l://g' $f; done`) fixes my simple example rosbuild package on Utopic.  Presumably I've broken something else in exchange; how I can demonstrate that other broken thing?

[2015-05-11 23:02] tho- commented on #694
On Monday, at 14:55, gerkey wrote:
| Removing the -l: prefixes in the .pc files in my Jade installation, to leave bare
| absolute library paths (cd /opt/ros/jade/lib/pkgconfig; for f in *.pc; do sed -i 's
| /-l://g' $f; done) fixes my simple example rosbuild package on Utopic.

To strictly comply with pkg-config, I think (to be checked again) that Libs:
may only contain -L/-l flags. Absolute path

[2015-05-11 23:23] wjwwood commented on #694
Well, to be fair, it didn't fail when `ld` provided the mechanism for us to order it and keep it ordered. From my perspective (maybe I'm not forseeing yet another issue that we don't handle) if either `ld` left this mechanism in place (or one like it) or if pkg-config didn't reorder things, then everything would be working.

That's great if it works for you, but for most of our users who don't hav

[2015-05-11 23:28] dirk-thomas commented on #694
@wjwwood You need to link against two libraries which work with one order but not the other. Usually you do that by having one library require symbols from the other library. While the symbols required for the executable will always be found - independent of the library order - the symbols used in one library provided by the other will only work for one of the the cases. Based on that you can cons

[2015-05-13 18:54] gerkey commented on #694
@tho- I appreciate that using something other than `-L/-l` flags in `Libs:` is unusual, but I can't find anything in the documentation that advises against it.  E.g., from the man page:

[code]

[2015-05-13 19:29] gerkey commented on #694
Hypothesis: `pkg-config` isn't reordering libraries, but `rosbuild` is.  To get build flags, `rosbuild` calls out to `rospack`, which in turn calls out to `pkg-config` (via `rosdep2` running inside an embedded Python interpreter, but for own sanity, let's pretend that that last step is not happening).

For libs, `rosbuild` calls out three times, once for [libs-only-L](https://github.com/ros/ros/bl

[2015-05-13 19:33] gerkey commented on #694
To clarify, my proposal is:
- Change catkin to produce `.pc` files that don't use any `-l` prefix on absolute library path names in `Libs:`.
- Change `rosbuild` to give absolute library path names to CMake in `target_link_libraries` (along with non-absolute library names, preserving order among them all), rather than `set_target_properties LINK FLAGS`.

[2015-05-13 21:29] wjwwood commented on #694
@gerkey That sounds reasonable, and I trust your diagnosis of the issue, but do we have a test case yet that will tell us if it is resolved? Put another way, how will we know it works after your change?

I started working on a test setup for this yesterday, but I didn't finish it yet.

It seems likely that what you've described may be the case. When we were fixing the compatibility between catkin

[2015-05-14 17:56] gerkey commented on #694
It turns out that I couldn't fix the behavior in rosbuild, because rospack doesn't offer a subcommand to give the entire libs string.  The fix, which is pretty minor, needs to go in rospack: ros/rospack#48.  I'm working on a test case for it.

[2015-05-14 18:45] gerkey commented on #694
ros/rospack#48 now has a test for the new parsing behavior (and I verified that the change doesn't break any existing tests).

@dirk-thomas, what do you think about this solution, and the change that'll be needed in catkin's `.pc` file generation?

[2015-05-14 21:34] dirk-thomas commented on #694
Do we have a `rosbuild` example which succeeds based on a differently overlayed catkin workspace when using `-l:` but fails when splitting the linker arguments into a path and a library name? If not, I think it is crucial to ensure the patched versions won't break this use case.

[2015-05-15 03:05] gerkey commented on #694
No, we don't have a test for that yet.  I could use some help preparing it.  I guess that we need two underlying catkin workspaces, with competing locations / versions of libraries by the same name, with a `rosbuild` package on top?

[2015-05-15 08:39] dirk-thomas commented on #694
There are two cases to test / cover:
- No reordering: As mentioned above the example must use two libraries with inter-library dependencies. And the link order must matter. So one order is not supposed to work while the other does. Based on this example we need to ensure that no reordering is happening.
- Overlaying: The library A is only present in the underlay workspace while library B is presen

[2015-05-15 09:51] mikey0000 commented on #694
+1 currently broken on 15.04 ubuntu

[2015-05-22 16:28] dirk-thomas opened #737 "cakin_make_isolated with custom test results dir"
Moved from ros-infrastructure/ros_buildfarm#77.

When `catkin_make_isolated` is being invoked with a custom `CATKIN_TEST_RESULTS_DIR` each package will clean the test results folder before running its own tests. Therefore only leaving the test results of the last package around.

[2015-05-22 18:58] #737 closed, assigned to nobody

[2015-05-25 15:42] adolfo-rt commented on #535
I've also encountered this situation, and the proposed solution works for me just fine. I was wondering if an automated solution to the problem would be possible: Catkin could query the `LIBRARY_OUTPUT_DIRECTORY` property of a target and take appropriate action if the returned path is different from `project_name_DIR`. At this moment this is more of an intellectual curiosity, but would there be an

[2015-05-26 10:36] adolfo-rt commented on #535
For the record, see the answer I posted to this [question](http://answers.ros.org/question/201036/how-can-catkin-find-ros-libraries-in-non-standard-locations/?answer=209923#post-id-209923) where a solution that is compatible with both multi-CMake project (`catkin build`,  `catkin_make_isolated`) and single, nested CMake projects (`catkin_make`) is proposed.

[2015-05-28 08:01] dkargin commented on #736
We have the similar issue.
We've specified all the sort of dependencies for target:

[code]

And it anyway fails to generate messages before compiling targets
I've tried to check actual contents of mentioned variables

[code]

CMake has produced the following output

[code]

It looks ok, necessary dependencies are specified with proper values, but it anyway compiles broadcaster before generating m

[2015-05-28 16:16] dirk-thomas commented on #736
Please folllow the previous comment: post your question on answers.ros.org and include / reference the complete code as well as the full error message. The problem is very likely in the code parts you left out here. You can post the link to the question here.

[2015-06-08 19:57] djuriclab opened #740 "Catkin problem after gazebo simulator install"
Hello,
I installed the gazebo simulator for baxter robot and when i try to catkin_make i got this following terminal error:

[code]

Can anyone help me fixed it?
All regards,
Vinicius Parizotto
Wayne State University

[2015-06-08 20:00] wjwwood commented on #740
Hi @djuriclab, this doesn't look to be a problem with `catkin` but rather a problem with one of the packages in your workspace, perhaps `baxter_perception`. Therefore this isn't really the correct forum to ask a question like this.

Please ask the question on answers.ros.org and see our support site:

http://wiki.ros.org/Support

Thanks.

[2015-06-08 20:00] #740 closed, assigned to nobody

[2015-06-10 16:39] dirk-thomas commented on #611
It looks like the Hydro installation instructions for Trusty already recommend using `catkin build` (http://wiki.ros.org/hydro/Installation/Trusty#Building_the_catkin_Packages). From my understanding we are not yet recommending to use `catkin_tools` and therefore these instructions should be changed to mention `catkin_make_isolated`.

[2015-06-10 17:51] jbohren commented on #611
@dirk-thomas If you want to verify that that works to build Hydro on Trusty, then feel free to change it. The tutorial that you linked to has this message at the top for a reason:

[code]

[2015-06-10 18:01] dirk-thomas commented on #611
I noticed the message at the top of the page but I still don't think this page should recommend the use of `catkin_tools`. Not until we want to officially recommend it. It leads users into the wrong direction.

@jbohren Since you have created the page in the first place I would ask you to update the page. I won't have the time to try a Hydro build on Trusty for this which would be necessary before

[2015-06-10 18:03] jbohren commented on #611
I also don't have time to do this. What I can do is delete the wiki page and make a blog post about it instead.

[2015-06-10 18:17] wjwwood commented on #611
@jbohren please don't do that.

@dirk-thomas lets not waste everyone's time on this, the tutorial is noted to be unsupported, catkin tools is in pretty decent shape (especially for building the base workspace like this), and in the grand scheme of things we many more important things to be doing/worrying about.

[2015-06-10 18:25] dirk-thomas commented on #611
I brought it up because users are using these instructions and asking questions about it: http://answers.ros.org/question/210924/ros-hydro-build-fails-on-camera_info_manager/

If you both think that is fine to use the tool in the instructions and it does not confuse users then keep it as-is.

[2015-06-10 18:35] wjwwood commented on #611
I don't think the users problem in that question has anything to do with catkin tools. It seems from the question that they're talking about trying `catkin_make`, in which case using `catkin_make_isolated` would not have helped in any obvious way. If you don't know how to suggest setting the CMake variable with catkin tools or something like that, then you can just link the user to the docs or ask

[2015-06-26 20:13] mikepurvis opened #742 "Detect when already a "catkin build" workspace"
It's a nuisance if you run a long `catkin build`, and then accidentally run `catkin_make`, it destroys the workspace, and catkin build needs to be run from scratch again. I know I could just permanently alias `catkin_make` to something else, but it would be great to have these tools able to detect and not stomp each other.

Suggested behaviour:

[code]

[2015-06-26 20:15] dirk-thomas commented on #742
That sounds reasonable.

@jbohren @wjwwood Can you please look into this and propose a patch to coexist nicely with `catkin_tools`.

[2015-06-26 22:24] wjwwood commented on #742
I opened three pull requests as a first stab at this:

https://github.com/ros-infrastructure/catkin_pkg/pull/122
https://github.com/catkin/catkin_tools/pull/214
https://github.com/ros/catkin/pull/743

@jbohren you'll need to make sure you big pr on catkin_tools continues to respect this patch.

[2015-06-26 22:59] jbohren commented on #742
Yep. https://github.com/jbohren-forks/catkin_tools/issues/14

[2015-06-30 14:14] jacknlliu opened #744 "catkin build error: Linking libdefault_plugin.so failed"
I built catkin with the following command:
# ./src/catkin/bin/catkin_make_isolated    --install    -DCMAKE_BUILD_TYPE=Release    --install-space=/opt/ros/jade

but I got the folling error:
Linking CXX shared library /home/usrname/ros_catkin_ws/devel_isolated/rviz/lib/libdefault_plugin.so
[ 98%] Built target default_plugin
Makefile:126: recipe for target 'all' failed
make: **\* [all] Error 2
<== Fa

[2015-06-30 14:43] wjwwood commented on #744
Please post questions like this on answers.ros.org and see wiki.ros.org/Support for guidelines on how to get help.

You error output doesn't actually include the error, just messages saying there is an error. When you open a question on answers.ros.org you should include more of the error output, what version of ROS you're using, what tutorial you're using if any, and steps to reproduce the error.

[2015-06-30 14:43] #744 closed, assigned to nobody

[2015-07-01 12:18] HannesSommer opened #745 "THREADS_LIBRARY is not provided automatically for test/gtest.cmake"
As https://github.com/ros/catkin/search?utf8=%E2%9C%93&q=THREADS_LIBRARY shows, `tools/threads.cmake` is/was meant to provide `THREADS_LIBRARY`. But it is commented out in `all.cmake` (see https://github.com/ros/catkin/blob/9822bf7894ba85aa392622c1ef83c10c3916846f/cmake/all.cmake#L145).

Currently not including it causes `catkin_add_gtest` to fail to properly link the gtest executable in case thre

[2015-07-01 23:50] wjwwood commented on #745
`git blame` isn't too useful here, but it was commented in this rather large commit:

https://github.com/ros/catkin/commit/4c7ee4b83642929d26433df88c6ab272a1ca5ccd

I don't know why it was excluded.

[2015-07-02 15:54] HannesSommer commented on #745
Hm, yes apparently with this commit some tools got disabled and reactivated over time later. So the question could be rephrased to : what is `tools/threads` reactivation waiting for?

[2015-07-02 17:15] dirk-thomas commented on #745
Not every `gtest` uses `Threads`. Therefore `catkin` does not link against it by default.

If your test executable need it please use the CMake commands mentioned above (`find_package` and `target_link_libraries` in order to not rely on the internal usage of `THREADS_LIBRARY`) to ensure to link against it.

[2015-07-03 14:53] HannesSommer commented on #745
Thanks for the answer!

To me `gtest` seems to depend itself on `Threads` per default (can only tell for Linux; it can be disabled via cmake variables, though).

But I was facing the problem on a system with precompiled static `gtest`. Sorry for not realizing that unusualness before!

Modern setups are unlikely to run into a problem with `catkin` not taking care of this dependency anymore because

[2015-07-04 00:47] #745 closed, assigned to nobody

[2015-07-10 06:22] asmodehn opened #746 "Installing dependencies"
I am currently struggling to find a way to install python dependencies.

The way that I am aware **_could_** work :
- Embed the pip into a deb. Declare the deb in rosdep. Declare the dependency in package.xml. Install it with rosdep

=> Works but quite troublesome/time-consuming if you don't own/maintain the pip/deb package yourself already.
- Include the dependency python source in your workspace

[2015-07-10 17:44] dirk-thomas commented on #746
I think your question is more appropriate for answers.ros.org than this issue tracker.

In general a Debian package cannot depend on a PIP package. If you want your ROS package to only be available from source it is perfectly viable to list a rosdep key as a dependency which is then resolved to a PIP package.

But if you want to release your ROS package as a Debian package your dependencies must b

[2015-07-12 02:41] asmodehn commented on #746
My point is indeed about making it easy to release a ROS package depending on pip packages, without having to go through the hassle of releasing ( and maintaining ) a deb package for each one of my pip dependencies.
=> Is there an easy way to "embed" all my pip dependencies into a "catkin generated" deb ? ( I just asked that in answers.ros.org )
I haven't been able to find one so far, and the shor

[2015-07-13 08:56] nicolasthemmer-aaa opened #748 "Invalid package manifest "package.xml""
Hi!
I found a some entries but none seem to help with my problem. I am currently following the instructions to install turtlebot on this site:
http://wiki.ros.org/turtlebot/Tutorials/indigo/Turtlebot%20Installation
when running following command under point 2.2:
rosdep install --from-paths src -i -y
I get following stack trace:

nicolas@myworkstation:~/rocon$ rosdep install --from-paths src -i -y

[2015-07-13 09:45] tfoote commented on #746
In general we want to work with what upstream provides. It can be a problem
if people just start pulling things from pip as the version from pip will
override the version in debian. This is especially a problem if a new pip
package depends on a new dependency which is implicitly brought in by pip
and suddenly the versions of python libraries can be jumped forward
possibly with breaking changes sin

[2015-07-13 10:16] tfoote commented on #748
You appear to be using pip installed packages in /usr/local. Often when people install from pip it gets installed once, but then does not get updated.

The package.xml of our base dependency is not likely corrupted. Please purge your pip installed ROS tools and use the debian releases.  If that does not work please ask for help on http://answers.ros.org where the community can help you.

[2015-07-13 10:16] #748 closed, assigned to nobody

[2015-07-13 21:17] dirk-thomas commented on #746
@asmodehn Your proposed approach only works when the package is build from source. If the package is packaged into a Debian that approach does not work at all. Therefore we don't support that use case.

[2015-07-14 01:56] asmodehn commented on #746
Yes it makes sense to not have two package managers messing around with the same packages... So it sounds like I cant release my package until I trim down my dependencies to a maintainable amount so that I can make deb packages for each one of them.
I ll keep working with my package full of submodules until then, and I ll have a look at the third party approach. Thanks !

[2015-07-14 02:17] gerkey commented on #694
In [ros/fix_abspath](https://github.com/ros/ros/commit/95cd6acc1dbe44212fef1b90514c3eb1c9bdd34d), I tried another approach: inside rosbuild, strip the leading `:` character from library paths that have been returned from `rospack libs-only-l`.  That should work without modifying catkin's generation of `.pc` files or the way that rospack calls pkg-config.  The `-l:` prefix in the `.pc` file ensure

[2015-07-24 18:21] tkruse opened #749 "cmi --install develspace setup.bash has surprising C_P_P"
To reproduce, follow Jade installation instructions, then:

[code]

Not sure if that is a feature or a bug.

[2015-07-24 19:01] dirk-thomas commented on #749
A package has currently only one parent `CMAKE_PREFIX_PATH`. For a package `foo` that means it can either depend on the devel space of package `bar` or on the install space of package `bar`.

When you don't use `-install` all packages depend on the devel spaces of their dependencies. But when you use `--install` each package depends on the install space of their dependencies. Therefore you see the

[2015-07-25 10:23] tkruse commented on #749
Thanks for the explanation. However, in the example I did not source a single package (I believe), I sourced the whole devel space, so the test_rostopic entry in the C_C_PC is extra confusing.

In general I find it confusing that the develspace changes depending on whether I use --install or not. Not sure if this has always been the case, and I just never noticed.

[2015-07-25 17:48] nguillermin opened #750 "catkin_make_isolated: error: unrecognized arguments: --DCMAKE_BUILD_TYPE=Release"
Following this tut: http://wiki.ros.org/jade/Installation/OSX/Homebrew/Source

This step `./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release`

results in `catkin_make_isolated: error: unrecognized arguments: --DCMAKE_BUILD_TYPE=Release`

Removing --DCMAKE_BUILD_TYPE allows it to proceed, will update if this breaks anything.

[2015-07-25 18:19] dirk-thomas commented on #750
The tutorial only contains a single `-` instead of two as you typed it.

[2015-07-25 18:20] #750 closed, assigned to nobody

[2015-07-26 05:11] dirk-thomas commented on #749
The setup file in the devel / install space only redirects to the last package in the topological order when built in isolation. So it is identical to source the root of all devel / install spaces and to source the last package devel / install space.

Since `test_rostopic` is a package in the workspace it will appear in the environment variables. The decision to not create a Debian package for thi

[2015-07-27 14:58] tkruse commented on #749
In that case I suggest closing this issue, since it is not a bug, and not interesting enough to track.

[2015-07-27 15:01] #749 closed, assigned to nobody

[2015-07-30 21:01] #746 closed, assigned to nobody

[2015-08-05 17:22] dirk-thomas commented on #675
I will close this due to lack of response for now. Please feel free to comment here and the ticket can be reopened if necessary.

[2015-08-05 22:34] gerkey commented on #694
ros/ros#87 has what I believe to be the simplest fix for this problem.  @dirk-thomas and I just went over it in detail and we both agree that it's correct and safe.

[2015-08-06 08:32] tho- commented on #694
Since the .pc files are left unchanged, the issue is still present!

I understand that ros/ros#87 fixes things for ros itself, but anything else
that uses the .pc files will still get linker errors, unless it fiddles itself
with the syntax issues.

[2015-08-06 14:45] gerkey commented on #694
@tho- : that's a fair point.   To be honest, I hadn't considered the use case of people getting build flags from the pkg-config files directly.  I was concerned with making rosbuild-based ROS packages work.  I still think that that's an important thing, so ros/ros#87 should be merged once we get confirmation that it works.

To remove the `-l:` prefixes from the `.pc` files, we'll need to figure ou

[2015-08-06 23:16] cmansley commented on #675
FYI this is still a serious issue for our project. It is actually making our Jenkins instance fail regularly because of corrupted ROS_PACKAGE_PATH, which some packages depend on.

[2015-08-07 01:28] dirk-thomas commented on #675
I will reopen the ticket then. But somebody needs to actively work on this if it is a relevant problem. @jbohren?

[2015-08-07 14:07] jbohren commented on #675
In https://github.com/catkin/catkin_tools/pull/196, the tool creates the `.catkin` file instead of the Catkin CMake code, so you don't miss any packages.

[2015-08-07 16:27] cmansley commented on #675
Awesome work over there. In catkin/catkin_tools#196, @wjwwood mentions that it would be great if we could split stuff up to review separately. How hard would it be to pop out just the creation and locking for the .catkin file to close this series of issues and pull requests related to this race condition?

Because using your awesome script from [here](https://gist.github.com/jbohren/0e57551d1cf51d

[2015-08-07 17:41] jbohren commented on #675
It would be pretty hard to separate that out.

Yeah, it was basically happening to me every time I rebuilt a workspace.

[2015-08-07 18:27] dirk-thomas commented on #694
I only see one approach to "fix" the pkg-config files. We have to introduce the following assumption:

[code]

For our Debian packages that assumption holds as long as the user does not change the default version of pkg-config. For platforms where ROS is build from source that should also be the case.

Therefore I would suggest the following approach: when generating the .pc file check the pkg-con

[2015-08-07 18:51] gerkey commented on #694
There's also the interaction with ld version to consider.  It happens to be the case that Trusty has the old pkg-config (which needs the `-l:` syntax to ensure proper library ordering) and the old version of ld (which accepts the `-l:` syntax), while Utopic has the new pkg-config (which doesn't need the `-l:` syntax) and the new ld (which doesn't accept the `-l:` syntax).

I'm not sure whether tha

[2015-08-07 19:00] wjwwood commented on #694
I'd also vote to fix rosbuild, but if we move forward with @dirk-thomas's idea to use pkg-config with the ROS 2 bridge, then this will perhaps bite us then.

If you do end up generating different pc files based on the version, then you could add the version of pkg-config it was intended for as an extra variable. That way rospack could at least check to see if the file it found is for the pkg-confi

[2015-08-07 21:26] cmansley commented on #675
So, the mystery deepens. @jbohren you had used all `file(APPEND ...)` in `all.cmake` in your original pull request ros/catkin#672. Later you modified it to contain a "write" to initially create the file here f23396d11e6d459937ebfaf68eba47832bcf9f6f. Then, later you modified it again to make sure we don't have a semicolon here 46da0c484922e7fa4adc3f8560f4b9059aeabc95. If I leave the way it currentl

[2015-08-07 22:06] cmansley commented on #675
See ros/catkin#752.

Again, this does not solve our problems, but it reduces the exposure on my machine by an order of magnitude. I am really looking forward to a real solution from catkin/catkin_tools#196

[2015-08-20 04:17] bit-pirate opened #754 "Add use of catkin_EXPORTED_TARGETS to catkin_create_pkg's created CMakeLists.txt"
I believe many (most?) users/devs are not yet aware of the new way to add dependency on messages. That is in the package's CMakeLists.txt:

[code]

Instead of the old and current

[code]

See catkin documentation: http://docs.ros.org/api/catkin/html/howto/format2/cpp_msg_dependencies.html

and ROS Answers: http://answers.ros.org/question/52744/how-to-specify-dependencies-with-foo_msgs-catkin-packa

[2015-08-20 05:55] dirk-thomas commented on #754
`catkin_create_pkg` is provided by the Python package `catkin_pkg` rather then by `catkin` itself. I also think the change you propose has already been implemented and released a few month ago: ros-infrastructure/catkin_pkg#79

There are information in so many different location that it is almost impossible to update them consistently. Please go ahead an update the wiki page.

[2015-08-20 08:15] bit-pirate commented on #754
My bad. Sorry.

Right. This should fix it.

Since I'm running Ubuntu Trusty I only have version 2.8.1., but the fix got into 2.9. Will that version be released for Trusty?

Done.

[2015-08-20 08:15] #754 closed, assigned to nobody

[2015-08-20 16:12] dirk-thomas commented on #754
Since `python-catkin-pkg` is a distro agnostic release it should be available for all ROS and Ubuntu distros. Currently it seems to be only in shadow-fixed (http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/p/python-catkin-pkg/) but not in the main repo (http://packages.ros.org/ros/ubuntu/pool/main/p/python-catkin-pkg/) yet. For a Python release that should never be the case since releases

[2015-08-21 02:33] tfoote commented on #754
catkin-pkg 0.2.10 is now in the public repo.

[2015-08-21 07:08] bit-pirate commented on #754
Got it. Thanks!

[2015-09-16 21:18] dirk-thomas commented on #694
While the patch from ros/ros#87 fixes building with `rosbuild` it does not address the problem that the generated pkg-config files are not usable with newer version of `ld`. Since older versions of pkg-config do not keep the order intact this requires a conditional generation of the `.pc` files. If pkg-config is new enough that it does not break the library order the `.pc` file should be generated

[2015-09-16 21:27] dirk-thomas commented on #742
The `catkin` and `catkin_pkg` part is done. Only waiting for `catkin_tools` to implement this.

Therefore I will close this ticket. To see if `catkin_tools` supports this please check catkin/catkin_tools#214.

[2015-09-16 21:27] #742 closed, assigned to nobody

[2015-09-22 17:45] jarvisschultz opened #756 "Version 0.6.15 breaks Python packages which are not in a subfolder with the same name"
We have a non-ROS Python package called [trep](https://github.com/MurpheyLab/trep), we also have a release repository called [trep-release](https://github.com/MurpheyLab/trep-release). In the release repository, we use the `patches` variable in [tracks.yaml](https://github.com/MurpheyLab/trep-release/blob/86b34595652cff95bc90866063192effdd87f559/tracks.yaml#L38) to include the non-ROS Python modul

[2015-09-22 18:35] dirk-thomas commented on #756
I don't think the problem is in the difference between the Python package name `trep` and ROS package name `python_trep`.

The recent PR fixed a problem where the Python package name and the directory for it were extracted / interpreted incorrectly. Before the above error message did not trigger for your package because of that problem.

I tried to use your package with the previous version of cat

[2015-09-22 19:14] jarvisschultz commented on #756
You are absolutely correct. Changing all of the relevant code to be in a `trep/` subdirectory instead of the `src/` subdirectory, and updating the `setup.py` to reflect this change solves the build issue that I originally described. It is worth noting that, _I think_, this particular package will never be usable in the `devel/` space because it uses a Python extension module that is only compiled

[2015-09-22 19:18] dirk-thomas commented on #756
I looked into the relay script (https://github.com/ros/catkin/blob/indigo-devel/cmake/templates/__init__.py.in) and since it uses the `sys.path` I can't easily change it to work with non-package name folders. Therefore I don't see a "fix" within catkin to handle that case better.

I am sorry for the inconvenience but please go ahead and update your package.

[2015-09-24 18:27] dirk-thomas commented on #756
The following two tickets are for the regressions in Indigo and Jade due to this change:
- MurpheyLab/trep#33
- jsk-ros-pkg/jsk_3rdparty#27

[2015-09-24 18:27] #756 closed, assigned to nobody

[2015-10-09 20:52] jpanikulam opened #759 "Allow verbose nosetest output"
When running a conventional nosetest, i.e. nosetest -vv, we get verbose output

[code]

catkin_make run_tests only produces the non-verbose version:

[code]

Is there already a way to do this?

[2015-10-09 20:55] dirk-thomas commented on #759
No, the current implementation does not allow to pass arguments - neither from CMake nor from make: https://github.com/ros/catkin/blob/3b8a3b9607adff98ed32cfd3b6d6ea4aed647424/cmake/test/nosetests.cmake#L82

[2015-10-10 05:09] jpanikulam commented on #759
Would osrf welcome a pull-request to add this feature?

[2015-10-10 17:02] wjwwood commented on #759
Sure, it might be worth your time to describe how you intend to expose the arguments so we can all be on the same page before you put a lot of time into an implementation.

[2015-10-20 22:39] calderpg opened #760 "Catkin finds system packages instead of Catkin packages of exported dependencies"
If a CMake-findable package exists on the system (for example, there is a `FindPACKAGENAME.cmake` in `/usr/share/cmake-2.8/Modules`), and a Catkin package with the same name exists, `find_package(catkin REQUIRED COMPONENTS PACKAGENAME)` will find the system package, not the Catkin package.

An example of when the problem occurs:
1. You have a package installed to the system that provides a CMake f

[2015-10-21 00:27] wjwwood commented on #760
I do not believe that catkin does anything to the ordering when a catkin package overlays a another system version. I think the issue here is that `Findosg.cmake` is a CMake Module and your catkin package called `osg` produces a CMake Config file called `osgConfig.cmake` and I think, based on your error report, that the CMake's `find_package()` macro prefers CMake Modules to CMake Config files. I'

[2015-10-21 02:12] dirk-thomas commented on #760
What @wjwwood described is the intended CMake behavior (https://cmake.org/cmake/help/v2.8.12/cmake.html#command:find_package):

[code]

I don't think that `catkin` behave any different then the CMake default behavior. Therefore I would suggest if you only want to find CMake config's but no modules find the specific package separately from catkin using the `NO_MODULE` option.

[2015-10-21 02:52] calderpg commented on #760
I don't disagree with this being the standard behavior of CMake. I think we can agree that this is _not_ intuitive behavior unless you understand both how CMake finds packages, and how Catkin generates config files for packages.

I'm not that concerned about the case of _deliberately_ shadowing a system package - if people really want to do this, a note on the Catkin CMakeLists page should be enou

[2015-10-21 03:03] dirk-thomas commented on #760
Looking into the current implementation it seems that `find_package(catkin COMPONENTS ...)` already uses the `NO_MODULE` option: https://github.com/ros/catkin/blob/3b8a3b9607adff98ed32cfd3b6d6ea4aed647424/cmake/catkinConfig.cmake.in#L74-L83

So it is unclear how the CMake module was found in your example.

Regarding the three questions:
- I don't think that `catkin` should check for the `<package_

[2015-10-21 03:15] calderpg commented on #760
Is there a good way to get more debugging information so we could track this down? I'm happy to reproduce the issue and try to figure out why `NO_MODULE` isn't doing what we expect.

I think the following process is a possible approach:
1. When processing the new Catkin package, call `find_package(<package_name>)`
2. Depending on the results of `find_package`, provide a warning/error to the user:

[2015-10-21 03:20] dirk-thomas commented on #760
The first thing would be to have a detailed reproducible example. Based on that you can look at the  `<pkgname>_DIR` variable as well as the `CMakeCache.txt` file. After that the only further "debugging" technique will be to annotate the CMake code to follow the exact execution path and what happens where and when.

Since I would consider that a valid use case I don't think it is feasible to warn

[2015-10-21 03:37] calderpg commented on #760
I'll reproduce the issue this week and try to figure out where the issue is actually happening.

Can you clarify when this is actually a valid use case? As far as I can tell based on the current behavior, if you have a Catkin package with the same name as another non-Catkin package, what actually happens depends entirely on whether the other package is found via CMake module or CMake config, which

[2015-10-21 03:39] dirk-thomas commented on #760
`find_package(catkin REQUIRED COMPONENTS foo ...)` is being used where `foo` has a CMake config file but which is not a catkin package. Therefore warning about `foo` not having the variable `_FOUND_CATKIN_PROJECT` would be wrong in that case.

[2015-10-21 03:43] calderpg commented on #760
To clarify, I'm not suggesting that the check happen during the `find_package(catkin REQUIRE COMPONENTS ...)` call, instead, that the check should take place in the `catkin_package()` call.

[2015-10-21 14:08] dirk-thomas commented on #760
I don't understand. Maybe you can elaborate what you have in mind?

[2015-10-21 14:34] calderpg commented on #760
What I have in mind is that you create a Catkin package `foo`, and in the `catkin_package(...)` call in `foo`'s `CMakeLists.txt` we check if the package name (via `${PROJECT_NAME}`) is potentially ambiguous:

Essentially the following process would be added to `catkin_package(...)`  :

[code]

[2015-10-21 14:53] dirk-thomas commented on #760
First of all it is still unclear why the "system package" was found in your case. By only searching for configs and in the order of the `CMAKE_PREFIX_PATH` this shouldn't be the case in the first place. Let's consider the options once we know what actually happened.

Second the `find_package()` call will have arbitrary side effects (e.g. setting CMake variables, find other resources) which might h

[2015-10-21 16:43] 130s commented on #463
I've faced this issue multiple times still occurs to me when I create a new branch, push it to the origin, then run `catkin_prepare_release`. Every time I came back to https://github.com/ros/catkin/issues/463#issuecomment-20703183 and run those commands.

Assuming this is git's default behavior and out of catkin_prepare_release's scope to provide further care, where's a good place to add comments/

[2015-10-21 16:49] dirk-thomas commented on #463
Please post much more information about the problem you are having (e.g. which repos, what is the state of the working copy, what commands do you run, what is the complete output of it, eventually further information about the git state).

[2015-10-21 16:57] 130s commented on #463
Ok next time the same issue occurs I'll post more info before I apply workaround.

[2015-10-21 16:57] #463 closed, assigned to dirk-thomas

[2015-11-20 10:01] asmodehn commented on #756
I just saw this issue recently.
If I understand the problem correctly, I believe that the fix to this kind of problem should be inside the setup.py...

Looking at this version :
https://github.com/MurpheyLab/trep/blob/f5875cf5413f28f1d3e9fe81072abcce7ce6fcff/setup.py
I would expect `package_dir = {'trep': 'src'}` to work with catkin the same way that it works with distutils.

It just says that you

[2015-11-21 01:28] mathias-luedtke opened #761 "Project-specific clean_test_results targets broken / not created properly"
The project-specific clean_test_results targets introduced in 52dbdd500f66a558e9149a33db48e7a75c750473 do not work as expected. As a result cmake throws many "dependency does not exist" errors, (e.g. https://travis-ci.org/ipa320/cob_robots/builds/92377717#L4285).

[code]

In fact instead of per-project targets a single `clean_test_results_Project` is created.
I guess the target definition (https:/

[2015-11-23 23:05] dirk-thomas commented on #761
Thanks for reporting this. This should be addressed with #762.

[2015-11-30 10:04] mgrrx opened #764 "catkin_install_python does not update installed files"
installing a python script using catkin_install_python(...) installs the script correctly when executed for the first time, but, once you change the script, the installed version remains unchanged. The file will be installed again only if you touch the CMakeLists.txt.

I looked at the function in catkin_install_python.cmake and for me it looks like that it only generates the file once and does not

[2015-11-30 17:58] dirk-thomas commented on #764
Thanks for reporting this. #765 implements a straight forward fix for it. It would also be possible to move the generation logic into the installation step but that would require more changes and also result in a higher install time cost for every file installed by this function. Since commonly these scripts are only calling a main function in the Python package I went for this approach.

[2015-11-30 18:00] #761 closed, assigned to nobody

[2015-11-30 18:04] dirk-thomas commented on #764
Thanks for reporting this. #765 implements a straight forward fix for it. It would also be possible to move the generation logic into the installation step but that would require more changes and also result in a higher install time cost for every file installed by this function. Since commonly these scripts are only calling a main function in the Python package I went for this approach.

It would

[2015-12-01 07:56] mgrrx commented on #764
Thanks for fixing this issue. #765 fixes the problem for me.

[2015-12-01 17:41] #764 closed, assigned to nobody

[2015-12-03 05:57] asmodehn opened #767 "find_in_workspace always look in the same place"
While diving into how packages are found for this http://answers.ros.org/question/215600/how-can-i-run-roscore-from-python, I stumbled on this :

[code]

I think this has some unexpected behavior :

[code]

As you can see here return_acc_list is run only one time.

The same happens for `get_workspaces()`.
If one part of the code tries to `find_in_workspace()` with a list of workspace, then there i

[2015-12-03 05:59] asmodehn commented on #767
Effectively, it means that workspaces cannot be changed after doing `import rospy`