[2013-02-13 00:50] #345 closed, assigned to nobody

[2013-02-13 01:48] #360 closed, assigned to dirk-thomas

[2013-02-13 14:36] tkruse opened #361 "catkin_make older validation broken for certain layouts"
to reproduce, in any folder (using catkin 0.5.63):

[code]

This may be solved by the new marker-file design anyway.

Also note that with that design, catkin is prone to find packages in the installspace.

There should at least be a warning if the user decides to put the installspace anywhere under the sourcespace (unless a CATKIN_IGNORE file protects installed packages from being found, e.g. by h

[2013-02-13 19:51] tkruse commented on #361
based on http://answers.ros.org/question/55080/catkin_make-failing-with-custom-source-directory/#55109

[2013-02-13 21:07] #331 closed, assigned to nobody

[2013-02-14 02:05] dirk-thomas commented on #361
Adding a CATKIN_IGNORE file in install space is not an option. Than tools like catkin_pkg would not find any packages anymore.

Instead catkin_make(_isolated) should exclude the install space from the search for packages.

[2013-02-14 02:08] #361 closed, assigned to dirk-thomas

[2013-02-14 09:08] tkruse commented on #361
What I said was not putting CATKIN_IGNORE in the install space, but above the install space, yet under the sourcespace.

[2013-02-14 09:13] dirk-thomas commented on #361
How should that look like when source space is in the root of the workspace and install space in a subfolder `install`?

[2013-02-14 10:01] tkruse commented on #361
In that case it would not work, obviously. Ignoring the installspace is okay when there is just one installspace, but fails when a user has more than one installspace. Which is why users should be encouraged to use a location for installspaces that is safe from being found under the sourcespace, such as by having an intermediate folder with CATKIN_IGNORE. I like the ignoring as a solution for now,

[2013-02-14 19:52] dirk-thomas commented on #361
We should not recommend to use intermediate folders and place CATKIN_IGNORE files in there. These tools are intended to simplify the commands for beginners. They should work out-of-the-box and make life easier when the user follows the default layout.

The latest patch lets cm and cmi ignore any subspace under source.

[2013-02-15 08:31] smits opened #362 "using catkin on plain cmake packages"
Hi I'm using catkin to build my plain cmake packages. I added a package.xml file in these packages and instrumented it with the highly undocumented build_type export tag.

[code]

My workspace looks as follows:

[code]

catkin is there because I need at least commit b17de46d, I have catkin at fb7b1c6f55a, because 6a3a9f22f46 is breaking stuff for me.

I use catkin_make_isolated and all goes well u

[2013-02-15 09:08] smits commented on #340
This issue is not yet fixed: I'm using catkin version fb7b1c6f55 on a workspace with only plain cmake packages:

[code]

and get the following:

==> Generating an env.sh
<== Finished processing package [1 of 6]: 'log4cpp'
==> Processing plain cmake package: 'rtt'
==> Building with env: '/home/rsmits/ros_orocos_catkin_ws/devel_isolated/log4cpp/env.sh'
==> cmake /home/rsmits/ros_orocos_catkin_ws/src

[2013-02-15 09:26] smits commented on #362
If I update the builder.py script as follows:

[code]

It is still not working, apparently the devel install spaces of the plain cmake packages are not added correctly to the cmake_prefix_path of the depending packages.

[2013-02-15 22:18] dirk-thomas commented on #340
Another issue appears when the install folder does not exist when the env.sh is created.

[2013-02-15 22:19] #340 closed, assigned to dirk-thomas

[2013-02-15 22:19] dirk-thomas commented on #362
Related to #340. Was fixed in b17de46d990209b2360eff02db2d4416ff6fdd69.

[2013-02-15 22:19] #362 closed, assigned to nobody

[2013-02-15 22:44] kalectro opened #363 "./src/catkin/bin/catkin_make does not work"
This is the error I get when I try to execute catkin using the prebuilt bin

[code]

Building it with a previously installed source catkin
    catkin_make install
works, but if I source the new install folder and try to rebuild it, I get the same error

Kai

[2013-02-15 23:01] dirk-thomas commented on #363
If you are using the latest version of catkin from source you must also use the latest version of catkin_pkg from source.

[2013-02-15 23:01] #363 closed, assigned to nobody

[2013-02-18 17:07] jfdupuis opened #364 "bond_core error while executing rosdep install"
On OSX Lion running: rosdep install --from-paths src --ignore-src --rosdistro groovy -y

Result in:
executing command [brew install ros/groovy/bond_core]
Error: No available formula for bond_core
Please tap it and then try again: brew tap ros/groovy
ERROR: the following rosdeps failed to install
  homebrew: command [brew install ros/groovy/bond_core] failed

[2013-02-18 18:23] wjwwood commented on #364
What version of ROS are you using?

[2013-02-18 22:06] jfdupuis commented on #364
Groovy

[2013-02-18 22:11] wjwwood commented on #364
So this occurs when `bond_core` is depended on by some package in your `src` directory, but `bond_core` is not in your `src` directory.  Because `bond_core` is not in your `src` folder, `rosdep` is trying to resolve it using Homebrew, but we do not have Homebrew formulae for ROS packages (yet).

The solution to this problem is to ensure that `bond_core` is in your workspace's `src` folder, perhaps

[2013-02-18 22:16] jfdupuis commented on #364
I have been following the steps described here: http://ros.org/wiki/groovy/Installation/OSX/Homebrew/Source and used the wstool for a "Desktop Install" on a fresh install of OSX.

[2013-02-18 22:19] wjwwood commented on #364
Looking at the output of `http://packages.ros.org/web/rosinstall/generate/raw/groovy/desktop`, `bond_core` is listed in the packages. Is a folder `bond_core` in your `src` directory?

If not then you might need to make sure your `src` is up-to-date:

[code]

[2013-02-19 05:14] jfdupuis commented on #364
In src, there is a bond_core directory with only a package.xml file and nothing else. After executing the two suggested commands, the process went through. Not too sure what happened.

[2013-02-19 05:22] wjwwood commented on #364
Ok, well that sounds right.

Can you make sure your `catkin_pkg` is up-to-date?

[code]

Then try it again.  I have not been able to reproduce this...

[2013-02-19 05:32] dirk-thomas opened #365 "allow setting a custom CATKIN_TEST_RESULTS_DIR"
Allow passing -DCATKIN_TEST_RESULTS_DIR=/path/to/test_results to cmake, maintain this configuration and pass it to the generated env-hook.

[2013-02-19 05:33] #365 closed, assigned to dirk-thomas

[2013-02-19 05:38] jfdupuis commented on #364
This returned:
"Requirement already up-to-date: catkin-pkg in /Library/Python/2.7/site-packages"

The dependencies seems to be all resolved. Now, I run into compiling issue with pcl and turtlesim that I probably should address in their respective repositories.

[2013-02-19 05:40] wjwwood commented on #364
Yeah, sounds like rerunning `wstool` solved it.

For pcl:

http://ros.org/wiki/groovy/Installation/OSX/Homebrew/Source#pcl_build_problems

For turtlesim:

https://github.com/ros/ros_tutorials/pull/6

[2013-02-19 05:40] #364 closed, assigned to wjwwood

[2013-02-19 20:21] dirk-thomas commented on #326
`-jN -lN` is required. Without an N for -j it will spawn unlimited jobs in the beginning (since the load is zero) and therefore overshoot the desired maximum load average.

[2013-02-19 23:02] tkruse commented on #304
More discussions and ideas here. https://groups.google.com/forum/?fromgroups=#!topic/ros-sig-buildsystem/_1PWeIZvAbw
@wjwwood: you wanted a bump on this.

[2013-02-25 02:29] vrabaud opened #366 "documentation tool cleanups"
Hi, we now have two tools for documentation:
- catkin_doxygen (in doc/tools)
- catkin_sphinx (in a different repo)

They should either be both in catkin, both independent or both in some catkin_doc/catkin_tools repo no ?
And maybe there should only be one doc target that merges both too ?

[2013-02-25 15:51] tkruse opened #367 "catkin_make_isolated not isolated"
So, the behavior is weird, hopefully the cause is simple to fix. This occured using both catkin 0.5.63 as well as latest groovy-devel (19/02/2013).

The shell code below produces 2 c++ packages, foo_msgs and foo. foo_msgs defines a message Foo.msg.
foo has a c++ executable depends on foo_msgs/Foo.h
however, the CMakeLists.txt of foo does not find_package foo_msgs

To reproduce:

[code]

This build

[2013-02-25 19:58] dirk-thomas commented on #367
This has nothing to do with catkin_make_isolated. It happens exactly the same way if you invoke cmake/make on these two packages.

The environment of your first package exports CPATH which contains the include folder of that workspace. Therefore the included message file is found.

[2013-02-25 20:54] tkruse commented on #367
I don't hink it does:

EDIT: printed CPATH after calling env, of course.

[code]

So the env does export things (which is also a bug), but not the CPATH.

The only other reference to the first packeg I see is here:

[code]

In any case, so is the current design of catkin_make_isolated that of a strict chain of environments, rather than using only an env that contains only the build_depend packages

[2013-02-25 21:10] dirk-thomas commented on #367
Yes, it does - CPATH is responsible that the header is found. If you remove that it fails as you expect it to be.

catkin_make_isolated processes each package separately with cmake and make and than sources the resulting environment. That is as clean as it can get - that is definitely not a bug. The build_depend stuff from the package.xml has nothing to do with the resulting environment.

The only

[2013-02-25 21:47] tkruse commented on #367
Hm, I get:

[code]

But.

[code]

So i guess you are right, but still just running env.sh, or sourcing it, seems to do something else to the environment that running something with it. Is that a bug? If not, I suggest chaning the the "Entering ..." message to tell users that they don't get the whole truth.

Regarding sourcing the previous env regardless of what is in the package.xml, I'll discuss

[2013-02-26 00:16] dirk-thomas opened #368 "expose targets for generated code to downstream projects"
Allow to specify target names which generate code so that downstream projects have a defined way to depend on all targets necessary.

[2013-02-26 00:16] dirk-thomas commented on #368
Will be utilized by ros/genmsg#26

[2013-02-26 01:27] #368 closed, assigned to dirk-thomas

[2013-02-28 13:54] tkruse commented on #367
https://groups.google.com/d/topic/ros-sig-buildsystem/xE0gHE1jRuM/discussion

[2013-02-28 19:11] wjwwood commented on #367
There is a simple situation where this occurs:

Consider a workspace where `ping` depends on `foo` which depends on `bar` and contains each of them. Additionally there is a package `baz` which is in the workspace but has no dependencies.

The topological order might look like:
- `baz`
- `bar`
- `foo`
- `ping`

Now, if `ping` has an undeclared dependency on one of `baz`'s headers it will not fail,

[2013-02-28 20:05] dirk-thomas commented on #367
The scenario you describe also applied to the use case when these packages are in workspaces and you build them one after another. And in that case there is logically no way to deal with it better.

Therefore I don't think that it is worth the effort to let CMI figure out a special environment for each package when we can't support the same in other scenarios.

[2013-02-28 20:10] wjwwood commented on #367
I don't think it should be the default, nor do I think it is required to build code, but it would be a useful development tool. I am satisfied to leave as a known issue with the isolation, and make this an enhancement ticket assigned to untargeted.

[2013-02-28 20:29] dirk-thomas commented on #367
+1 for "untargeted" - patches are welcome which implement that logic into CMI.

What about dropping CPATH from the environment? I would be ok with that. Downstream stuff should anyway use find_package() and/or pkg-config and all other env variable are only for runtime environment (not for build env of downstream stuff).

[2013-02-28 20:29] wjwwood opened #371 "[cmi] use templates for env.sh/setup.*sh from catkin"
Currently `catkin_make_isolated` generates a custom env.sh file for third party packages for the purpose of chaining environments. It should instead use catkin's templates so that the env.sh files are semantically and functionally the same.

The biggest problem with implementing this is that he env.sh template is currently setup as a CMake template, so generating it from pure python is possible bu

[2013-02-28 20:35] wjwwood commented on #367
No CPATH would break simpler build systems like Make based systems. This is unlikely to be a problem, but if you are extending the PYTHONPATH then in my opinion you should extend the CPATH. From my understanding the CPATH won't be a problem if devel spaces are used and the improved environment isolation feature is implemented.

[2013-02-28 20:44] dirk-thomas commented on #371
The configure_file expansion is simple to implement in Python:

[code]

[2013-03-01 21:49] dirk-thomas commented on #349
catkin part is finished. Next bloom will enforce metapackages to have a CMakeLists.txt (see ros-infrastructure/bloom#104).

[2013-03-01 21:49] #349 closed, assigned to dirk-thomas

[2013-03-01 23:50] #371 closed, assigned to dirk-thomas

[2013-03-02 04:13] mjog opened #372 "Absolute paths in generated artefacts break when workspace moves"
It seems catkin writes absolute paths into generated artefacts in several places, notably in:
- `{/build/catkin_generated/installspace,devel}/.catkin`
- `{build,devel}/setup.{sh,bash,zsh}`

This breaks the build when moving or renaming the workspace directory, and is confusing to recover from since all subsequent invocations of any catkin_\* command fails.

[2013-03-02 04:28] dirk-thomas commented on #372
A CMake build folder is never relocatable - this is a design choice of CMake. Therefore a catkin workspace containing the build folder can also not support this.

[2013-03-02 04:28] #372 closed, assigned to nobody

[2013-03-03 20:39] dirk-thomas commented on #367
To summarize the thread: catkin_make_isolated uses the dependencies to build a topologically ordered list and than processes the packages in order where the previous package provides the environment for the next.
The issue suggests that each package should only get the combined environment from the packages it depends on. That way packages stricter dependencies can be checked.

Since this requires

[2013-03-03 20:43] dirk-thomas commented on #130
This is a continuous process which would never get closed as an issue.

[2013-03-03 20:43] #130 closed, assigned to nobody

[2013-03-03 20:45] dirk-thomas commented on #93
This will be addressed in REP 132 and is not related to catkin.

[2013-03-03 20:45] #93 closed, assigned to nobody

[2013-03-04 13:25] tkruse opened #373 "catkin should not suppress unexpected python stacktraces"
In catkin/python/catkin/builder.py, line 608:

[code]

catching all of Exception is generally bad practice,
http://docs.python.org/2/howto/doanddont.html
http://google-styleguide.googlecode.com/svn/trunk/pyguide.html#Exceptions

and it leads to mysterious error messages like here:
http://answers.ros.org/question/56962/catkin-bfl-build-fails-nonetype-object-has-no-attribute-rfind/

Instead, only a

[2013-03-04 19:50] tkruse opened #374 "No such file or directory: ...env.sh"
This is some weird issue that I had problems to reproduce. Sometimes it happened like this, sometimes not. Cannot say whether this a bfl bug instead:

Using current catkin master, commit 453669f96449

To reproduce:

[code]

Note there is no --install option used here.
For me, this results in:

[code]

Note the make install line comes before somemore "built ..." lines, not sure whether that is corr

[2013-03-04 20:08] tkruse commented on #374
I should also mention that when I added `<buildtool_depend>catkin</buildtool_depend>`, I could not reproduce the problem (tried 3 times), which is why I thought that was the bug.

[2013-03-04 23:50] dirk-thomas opened #375 "folder names containing spaces break configure/build/install"
Folder names containing spaces break configure/build/install. The space can appear in various places: workspace, build, devel and install path.

Best way to discover these issues (also in downstream packages) is to create the workspace folder with a space and in the name run the build with:
`catkin_make --source "sou rce" --build "bu ild" -DCATKIN_DEVEL_PREFIX="`pwd`/de vel" -DCMAKE_INSTALL_PREFIX

[2013-03-05 01:52] dirk-thomas commented on #375
With all these patches base ros configures, builds and installs fine with spaces in every imaginable folder...

[2013-03-05 01:52] #375 closed, assigned to dirk-thomas

[2013-03-05 02:13] dirk-thomas commented on #374
Your example output does not match the mentioned command sequence and with these commands I can't reproduce the issue - it builds fine.

I can get it to fail when I first run the build without install and than run it again with install (or the other way around). Can you please verify that is exactly the same case you have?

Since bfl does not require catkin to be build it does not require to depen

[2013-03-05 02:34] dirk-thomas commented on #373
Catching all exceptions makes perfect sense in some scenarios. I.e. in this one because the builder module want to print a reasonable error message which the user can read (as argued before in other issues).

The committed patch will print the full stacktrace to provide more information in case of errors.

[2013-03-05 02:34] #373 closed, assigned to dirk-thomas

[2013-03-05 08:43] tkruse commented on #374
I saw non-deterministic behavior, but running without install option and then with seems to have been one deterministic way of getting that failure.

I cannot give you a deterministic sequence of steps to reproduce non-deterministic behavior.

And I am not sure how the ordering of catkin and bfl could change the sucess of build if both are totally independent of each other, but I guess it makes so

[2013-03-05 09:01] tkruse commented on #373
The patch makes things much better already, so I won't complain. But catching Exception in a non-UI function remains a bad idea, it invalidates the function as a library call for other tools. So If this was done in catkin_make or catkin_make_isolated (or some wrapper function without algorithmic value just for user interaction), I would not flag it as a style issue.

[2013-03-05 09:31] stonier opened #376 "Enable catkin_make to use cmake's -C arg"
We use 'cmake -C <initial-cache>' to preload the cmake cache quite frequently when cross compiling (usually to load up platform specific variables). I'm sure others also have or will have cause to occasionally use cmake's -C arg.

catkin_make however overrides this arg ('-C' '--directory'). Could this short option tag be changed and have catkin_make drop -D, -G and -C options into the cmake_args?

[2013-03-05 21:31] dirk-thomas commented on #376
Since cmake and make both have a `-C` option it would be very confusion if catkin_make would pass it to only one of the tools. But we can add options which get passed to CMake - either specifically `--cmake-C` or generically everything behind `--cmake`?

[2013-03-05 23:22] stonier commented on #376
I like the latter option - everything behind `--cmake`.

[2013-03-08 20:07] #376 closed, assigned to nobody

[2013-03-12 09:54] herbrechtsmeier opened #379 "Don't set NO_CMAKE_FIND_ROOT_PATH in find_xxx"
Don't set NO_CMAKE_FIND_ROOT_PATH in find_xxx functions to enable the cross compiler to set the system roots to the target system root and host system root. Additionally don't assume that the CMAKE_PREFIX_PATH contains absolute paths  (IS_DIRECTORY) as they are relative to a system root.

[2013-03-12 10:04] herbrechtsmeier opened #380 "Allow catkin projects to be installed in the default path (/usr)"
Don't set NO_DEFAULT_PATH in the find_xxx functions to allow catkin projects to be installed in the default path (/usr). Additionally don't pass the CMAKE_PREFIX_PATH as PATHS parameter as they are the first search path by default.

[2013-03-13 10:42] herbrechtsmeier commented on #379
At the moment you have to set CMAKE_PREFIX_PATH to the absolute path (/path/to/machine/sysroot/path/to/ros;/path/to/native/sysroot/path/to/ros) but normally it should only contain the local prefix (/path/to/ros) and the system root paths (/path/to/machine/sysroot; /path/to/native/sysroot) are passed via CMAKE_FIND_ROOT_PATH. This allows the cross compiler framework to install cross compiled librar

[2013-03-13 14:52] jack-oquin opened #384 "catkin docs missing"
I was looking for `catkin_add_nosetests()`, but the documentation was nowhere to be found.

Apparently, none of the generated CMake macro docs are being built and stored anywhere.

[2013-03-13 16:58] dirk-thomas commented on #384
They are generated and stored as part of the static docs for catkin. I reran the catkin doc deployment to make sure everything is up-to-date (even if it was already on the latest version 0.5.64).

I think the page you are looking for is: http://ros.org/doc/groovy/api/catkin/html/dev_guide/generated_cmake_api.html
I got there from: http://ros.org/wiki/catkin, Code API, Extracted CMake API reference

[2013-03-13 22:31] dirk-thomas opened #386 "catkin_prepare_release generates wrong command for bump major/minor"

[2013-03-13 22:32] #386 closed, assigned to dirk-thomas

[2013-03-13 23:49] wjwwood opened #387 "catkin_prepare_release and catkin_package_version fail when no package.xml is found"
When running either `catkin_prepare_release` or `catkin_package_version` in a folder which does not contain any package.xmls then it fails:

[code]

and

[code]

[2013-03-14 00:25] jack-oquin commented on #384
The page you mention is two levels deep from the catkin wiki page and misleadingly labelled "Developers Guide". This is user documentation. It is probably where the Code API link _should_ point.

Why is that acceptable? Why can't Google find it?

Seems like we need a documentation review for catkin. There are a lot of words, but it is very difficult for users to find what they need to know.

[2013-03-14 01:35] dirk-thomas commented on #384
This is an API documentation which is intended for developers.

Should one of the catkin Wiki pages contain a user targeted description how to use nosetests? Absolutely!
I have create a ticket for that at ros/rosdistro#554

[2013-03-14 01:46] jack-oquin commented on #384
With respect to catkin:
- **developers** are people working on that package
- **users** are those generating catkin-compliant CMakeLists.txt files

The API documentation is for **users**. The confusing point is that they are "developing" some package that depends on catkin.

[2013-03-14 10:31] tkruse commented on #384
Hi Jack,

the auto-generated API docs may also contain internal API that users should not use, and the apidocs are written with an audience of catkin developers in mind, not users. So that's why they are currently not part of the user documentation section.

Why Google cannot find it I don't know, that is annoying.

Also right now, on the page  http://ros.org/doc/groovy/api/catkin/html/dev_guide/

[2013-03-14 10:55] stonier opened #389 "Gtest install error"
Might be just because it's late, but I'm confounded by a gtest error.
- Installs as source in the workspace using this [rosinstall](https://github.com/ros-windows/win_ros/blob/groovy-devel/msvc_unstable.rosinstall) file.
- If I make gtests then it gets built (correct behaviour)
- If I don't make gtests, and do a make install first, then it creates an error

[code]

No doubt due to the `EXCLUDE_FRO

[2013-03-14 15:22] jack-oquin commented on #384
OK

The purpose of a doc review is to give the writer user feedback on what needs to be explained, and what tasks people need to learn how to do. It is very hard for an expert in the topic to perceive things from that point of view.

[2013-03-14 17:28] dirk-thomas commented on #384
Regarding the missing link: it looks like the nightly doc generator is not generating the cmake api file and the links to it correctly. I have ticketed that at https://github.com/ros-infrastructure/rosdoc_lite/issues/32

[2013-03-14 22:15] tfoote commented on #379
Can you point to docs that we can read more about the best practices?

On Wed, Mar 13, 2013 at 3:43 AM, herbrechtsmeier
notifications@github.comwrote:

[2013-03-15 05:39] stonier commented on #389
Got it, windows add_library issue. I'll sort this out and pull request.

[2013-03-15 07:19] herbrechtsmeier commented on #379
At first you could take a look at the http://www.vtk.org/Wiki/CMake_Cross_Compiling but OpenEmbedded (Yocto) have simplify the usage of executables in the build process. They first build all buildtool_depends as native version and install them into a native sysroot. As next they cross compile all depends and install all header, libraries and CMake files into the cross sysroot. The native sysroot i

[2013-03-15 07:51] #389 closed, assigned to nobody

[2013-03-15 20:55] wjwwood opened #392 "catkin_test_results should provide an error code based reporting of errors/failures"
For build farms which do not manually read in the xunit files, one command which indicates whether or not any tests failed would be nice.

`caktin_test_results /path/to/test_results` summarizes the tests, but always returns 0, maybe it could have options like `--error-code-on-errors` and `--error-code-on-failures`.

For not this works:

`python -c "from catkin.test_results import test_results;impo

[2013-03-16 00:30] #392 closed, assigned to dirk-thomas

[2013-03-18 04:33] wjwwood opened #395 "There is no way to suppress generation of environment setup files for catkin"
See line:

https://github.com/ros/catkin/blob/groovy-devel/cmake/all.cmake#L181

This came up when someone was trying to package catkin for Fedora and they do not allow a package to put files in the root of the prefix like that.

It should definitely be an option that catkin should support.

This will require us to introduce a new option that will include catkin, or make the current option include

[2013-03-18 17:25] wjwwood opened #396 "catkin should handle different `etc` folder layouts"
Currently, the `etc` folder is assumed to be inside the installation prefix, e.g. `/opt/ros/groovy/etc` for `/opt/ros/groovy`. This is incorrect for the `/usr` path, which expects `/etc` to be used.

See:

https://groups.google.com/forum/?fromgroups=#!searchin/ros-sig-buildsystem/etc/ros-sig-buildsystem/eVaiQ4Annu4/ekNaasxxYo0J

This is a problem for packaging catkin packages as `/usr` prefixed bi

[2013-03-18 17:50] dirk-thomas commented on #396
The following items are affected by that (not sure if that is a complete list) and will likely need to be updated to support that use case:
- [ ] [REP 123](https://github.com/ros-infrastructure/rep/blob/master/rep-0123.rst) environment variable ROS_ETC_DIR
- [ ] catkin_pkg: `get_global_etc_destination()` and `get_package_etc_destination()`
- [ ] catkin: `etc` destination variables, `catkin_find` w

[2013-03-18 19:10] jack-oquin commented on #396
There is also a [REP-0122](http://www.debian.org/doc/debian-policy/ch-docs.html) update required. I volunteer for that, once we decide to proceed with this change.

[2013-03-18 19:16] jack-oquin commented on #396
Another option is to move most of **${PREFIX}/etc** to **${PREFIX}/share/ros/etc**. Then **$ROS_ETC_DIR** could point there. There should _not_ be a **share/langs** directory. That name is too vague to ever be exposed at the **/usr/share** level.

I still prefer moving **etc/catkin** to **share/catkin**, keeping it somewhat separate from ROS.

[2013-03-18 19:25] dirk-thomas commented on #396
The major problem with ROS_ETC_DIR is that it is does not work with overlays by design. Pointing to a single folder will not work anyway.

[2013-03-20 07:16] herbrechtsmeier commented on #379
@tfoote This is the common cmake configuration of yocto: http://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/meta/classes/cmake.bbclass

[2013-03-20 22:51] dirk-thomas commented on #380
There are more issues related to installing to /usr:
- [ ] etc folder can not be relative to that prefix (related to #396)
- [ ] custom environment script may be generated somewhere (i.e. in share) to set variable from env hooks
- [ ] relying on `.catkin` marker file in root of workspace is not possible
- [ ] rospack searches ROS_ROOT recursively

[2013-03-20 23:03] dirk-thomas commented on #122
The issue has been fixed in Groovy some time ago. But the fix requires certain changes in the genmsg CMake macros/functions which can not easily backported to Fuerte. There I will mark this request for Fuerte as "wont fix".

[2013-03-20 23:04] #122 closed, assigned to nobody

[2013-03-20 23:12] #387 closed, assigned to nobody

[2013-03-22 20:46] dirk-thomas commented on #395
The GBP repo has been patched to not pass CATKIN_BUILD_BINARY_PACKAGE to catkin anymore.

[2013-03-22 20:46] #395 closed, assigned to dirk-thomas

[2013-03-25 23:31] richmattes opened #398 "Please provide license text with package"
I'd like to request that you provide a copy of the full license text in a LICENSE or COPYING file.  It came up as part of a Fedora package review, we ask that upstreams provide a copy of the full license text that can be carried along with the binary package.

[2013-03-25 23:38] wjwwood opened #399 "catkin should support the python setup.py argument `py_modules`"
When using this argument to setup.py's `setup()` function catkin warns:

[code]

It ges installed into the install space, but it does not create a redirection placeholder for the devel space.

Since this is a core functionality of python's distribution system we should support it.

Here is an example setup.py:

[code]

[2013-03-25 23:39] dirk-thomas commented on #398
Do you mean for the catkin package or for all packages which use catkin?

[2013-03-26 00:02] richmattes commented on #398
I just mean this package, to add a LICENSE file to the source tree in parallel with README, etc.  Fedora's packaging guidelines encourage us to work with upstream projects to provide the proper license text (as per http://fedoraproject.org/wiki/Packaging:LicensingGuidelines#License_Text)

[2013-03-26 00:05] dirk-thomas commented on #398
Ok, will be done before the next version is released.

[2013-03-26 08:31] bit-pirate opened #401 "catkin make error with "run_dependend"-only packages"
I have a package which holds no source code, but among others lots of launchers.
Since nothing is built, I assumed so far that I can list the launch file dependencies as `run_depend`.

Unfortunately this doesn't work nicely. Something seems to be going wrong with the creation of the cmake config files. When I make a fresh build (no build, devel etc. folders exist) I always get an error, that a "ru

[2013-03-26 17:11] dirk-thomas commented on #401
Please provide a link to your repository or more code snippets. From the description alone it is not possible to see what part is wrong in your xml / cmake.

build_depends are all dependencies which are required at build time (cmake / make time).
run_depend have no affect on the build order - they define the dependencies necessary at runtime and are therefore used for the dependencies of the gener

[2013-03-26 23:57] bit-pirate commented on #401
Sure. Here are the two CMakeLists from both robosem_meta (only launchers & config files) and robosem_potentiometers (only python scripts):

[code]

[code]

[2013-03-27 00:24] tfoote commented on #401
If you put it inside the find_package call inside robosem_meta it's required at build time.  Just remove it from there and everything will work. You only want to list things in the find_package for which you want catkin to be able to get your compile flags etc.  I added a note about that here: http://www.ros.org/wiki/catkin/CMakeLists.txt

[2013-03-27 00:24] #401 closed, assigned to nobody

[2013-03-27 05:07] bit-pirate commented on #401
Thanks for the help! This solved my problem.

[2013-04-03 19:35] jack-oquin commented on #396
I wonder if it is now too late in Hydro for this change. Should it wait until Indigo?

If it is still in Hydro, I need to do the REP-0122 update right away.

[2013-04-04 09:06] dirk-thomas commented on #396
First there need to be a clear concept / plan how all of the pending questions should be handled which everybody agrees on. And then someone would need  to realize them.
Currently the issue is marked as "untargeted" since nobody is actively working on it and it is not scheduled to be realized for a specific milestone.

[2013-04-04 12:40] jack-oquin commented on #396
Doesn't that mean it's not happening for Hydro?

I don't see any harm with scheduling it for Indigo. We all have other things to do. It does not matter much as long as we are only releasing to /opt/ros and have no immediate plans for making actual Ubuntu packages.

The main thing is not to write more tools that depend on $PREFIX/etc and will have to be fixed later.

[2013-04-04 18:03] tfoote commented on #396
Most likely yes it will not make it into Hydro.  When we kick off Indigo
development we should review all untargeted tickets for targeting into
Indigo.

On Thu, Apr 4, 2013 at 5:40 AM, jack-oquin notifications@github.com wrote:

[2013-04-09 23:37] 130s opened #407 "When auth with repo fails, catkin_package_version should not increment version nor repeat commit"
See [this question thread](http://answers.ros.org/question/60141/catkin_prepare_release-pushes-twice-wo-incrementing-tag/?answer=60349#post-id-60349).

In my case, I might have failed auth once, then succeeds. That way the version in `package.xml` was 0.2.13 and `tag` in repo stayed 0.2.12 after one `catkin_package_version` execution. Also `commit` occurred as many as I failed auth + 1 success, wi

[2013-04-11 05:52] vrabaud opened #408 "catkin_pkg cannot be included in a catkin workspace"
e.g., I have src/catkin and src/ecto but when exporting path properply and doing my cmake ../src in build, I get an error due to the recursive behavior of catkin:
-- ~~  traversing 8 packages in topological order:
-- ~~  - ecto
-- ~~  - invalid_cmake (metapackage)
WARNING: The CMakeLists.txt of the metapackage 'invalid_cmake' contains non standard content. Use the content of the following file ins

[2013-04-11 05:58] vrabaud commented on #408
BTW, the instructions that used to work are here:
http://plasmodic.github.io/ecto/

[code]

[2013-04-11 06:22] dirk-thomas commented on #408
The instructions are not really good. Placing catkin_pkg in the source space of the workspace is not a good idea. You should simply not put catkin_pkg into the workspace (or place a CATKIN_IGNORE file in that folder).

Why is it failing now? Because catkin_pkg has recently added a couple of package.xml files for unit tests which specify a non-catkin build type. catkin_pkg itself is not a catkin pa

[2013-04-11 06:22] #408 closed, assigned to nobody

[2013-04-11 07:49] vrabaud commented on #408
ok, makes sense, it's not catkin's fault but catkin_pkg.
Is putting catkin in source space ok or is it also not recommended ?

[2013-04-11 17:44] dirk-thomas commented on #408
Well I would say putting non-packages in the source space is the problem - any repo (which is not catkin related) might have a file coincidentally called package.xml which would brake.

catkin is a valid catkin package, so yes, you can put that into the source space. Usually you only want that if you bootstrap your system. As soon as you have any workspace build you already have catkin in the root

[2013-04-17 19:59] jack-oquin opened #410 "provide task-oriented how-to documentation for catkin users"
I consider this the biggest gap in the catkin user documentation.

There is a lot of information already, but it's not very user-oriented. Answers to specific questions are hard to find. Some pages assume a much deeper understanding of CMake than a lot of people have, including me. Other places assume an understanding of the overall catkin design, which is quite complex and very different from ros

[2013-04-18 01:52] jack-oquin commented on #410
A couple more sections written, outline expanded. Done for today.

http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/howto.html

[2013-04-18 03:22] tfoote commented on #410
That looks great Jack!

On Wed, Apr 17, 2013 at 6:52 PM, jack-oquin notifications@github.comwrote:

[2013-04-18 15:51] jack-oquin commented on #410
Thanks!

It's coming along, slowly. Lots left to do.

I renamed the top-level howto page. It's here now:
- http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/index.html

[2013-04-19 20:10] jack-oquin commented on #384
Although this issue was closed a month ago, there is still no link from the catkin API page to the "Extracted CMake API Reference" page mentioned by @dirk-thomas.

I suggest that this issue be re-opened until it's actually fixed.

[2013-04-19 20:26] jack-oquin commented on #384
See also: ros/catkin#410

[2013-04-21 14:56] jack-oquin commented on #410
There is now has a fairly complete first draft, missing only the Python and unit test pages.
- http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/index.html

[2013-04-21 15:18] jack-oquin commented on #384
This page still exists: http://ros.org/doc/groovy/api/catkin/html/dev_guide/generated_cmake_api.html

But it says catkin 0.5.64, not the current release 0.5.65.

Does it have to be generated by hand for each new catkin release? That would explain why it keeps getting disconnected from the top-level documentation. I suspect the missing links explain why Google can't find it.

Doing it again by hand

[2013-04-24 23:08] dirk-thomas opened #411 "catkin_make_isolated --install with only non-catkin packages fails"
In a workspace containing only non-catkin packages the invocation of:
`catkin_make_isolated --install`
fails when creating the toplevel env.sh file in develspace_isolated (https://github.com/ros/catkin/blob/groovy-devel/python/catkin/builder.py#L715). The reason is because the develspace_isolated folder has not been created in that case.

[2013-04-24 23:09] #411 closed, assigned to dirk-thomas

[2013-04-25 19:01] dirk-thomas opened #412 "catkin_make_isolated should support running tests"
obviously only for the packages with build_type catkin

[2013-04-27 13:19] jack-oquin commented on #412
Otherwise there is no reliable way to establish that a bloom 3rd-party package is installs its targets correctly.

We recently released a broken libfreenect that installed things in **lib64/**, which does not work with catkin.

[2013-04-30 22:55] dirk-thomas commented on #384
Since the doc job will not be able to perform custom generations like that (in the foreseeable future) the generated_cmake_api.rst file is checked in the repo since 77446373ad23d43c5f5b494a4fcf98c86c2b7000.
This is a bit ugly as it requires manual regeneration to stay up-to-date when any api changes.

[2013-04-30 22:55] #384 closed, assigned to dirk-thomas

[2013-04-30 23:31] jack-oquin commented on #384
This is the sort of "kicking the can down the road" solution I was hoping to avoid.

Other rosdoc_lite packages manage to include generated documentation without requiring extra manual tasks.

Why does that not work for catkin?

[2013-04-30 23:48] #398 closed, assigned to dirk-thomas

[2013-05-01 00:16] dirk-thomas commented on #384
Please point me to another package with generates cmake api documentation via rosdos_lite and I will happily update the way catkin does it.

[2013-05-01 00:26] jack-oquin commented on #384
This may not be a good example, but here's how I did it for Python:
- https://github.com/ros-geographic-info/unique_identifier/tree/master/unique_id
- http://www.ros.org/wiki/unique_id
- http://ros.org/doc/groovy/api/unique_id/html/python/

[2013-05-01 00:29] dirk-thomas commented on #384
How does that example apply here? Sphinx knows how to extract API documentation from Python files. But in catkin we need to document CMake code.

[2013-05-01 01:59] jack-oquin commented on #384
It does not directly. The point is that maybe the docs should be somewhere rosdoc_lite can process them automatically. Having comments in the CMake files is only useful for you and two or three others.

[2013-05-01 06:34] dirk-thomas commented on #384
Well, we are documenting an API. Putting that into a separate rst file has the common drawback of getting out-of-sync with the implementation. So the documentation should stay within the code.

If we currently don't have a tool like doxygen/sphinx which allows us to perform the extraction automatically I don't see a better way to perform that. Hopefully tools will catch up and something like https

[2013-05-01 15:31] jack-oquin commented on #384
This seems more important to me than it does to you. I suspect the reason is that you consider it "developer" documentation, while I am reporting a lack of adequate "user" documentation.

I don't care about developer documentation. Catkin developers will read the sources, anyway.

The real problem is that _users_ need catkin API docs. A user API should not mention non-public CMake functions or mac

[2013-05-01 16:14] ahendrix opened #413 "catkin_make always colorizes output"
catkin_make always colorizes the output, even when it's inappropriate, such as when outputting to a pipe or a file.

It should be relatively easy to add an os.isatty() check before printing to determine if color should be used in the output.

reproduce with 'catkin_make | cat -v'

[2013-05-01 16:26] jack-oquin commented on #410
First draft complete, except for the unit tests. I'd like some feedback on what is there now:
- http://farnsworth.csres.utexas.edu/docs/catkin/html/howto/index.html

[2013-05-01 16:48] #413 closed, assigned to dirk-thomas

[2013-05-01 16:55] dirk-thomas commented on #410
catkin_overview: CMakeLists.txt: Todo:
There is no specific order required between test and install invocations.

[2013-05-01 16:58] jack-oquin commented on #410
Noted. Thanks, Dirk!

[2013-05-01 17:00] dirk-thomas commented on #410
catkin_library_dependencies: package.xml:
"If all the C++ code is defined in header files and no shared object libraries are provided, the <run_depend> is not needed and should be omitted."

This is not correct. The condition when to declare a run_depend is if another package is required for executing this package. This is the case the the other package contains a shared library which is used (not

[2013-05-01 17:01] jack-oquin commented on #410
Ahh! Good point.

While trying to fix this, I discovered that I am still confused.

If a package A header includes a package B header, I can see that packages depending on A will have an indirect build_depend on B. But, I do not understand them having a run_depend on it.

[2013-05-01 17:09] dirk-thomas commented on #410
catkin_library_dependencies: CMakeLists.txt:
"CMake does not know about package.xml dependencies."

Actually does know about the dependencies in package.xml. If you find_package(catkin COMPONENTS foo) it ensures that you have a build_depend on foo. And if you catkin_package(CATKIN_DEPENDS bar) it ensures that you have a run_depend on bar.

[2013-05-01 17:13] dirk-thomas commented on #410
cpp_msg_dependencies:
Again, if the headers from the messages are visible to downstream packages (e.g. if they are included in header files) a run_depend and catkin_package(CATKIN_DEPENDS) is necessary.

[2013-05-01 17:25] jack-oquin commented on #410
It's **catkin** that knows about package.xml dependencies, not **CMake**, right?

[2013-05-01 17:44] dirk-thomas commented on #410
Sure.

[2013-05-01 18:14] dirk-thomas commented on #384
If additional user documentation is missing which goes beyond the API doc we can add that as additional rst files or in the wiki. If the API doc should be extended we can extend the comments in the code. Any pull requests on that are highly appreciated.

But the way the doc is generated is an implementation detail which nobody except me has to care about. Yes, it is inconvenient for me that I have

[2013-05-01 20:20] dirk-thomas commented on #410
building_executables: Installing:
I would suggest leaving "COMPONENT main" out of that example or why do you think is it necessary to use that?

[2013-05-01 20:24] dirk-thomas commented on #410
building_msgs:

[code]

That also applies to packages (compiling C++ code)  which use message from other packages. So this should also be mentioned on the page "cpp_msg_dependencies".

[2013-05-01 20:26] dirk-thomas commented on #410
`catkin_package()` is only mentioned on the page "building_libraries". I think it should also be described on the "Resolving dependencies" pages which mention run_depends. Commonly most of them must be passed to `catkin_package()` either as `CATKIN_DEPENDS` or `DEPENDS`.

[2013-05-01 20:27] jack-oquin commented on #410
On Wed, May 1, 2013 at 3:20 PM, Dirk Thomas notifications@github.comwrote:

I have no idea what it means.

## The examples I saw did it that way, so I copied them.

 joq

[2013-05-01 20:28] dirk-thomas commented on #410
For dynamic reconfigure anything compiling against the generated code also requires:

[code]

[2013-05-01 20:33] dirk-thomas commented on #410
Sorry, for all these tiny comments - I just filled them one by one while going through the docs. The information is great and will help users a lot - thank you for taking all the time!

[2013-05-01 20:37] jack-oquin commented on #410
Your comments are very welcome, Dirk, in any form you find convenient.

I made some updates as we went along, but will likely have some follow-up questions. I'll get back to you with them.

[2013-05-01 23:19] stonier commented on #410
Really nice job Jack.

One comment. In `building_libraries.html`, installing a library should cover all three target destinations. Currently:

[code]

should look like (use roscpp as a reference):

[code]

[2013-05-01 23:51] jack-oquin commented on #410
On Wed, May 1, 2013 at 6:19 PM, Daniel Stonier notifications@github.comwrote:

I was willing to ignore static libraries as a special case, only used by
those who understand what needs to be done.

I had no idea Windows libraries need to be installed differently. Is there
any way to redirect `${CATKIN_PACKAGE_LIB_DESTINATION}` to the correct

## place for Windows builds?

 joq

[2013-05-02 00:05] dirk-thomas commented on #410
No, that why for `RUNTIME DESTINATION` the variable `${CATKIN_GLOBAL_BIN_DESTINATION}` must be used.

[2013-05-02 19:33] DLu opened #415 "Catkin Remakes Everything When Comments are Changed"
I changed a comment in one of my CMakeLists.txt and catkin_make rebuilt every possible library.

[2013-05-02 20:00] dirk-thomas commented on #415
This is completely up to CMake. If you change any CMake file it requires a reconfigure which will also rebuild your targets. If you want to make that more efficient use `ccache`.

[2013-05-02 20:00] #415 closed, assigned to nobody

[2013-05-02 20:03] dirk-thomas commented on #412
Implemented in #414.

[2013-05-02 20:03] #412 closed, assigned to dirk-thomas

[2013-05-02 20:57] ahendrix opened #416 "set catkin_add_gtest workspace to source directory by default"
Currently, the test workspace for catkin_add_gtest is the binary output directory, which makes it difficult for compiled gtests to find the data files they need for testing, and requires any gtests ported over from the old system to be modified before they run properly.

I think the WORKING_DIRECTORY should default to ${PROJECT_SOURCE_DIR} so that the behavior describe in http://answers.ros.org/qu

[2013-05-02 23:28] ahendrix opened #418 "Detect SETUPTOOLS_DEB_LAYOUT properly on non-debian systems."
Currently, SETUPTOOLS_DEB_LAYOUT defaults to ON. This beaks on non-debain-based systems such as OS X, Windows, Gentoo, Arch, Fedora, etc.

Is it possible to make SETUPTOOLS_DEB_LAYOUT default to OFF, and turn it on if a deb-specific file exists; perhaps /etc/debian_version ?

if(EXISTS /etc/debian_version) ...

[2013-05-02 23:30] dirk-thomas commented on #407
The message remains the same since you have not run `catkin_prepare_release` again but just the commands printed from the initial invocation.

#417 will ensure for non-svn repositories that the user has push access (else it will not perform any action).

In case the pushing still fails with #417 `catkin_prepare_release` will output a message that the user has to manually invoke the push (instead o

[2013-05-02 23:30] #407 closed, assigned to dirk-thomas

[2013-05-02 23:38] dirk-thomas commented on #418
For OS X and Windows the default value is actually OFF. Can you point to references for the above mentioned platforms which install layout they are using?

[2013-05-02 23:42] ahendrix commented on #418
The default value should be OFF, and it should be ON only if the system is debian-based.

Manually turning off SETUPTOOLS_DEB_LAYOUT is mentioned at various points in the install instructions for all of them:

http://www.ros.org/wiki/groovy/Installation/Gentoo
http://www.ros.org/wiki/groovy/Installation/Fedora
http://www.ros.org/wiki/groovy/Installation/Arch

[2013-05-03 04:43] #418 closed, assigned to dirk-thomas

[2013-05-08 23:12] wjwwood opened #421 "Update `catkin_package` documentation note"
There is a note, defined here:

https://github.com/ros/catkin/blob/groovy-devel/cmake/catkin_package.cmake#L8

Which is not correct I think. It is my understanding that it should happen after the find_package of dependencies and after message generation, but before user targets are created.

[2013-05-08 23:44] #421 closed, assigned to dirk-thomas

[2013-05-13 21:07] jack-oquin commented on #153
I agree that this is badly needed. I was about to open a new issue for it, but discovered this 9-month-old one.

Catkin is so complex that even experts need help to figure out if their build files are logical and consistent and follow recommended practice.

[2013-05-21 00:42] dirk-thomas commented on #416
If you require a specific working directory (which is different from the current default) you should either specify the WORKING_DIRECTORY argument or pass the information where to find the test data to the test itself (e.g. by passing the path to the C++ compilation).

Changing the default path would only helps for your specific setup - in other cases (e.g. downloading test data) it would than be

[2013-05-21 00:42] #416 closed, assigned to nobody

[2013-05-21 00:50] jack-oquin commented on #416
Can you explain how to do that?

Does resolution using the ROS package path work correctly?

[2013-05-21 02:06] dirk-thomas commented on #416
You have multiple options:
- Specify WORKING_DIRECTORY when registering the gtest. Than in the code you can use a path relative to that for loading data. The data could be in the source of the package or e.g. being downloaded into the build folder.
- Download the test data wherever you want and pass that path via a C++ PP variable into your code which than uses that compiled-in path.
- If the data

[2013-05-21 17:21] hershwg opened #424 ".catkin file and symlinked home dir"
I am frequently having this problem where my devel/.catkin file gets to looking like this:

[code]

but

[code]

So /u/hersh is a symlink to /wg/stor2a/hersh.

Sometimes catkin thinks I am working from one side of the symlink and sometimes it thinks I'm working from the other side.

I wouldn't care except I get errors like this:

[code]

So clearly roslaunch could be changed to notice that they ar

[2013-05-21 17:39] dirk-thomas commented on #424
Can you please describe the steps when both of these folders are getting added? It sounds like it does not happen always.

[2013-05-21 17:58] hershwg commented on #424
I've tried to reproduce it in an example catkin workspace but it doesn't seem to happen.  In my big actual workspace it happens a few times per day, and generally seems to happen after a "catkin_make" or after a "cd build; make".

I have also noticed that after doing a catkin_make and source-ing the setup.bash and doing "roscd something", it takes me to /wg/stor2a/hersh/ros_workspace/src/something

[2013-05-21 19:50] dirk-thomas commented on #13
Due to the age closing the issue. While higher test coverage is always welcome it does not require individual tickets.

[2013-05-21 19:50] #13 closed, assigned to nobody

[2013-05-22 00:50] dirk-thomas commented on #325
Providing completion for bash for now. If someone would like to have tcsh/zsh please consider to provide a pull request.

[2013-05-22 00:51] #325 closed, assigned to dirk-thomas

[2013-05-22 01:16] dirk-thomas commented on #424
As far as I can see from the code `catkin_make` always uses the `os.path.abspath` which mean the "real" path.

The only way I could think of would be if you invoked plain `cmake`. Therefore you would have needed to call it with `-DCATKIN_DEVEL_PREFIX=path/to/devel`. Could that be what you have done before?

[2013-05-22 01:48] #424 closed, assigned to nobody

[2013-05-22 08:43] herbrechtsmeier commented on #379
All paths in the CMake files should be generated by the find_xxx macro and don't set NO_CMAKE_FIND_ROOT_PATH outside of the develspace. This allows the CMake files to work with different DESTDIR (sysroots) for programs and libraries.

pkgConfig.cmake.in:

[code]

Example (genpy-extras.cmake.em):

[code]

[2013-05-22 23:41] jack-oquin commented on #416
In other words, "no, resolution using the ROS package path does _not_ work". Sounds like none of this works with plain rostest, either.

How do I pass the path name of a test file with a ROS parameter?

[2013-05-23 00:00] hershwg commented on #424
This did indeed fix my problem.  Thanks for the great service! :)

[2013-05-23 00:16] dirk-thomas commented on #416
As mentioned in the last post in option 3 - you can use rospkg.get_path / catkin.find_in_workspace to find your resources. So "yes, resolution using the ROS package path does work".

rospkg.get_path will only resolve files from the source folder of the package as it is not aware of any build/devel space and FHS. catkin.find_in_workspace lets you search in devel space as well as in source space. If

[2013-05-23 00:38] jack-oquin commented on #416
So, you have to install it in `${CATKIN_PACKAGE_SHARE_DESTINATION}`? That's not very reasonable for test data.

None of this helps solve the problems of using `download_test_data()` with `rostest`:
- http://answers.ros.org/question/63189/how-do-i-use-download_test_data/

If I open a new issue for that, will you just close it, too?

[2013-05-23 02:00] dirk-thomas commented on #416
I have closed this specific issue regarding `catkin_add_gtest()` since I described feasible ways how to achieve the described goals. The ros answer you refer to is significantly different from this issue - it uses rostest and therefore a roslaunch file for the test.

The roslaunch commands are (even with the enhancement described in ros/ros_comm#228) only able to find files in source/devel/install

[2013-05-23 03:29] jack-oquin commented on #416
Thanks, Dirk.

Sorry for getting grouchy. It's been really frustrating converting that package to catkin.

The only solution I can think of is storing the test data in /tmp/PACKAGENAME/, so it can be referenced as an absolute path name. That will probably work, but it sucks, and I would hate to document that as a "best practice".

Where should such a ticket be opened?

[2013-05-23 03:35] dirk-thomas commented on #416
The catkin issue tracker is fine.

[2013-05-23 03:51] jack-oquin opened #426 "download_test_data: not documented and difficult to use"
There is no documentation for this command.

I am converting a rosbuild package to catkin. It used `rosbuild_download_test_data()`, which I changed to `download_test_data()`.

The file gets downloaded to the build tree, but in rostest `$(find PACKAGE)/tests/FILENAME.pcap` can't find it there.

See [this question](http://answers.ros.org/question/63189/how-do-i-use-download_test_data/) for details,

[2013-05-23 15:05] jack-oquin commented on #426
I tried to hack around the problem by using an absolute file name in **/tmp**.

[code]

But, `download_test_data()` insists on prefixing the name with `${PROJECT_BINARY_DIR}/`, even when the it is fully qualified. It _always_ goes in the build tree, although it cannot be resolved there.

[2013-05-23 15:59] jack-oquin commented on #426
The following appalling hack seems to work:

[code]

I even had to spell out the package name, because I could not get CMake to resolve `/tmp/${PROJECT}` correctly in the `set()` command.

[2013-05-23 20:22] dirk-thomas commented on #426
The CMake variable for the project name is called `PROJECT_NAME` not `PROJECT`.

I don't have a package at hand which does it the way you describe it. Can you try the following (or point me to an existing repo with which I could give it a try)?

Since the test data is downloaded to a location relative to `PROJECT_BINARY_DIR` have you tried to register your test with a `WORKING_DIRECTORY` which poi

[2013-05-23 20:58] jack-oquin commented on #426
The package I am trying to port is the [velodyne_driver](https://github.com/ros-drivers/velodyne/tree/master/velodyne_driver).

To see how easily it all worked before, compare the [rosbuild branch](https://github.com/ros-drivers/velodyne/tree/rosbuild/velodyne_driver).

I have no idea what "register your test with a WORKING_DIRECTORY which points to PROJECT_BINARY_DIR" means. If you can tell me wh

[2013-05-23 22:30] dirk-thomas commented on #426
`add_rostest` has an optional argument `WORKING_DIRECTORY` like all the other CMake test functions. But this won't solve the problem since roslaunch will later run each node and test with the cwd pointing to ROS_HOME.

Taking a step back...

Any *.test file should be runnable via the `rostest` command line tool. Since this step does not perform the download of the test data it should be possible t

[2013-05-23 23:14] dirk-thomas commented on #426
I have added the feature to pass arbitrary arguments to `add_rostest()` using the `ARGS` keyword (see ros/ros_comm#232). Based on that you can modify the launch file to use an argument instead of a fixed path:

[code]

and in your CMake file you pass the location as a standard roslaunch argument:

[code]

If you want to give this a try you need to place the latest rostest package (or a complete ro

[2013-05-23 23:52] jack-oquin commented on #426
Good idea, Dirk. The ARGS option looks like a generally useful extension.

Does it work for .launch files as well as .test files?

Where is `add_rostest()` defined? There's no documentation for it, either. I looked in catkin, but could not find it. Now I see from your update that it's buried in ros_comm.

I can give the new option a try, but won't be able to actually use it until you release a new

[2013-05-23 23:57] dirk-thomas commented on #426
I think I don't get your question right? What do you mean with "does it work for .launch files as well"? The command line tools roslaunch as well as rostest already support passing arguments. The patch only exposes that to the CMake macro `add_rostest()`.

You can expect a new release of ros_comm within a couple of days. It has already been quite some time since the last version and several fixes

[2013-05-24 00:07] jack-oquin commented on #426
I found another issue: several Velodyne packages share the same test files. They each end up declaring the same build target name, which CMake does not allow, of course.

For now, I am commenting out the downloads in **velodyne_pointcloud** and using the ones downloaded by **velodyne_driver**. That is very hackish, and probably will not work with your ARGS solution, since it would need the `${PROJ

[2013-05-24 00:09] jack-oquin commented on #426
Since rostest can use .launch files as well as .test files, I was wondering if their arguments can be passed similarly.

I presume they can, but it doesn't hurt to ask.

[2013-05-24 00:22] jack-oquin commented on #426
I read @wjwwood's explanation of the reasons why downloaded files go in build space and not devel space. I didn't find them very convincing.

Wouldn't this work much cleaner if the files were find-able in all the usual ways? Maybe the current command is somewhat hopeless, because too many other packages already work around its quirks. But, a new command or option to store the files in devel space

[2013-05-24 00:25] dirk-thomas commented on #426
The devel space has the disadvantage that these files would be exposed to every package. Imho the test data files should be private to the testing package and not made publicly available.

[2013-05-24 00:40] wjwwood commented on #426
I don't really care if it ends up in build or devel space, I was simply trying to figure out from a higher level what would be most correct.

Either way the macro needs to create package name-spaced targets and the data needs to be easily discoverable, I am just not sure what the best solution for that is yet.

[2013-05-24 00:46] jack-oquin commented on #426
[code]

But, don't forget my earlier note about several packages sharing the same
test data. While clean separation is desirable, we need to make sure it

## works in a large catkin work-space, which is not currently the case.

 joq

[2013-05-24 20:17] ahendrix commented on #410
When linking it should be ${Boost_LIBRARIES} and not ${Boost_LIBRARY}

[2013-05-24 23:11] jack-oquin commented on #410
@ahendrix:

Are you sure?

We've had problems with using the `_LIBRARIES` suffix. I can't remember exactly what, something to do with wanting full path names rather than `-L` parameters.

[2013-05-24 23:15] dirk-thomas commented on #410
It is definitely `${BOOST_LIBRARIES}`. You will find that in mostly all of the ROS core packages.

The singular variant would result in a not defined variable hence an empty string.

[2013-05-24 23:21] jack-oquin commented on #410
OK. Thanks to everyone for the correction.

It's hard to get this stuff exactly right.

[2013-05-24 23:29] jack-oquin commented on #410
I found and fixed `${BOOST_LIBRARIES}` in two places.

Is there a problem with the `${GSTREAMER_LIBRARY}` example?

[2013-05-24 23:36] tfoote commented on #410
That's quite possible.  Unfortunately CMake does not have strict
requirements about what variables are created.  And doesn't even have
written recommendations so any package can make it's own variables.  This
is the reason we can't do more helpful things for 3rdparty libaries between
rosdep and cmake/catkin.

[2013-05-25 00:36] ahendrix commented on #410
I'm using and linking against gstreamer like this: https://github.com/ros-drivers/audio_common/blob/hydro-devel/audio_capture/CMakeLists.txt

YMMV.

[2013-05-25 00:54] jack-oquin commented on #410
Thanks! I'll copy that, so we have something that's been tested.

[2013-05-25 09:53] stonier commented on #410
On 25 May 2013 08:36, Tully Foote notifications@github.com wrote:

Actually, it does have an official recommendation which you can usually
find installed alongside the official cmake modules in a readme. The git
(latest) version of the readme is at:

http://cmake.org/gitweb?p=cmake.git;a=blob;f=Modules/readme.txt

with the wiki page for (new) module maintainers having a bit more detail
and also po

[2013-05-27 03:47] stonier opened #428 "chained workspaces and include search path"
Ran across some search path problems for includes if you have chained source workspaces sitting on top of released debs.
- Old `ecl` in debs residing in `/opt/ros/groovy`.
- New source workspace for ecl with some changes in `/opt/ecl`.
- Chained workspace for kobuki on top of compiled ecl on top of installed groovy.

I source `/opt/ecl/devel/setup.bash` and proceed to `catkin_make` the `/opt/kobuk

[2013-05-27 05:25] dirk-thomas commented on #428
First it is weird that the build fails because it does not find the header - even if you have deleted it in one workspace it should always fall back to the same file in the underlay.

The CPATH is not really relevant at all since all necessary include directories should be provided by variables provided by find_package() calls.

In order to investigate please provide a reproducible example. This c

[2013-05-27 05:34] dirk-thomas commented on #428
Sorry, for the close/reopen - clicked the wrong button...

[2013-05-27 06:11] stonier commented on #428
1) I didn't delete the header, just some of it's dependent includes, so it would throw up an error. I was just trying to track down which header was getting included - could have just added an #error macro in the header to just as good effect.

2) the include directories are getting provided by find_package() calls, but they are getting added as -isystem flags, CPATH overrides these and so `/opt/r

[2013-05-28 03:58] stonier commented on #428
Ran into another oddity chasing this up with a simple example.

I thought catkin was assigning directories as `-isystem` in the output above. Turns out it was some of us doing the following:

[code]

which we'd copied from some somewhere else when learning catkin. This fails _sometimes_ when working with chained workspaces as it will put the chained installspace include dir specified by CPATH (e.g

[2013-05-28 21:26] dirk-thomas commented on #428
`include_directories(SYSTEM ...)` is definitely not a good idea and should not be done. If you find any reference doing that please point it out. After changing this do you still have the original issue? If yes, can you provide more info?

[2013-05-28 23:05] stonier commented on #428
Aye, it's fixed, so I'll close it for now. Was just wondering if people actually have a need to use SYSTEM at all, and if they do, this tiny corner case with overlays might come up. Probably not worth worrying about it till it does though.

Can't remember where I copied it from initially, but I'll send patches if I discover any instances.

[2013-05-28 23:05] #428 closed, assigned to nobody

[2013-05-31 21:42] dirk-thomas commented on #426
I have created a pull request which implements a cleaner CMake function for downloading test data. I enables all use cases mentioned in this thread (as far as I can see) by allowing custom download destinations / filenames. The signature also exposes the target name.

Please feel to give it a try and comment on the pull request #431.

[2013-05-31 22:03] jack-oquin commented on #426
Looks good. I'll try it.

Thanks, Dirk.

[2013-06-04 00:41] piyushk commented on #410
@jack-oquin A couple of minor points:
1. Apologies for the xx_LIBRARY vs xx_LIBRARIES issue. I pulled a fast one there. The catkin documentation [here](http://ros.org/wiki/catkin/CMakeLists.txt#Include_Paths_and_Library_Paths) suggests that you should not use `link_directories` in the CMakeLists.txt file. To work around this, I created an xx_LIBRARY variable using `find_library` to get the absolut

[2013-06-04 14:30] jbohren opened #432 "Can the license tag also be given a url attribute?"
This would be useful for 3rd-party or non-standard licenses.

[2013-06-04 17:40] tfoote commented on #432
This should be filed against catkin_pkg. https://github.com/ros-infrastructure/catkin_pkg/issues/new Probably the best thing to do is bring it up on the buildsystem mailing list so we can discuss it there.  It sounds reasonable though.

[2013-06-04 17:40] #432 closed, assigned to nobody

[2013-06-04 17:41] dirk-thomas commented on #432
As specified in REP 127 (http://ros.org/reps/rep-0127.html#license-multiple-but-at-least-one) the license tag has currently no values. If you want to include the license text I would recommend placing a LICENSE file into the package root (and potentially install it in CMake). If you would like to propose to update the REP with something like a url attribute you can either post that proposal to the

[2013-06-04 18:16] dirk-thomas opened #433 "catkin_make_isolated --merge fails"
cmi --merge overwrites the setup.sh with a new file which sources itself.

[2013-06-04 18:16] #433 closed, assigned to dirk-thomas

[2013-06-04 18:20] dirk-thomas commented on #426
Should be addressed by #431.

[2013-06-04 18:20] #426 closed, assigned to dirk-thomas

[2013-06-06 22:59] oars opened #434 "Python script name backward compatibility"
I just began migrating some projects we had running on fuerte and after some debugging found out that the reason my project was not working was because of the name of my python scripts.

Many of them would have the same name as the package, but would still work under fuerte. With catkin the python path now includes "~/catkin_ws/src/< pkg_name >/scripts/" and so an import of the type: from pkg_name

[2013-06-06 23:24] dirk-thomas commented on #434
catkin does not add `~/catkin_ws/src/< pkg_name >/scripts/` to the PYTHONPATH.

It only looks for packages you specify in the setup.py file in the referenced source location. So if you have a package foo under src and `import foo` will look in `~/catkin_ws/src/foo` (but nothing with scripts).

The problem you are facing is that a Python file and a Python package have a naming collision. Beside ren

[2013-06-07 00:30] oars commented on #434
I think I mostly understand what you are saying. I guess it was more of a fluke that things worked in fuerte due to the placement of the generated msg modules within the src directory.

I'll retrace my steps by following the wiki and see where/if a warning of some sort would make sense along the way.

Thank you

[2013-06-07 00:30] #434 closed, assigned to nobody

[2013-06-07 16:45] raptort3000 opened #435 "Trouble with Catkin: Compiling node and generating messages in same package."
Please see the following link for info on the bug: http://answers.ros.org/question/64448/trouble-with-catkin-compiling-node-and-generating-messages-in-same-package/

[2013-06-07 17:51] dirk-thomas commented on #435
You might consider providing a repository which people can just checkout and try the code from your question posted on ROS answers. May be that help to figure out where the issue is.

This is not a catkin issue since it obviously works for numerous existing ROS packages. Nevertheless if it would be a general issue it would be for the package genmsg and not catkin.

[2013-06-07 17:51] #435 closed, assigned to nobody

[2013-06-07 18:00] wjwwood commented on #435
We need either your code to test with, or a simple toy problem which narrows down the the problem in a reproducible way. If you can provide either of those and we can reproduce it, then we will reopen this issue.

[2013-06-07 18:09] jbohren commented on #435
I don't think it's something that can be tested with example code, or test-driven development. The test is "can a user easily build messages when they want to" In this case, the test failed, and it points to a documentation and/or usability issue.

[2013-06-07 18:17] dirk-thomas commented on #435
The documentation clearly states how to specify the necessary dependencies between the library target and the the message generation target. Since nobody can spot an obvious issue in the posted code the best way is to post a ready-to-use example - either a simple test case which reproduces it or the full code the user is experiencing the problem with.

[2013-06-07 18:17] wjwwood commented on #435
@jbohren This is not a usability thing, in his question of ROS answers he is doing what the documentation prescribes and I don't see any thing wrong with his CMakeLists.txt, so it must be some other thing he has in his environment or something else we are missing. For us to proceed in helping him we need a reproducible case.

[2013-06-07 18:50] tkruse commented on #435
It may still be an issue of usability if error reporting is insufficient. But in any case, the error must be reproducible to decide whether some valiudation and/or error message needs improving.

[2013-06-07 20:21] raptort3000 commented on #435
Hi guys,

Here is the repository with the code that is producing this error: https://github.com/raptort3000/ublox_catkin

git clone https://github.com/raptort3000/ublox_catkin.git

[2013-06-07 21:03] wjwwood commented on #435
I addressed the issue in a pull request:

https://github.com/raptort3000/ublox_catkin/pull/1

[2013-06-07 21:07] wjwwood commented on #435
I don't see a reason to open this issue again unless someone has a concrete idea on how to improve the error detection and handling here. Even then I think a new issue/pull-request might be appropriate.

[2013-06-07 22:35] meyerj opened #436 "rospack finds catkin package in rosbuild build folders"
I am not sure if the following is really an issue with catkin, if it should be reported in the [ros](https://github.com/ros/ros) repository instead or if it is an issue at all.

Every dry package compiled from source has a `build/` folder which contains a copy of catkin's `package.xml` in `build/catkin_generated/stamps/<package-name>/package.xml`. In some cases `rospack find catkin` will return th

[2013-06-07 22:42] dirk-thomas commented on #436
The upcoming version of catkin (0.5.66) will solve this issue by appending `.stamp` to all stamp files (see e168f0fcd2db690f221544636f4ab955ea442d6e).

[2013-06-07 22:42] #436 closed, assigned to nobody

[2013-06-11 18:41] #410 closed, assigned to nobody

[2013-06-12 17:25] jack-oquin opened #437 "documentation: finish unit test how-to"
Please assign this to me, if possible.

[2013-06-12 17:37] jack-oquin opened #438 "documentation: organize top-level page better"
In my opinion, the [top-level catkin documentation page](http://ros.org/doc/groovy/api/catkin/html/) has too much verbiage before new users get to see how the information is organized.

Users coming to catkin for the first time generally want to quickly find out how to do some specific task.
- Since they are probably forced to use catkin, they don't need to know its key benefits right away.
- For

[2013-06-17 16:49] jack-oquin opened #439 "need catkin version of rosbuild_add_roslaunch_check()"
No equivalent is listed in the documentation. Some catkin solution to that problem is needed.

See: http://answers.ros.org/question/64476/catkin-version-of-rosbuild_add_roslaunch_check/

[2013-06-17 16:52] dirk-thomas commented on #439
catkin should not provide such specific functionality. Please open a similar ticket against roslaunch.

[2013-06-17 16:52] #439 closed, assigned to nobody

[2013-06-19 01:22] jack-oquin opened #440 "documentation: separate format1 and format2 how-to pages"

[2013-06-19 02:16] jack-oquin commented on #440
Github won't let me assign myself to fix this. I guess it requires admin authority.

[2013-06-19 22:50] dirk-thomas opened #442 "suppress stacktrace when topologic_order raises within generating CMake files"

[2013-06-19 22:50] #442 closed, assigned to dirk-thomas

[2013-06-24 21:22] tho- opened #444 "generated .pc files have no prefix information"
Generated .pc files in ros-groovy define no "prefix" variable:
% pkg-config --variable=prefix roslib

%

It is customary to define prefix, includedir, libdir, datadir etc. in .pc files, so that one is able to retrieve this information whenever needed. In ros-fuerte, .pc files were correctly defining these. Was this dropped intentionnaly?

[2013-06-24 21:37] dirk-thomas commented on #444
In Fuerte and before the variable was mainly used to put together the other relative paths:

[code]

Since Groovy the include and library information are build differently and in this step the variables `prefix`, `includedir` and `libdir` where removed. It would be easily possible to readd at least the `prefix` variable if there is need to provide the information (or that is commonly the case for

[2013-06-24 21:46] tho- commented on #444
Well, all the point of a .pc file is to be able to deliver this kind of information :) You can't decide (or know) yourself in advance what a end-user will want, so removing it is going to imped those who need the information with no benefit.
And for that matter, I was using the prefix information ;)

I'd say that most .pc files are based on the same pattern:
% cd /usr/local/lib/pkgconfig
% grep ^p

[2013-06-24 21:55] dirk-thomas commented on #444
No, there is no other way to retrieve that information from a package. As mentioned, I can readd the `prefix` for sure. But likely not the other variables.

http://linux.die.net/man/1/pkg-config mentions that `Most packages define the variable "prefix"`. So to follow that I will readd the prefix in the next release of catkin.

[2013-06-24 22:05] tho- commented on #444
All right, thanks! I'm fine with re-adding just "prefix" :)

Regarding the other variables, I understand your point and I understand that with the current code it's difficult to compute. But I'm not sure to get the rationale. The .pc file is not supposed to include information regarding the _dependencies_ of a package. It must just contain the information for the package itself. So, for instance f

[2013-06-24 22:07] dirk-thomas commented on #444
It is only true that a package has a single include folder when it has been installed. Inside the workspace (in the devel space) it might have multiple folders: e.g. one with the hand written header inside the package source folder, one inside the devel space containing generated code of for example messages.

[2013-06-24 22:15] tho- commented on #444
Mmm... I see. I'm really puzzled with that idea of not installing software ... but ok, this is another topic and this is not the place to discuss it.

Thanks again for the quick replies :)

[2013-06-24 22:27] tho- opened #445 "Avoid generating empty -I directives in Cflags of .pc files"
Many groovy .pc files have empty -I directives.
This is harmful since an empty -I followed by another flag may be wrongly interpreted by compilers.

For instance, I have 87 such .pc files:
% cd /opt/ros/groovy/lib/pkgconfig/
% grep -- '-I$' *.pc | wc -l
87

Here is a small patch fixing this:

[code]

[2013-06-24 23:17] dirk-thomas commented on #445
Can you please mention at least one package for which this is the case? That makes it easier to verify the patch.

Update: python_qt_binding is one example

[2013-06-25 07:32] vrabaud opened #446 "default -j in catkin_make"
Right now, in catkin/builder.py, the number of default jobs is inferred from the architecture.
In my case, I have an i7 laptop with 4G of RAM. 8 jobs at 500M totally froze my machine. I know the workarounds (e.g. ROS_PARALLEL_JOBS or whatver the doc says), it's just that the first time you try catkin_make, you might be bitten by that, especially if you're new to ROS.
How about defaulting to one jo

[2013-06-25 09:06] tho- commented on #445
Or catkin.pc :)

[2013-06-25 17:44] jack-oquin opened #447 "catkin_prepare_release: needs more flexible tag naming option"
I would like to use this tool, but most of my packages use the `package_name-:{version}` rule for release tags.

Since `catkin_prepare_release` creates a tag with just the new version number, I have to delete that tag and create the correct one manually. So, I find myself doing the whole thing by hand, rather than take advantage of this useful tool.

Adding an appropriate option looks straightforw

[2013-06-25 21:21] #444 closed, assigned to dirk-thomas

[2013-06-25 21:21] #445 closed, assigned to dirk-thomas

[2013-06-25 21:26] dirk-thomas commented on #446
That is a known trade-off. The alternative would be that the majority of the users will compile with only one job at a time since they have no idea of that option. We are convinced that the current default is better suited that a default value of 1 (or N / 2 or something else).

[2013-06-25 21:26] #446 closed, assigned to nobody

[2013-06-25 21:29] dirk-thomas commented on #266
The disadvantage of using ctest with plain binaries rather than gtest binaries is the lack of unit test result output. It only exposes a simple True/False.

Anyway #448 includes the call to `enable_testing()` and uses `add_test()` internally for all kind of tests (gtests, nosetests, rostests).
@vrabaud Would you like to give the pull request a try and see if it does what you expect?

[2013-06-25 21:38] tho- commented on #444
Thanks, but "prefix" should be a variable and set with `=', like so:
prefix=@PROJECT_SPACE_DIR

[2013-06-25 21:43] dirk-thomas commented on #444
Thanks for catching this!

[2013-06-27 09:15] tfoote opened #449 "catkin_tag_changelog fails to detect forthcoming in truncated changelog"
It failed on this changelog:

[code]

catkin_prepare_release has the same problem:

[code]

[2013-06-27 09:16] tfoote opened #450 "catkin_prepare_release is fragile if multiple remotes setup"
I have two remotes setup and it seems to be doing poorly with that.  Hopefully it could at least catch that and degrade gracefully, letting me do the push, and just changing the package.xml for me.

[code]

[2013-06-27 09:24] dirk-thomas commented on #450
Please provide an example repo or describe your repository in detail to be able to reproduce it.

[2013-06-27 09:26] dirk-thomas commented on #449
`catkin_prepare_release` will not touch the changelogs at all - only verify that the to-be-released version is inside.

Can you please provide the output of the failing `catkin_tag_changelog` invocation?

[2013-06-27 10:04] tho- commented on #418
This commit makes it impossible to override the default (i.e. disable debian-layout on debian platforms)
Could it be converted back to an option? (even if autodetected)

[2013-06-27 16:40] tfoote commented on #450
origin  git@github.com:ros/geometry_experimental.git (fetch)
origin  git@github.com:ros/geometry_experimental.git (push)
tfoote  git@github.com:tfoote/geometry_experimental.git (fetch)
tfoote  git@github.com:tfoote/geometry_experimental.git (push)

I'm on a feature branch
tfoote/finish_catkinizing which is being pushed to origin/hydro-devel

[2013-06-27 16:43] tfoote commented on #449
[code]

[2013-06-27 16:57] tfoote commented on #450
[code]

[code]

[2013-06-27 17:22] tfoote opened #451 "catkin_prepare_release shouldn't always push"
It should be optional so I can check the results before pushing.

This is related to #450 too where I may have a non standard setup for my repos.

[2013-06-27 17:26] #450 closed, assigned to dirk-thomas

[2013-06-27 17:31] dirk-thomas commented on #449
Moved ros-infrastructure/catkin_pkg#50

[2013-06-27 17:31] #449 closed, assigned to nobody

[2013-06-27 18:29] #451 closed, assigned to dirk-thomas

[2013-06-27 18:32] dirk-thomas commented on #418
Could you describe a use case where that is desired on a Debian platform?

[2013-06-27 19:25] tho- commented on #418
As long as you install from sources, you do not have to follow debian rules. Since debian is the only system redefining the python default of 'site-packages', it adds superflous complexity to e.g. environment setup scripts that are shared amongst different arch. (e.g. PYTHONPATH=${HOME}/${MACHTYPE}-${OSTYPE}/lib/python2.7/site-packages would break, it would need a special case for debian). That's

[2013-06-28 17:35] jbohren opened #452 "New CMake warning in catkin with version 2.8.7 (latest on ubuntu 12.04)"
[code]

Happens when building this package, and others: https://github.com/jhu-lcsr/ros_control_gazebo

[2013-06-28 17:52] dirk-thomas commented on #452
According to you command line you are using groovy. I tried checking out the groovy-devel branch of ros_control_gazebo but when building it doesn't find the dependency gazebo_ros. As far as I can see that is not a package in groovy (only in hydro).

Can you please provide a rosinstall file of a workspace to reproduce the issue?

[2013-06-29 20:26] dirk-thomas commented on #452
The packages for which this policy error is printed are likely using a too old minimum required version for CMake. catkin recommends to use (at least) `cmake_minimum_required(VERSION 2.8.3)` (see http://ros.org/wiki/catkin/CMakeLists.txt#CMake_Version).

[2013-06-29 20:26] #452 closed, assigned to dirk-thomas

[2013-07-01 20:47] dirk-thomas opened #453 "catkin_EXPORTED_TARGETS should always contain a (dummy) target"
Based on the feedback on the mailing list the variable catkin_EXPORTED_TARGETS should always contain at least a (dummy) target. That would allow to use it with `add_dependencies()` without requiring to verify that the variable is not empty.

Imo this is overshooting and instead user land code should perform the correct check before using the variable (as it has to do it with any other variable use

[2013-07-01 20:48] #453 closed, assigned to dirk-thomas

[2013-07-02 21:05] hershwg opened #455 "ROS_PACKAGE_PATH is sometimes backwards"
I don't yet know how to reproduce this, but I thought someone might have ideas about what would cause it.

Some of our users complain that sometimes when they build a big catkin project, their ROS_PACKAGE_PATH ends up backwards, like:

[code]

This causes lots of trouble, since myproject is now an _underlay_ of ros groovy instead of an _overlay_.

Looking in the project's devel/_setup_util.py incl

[2013-07-02 21:11] dirk-thomas commented on #455
A custom CMAKE_PREFIX_PATH with the wrong order in the first place is the only reasonable explanation.

Please provide information about the environment _before_ the workspace was created and the exact parameters of the initial catkin_make command. Alternatively any command sequence which reproducible leads to the described result.

[2013-07-02 21:51] tlau commented on #455
We have this process scripted on our turtlebots (including the catkin_make command which produces this result). I'll try doing a clean build tonight, starting from scratch, with no CMAKE_PREFIX_PATH in the environment, and report back tomorrow.

[2013-07-03 00:43] dirk-thomas commented on #266
Implemented as of #448.

[2013-07-03 00:43] #266 closed, assigned to dirk-thomas

[2013-07-03 13:47] tlau commented on #455
OK, after a clean build unfortunately I can't reproduce the problem.  I'll keep monitoring it and see if I can come up with a reproducible test case when it happens again.

[2013-07-03 14:25] tlau commented on #455
Aha, I was able to reproduce it on my desktop (which builds a lot faster than turtlebots).  I isolated the problem to building with the `-DCMAKE_BUILD_TYPE=RelWithDebInfo` flag. This leaves the ROS_PACKAGE_PATH in the wrong order, whereas running `catkin_make` without that argument generates the correct path ordering.

My understanding is we were using that flag on turtlebots to make optimized bui

[2013-07-03 14:34] tlau commented on #455
Unfortunately although I did see it happen several times, I'm unable to consistently reproduce it using a known combination of unsetting ROS\* envvars, running catkin_make with and without that flag, and using script to capture the output so you guys can see it.  Grr.

[2013-07-03 19:44] 130s opened #456 "wiki) Review newly added changelog section in bloom tutorial"
http://www.ros.org/wiki/bloom/Tutorials/ReleaseCatkinPackage?action=diff&rev2=15&rev1=10

Because I haven't found yet any user document about add/update `changelog` upon releasing, I added a section in bloom's tutorial. Please review, and correct / move it to somewhere more appropriate if necessary.

[2013-07-04 05:47] ipa-rmb opened #457 "Make eclipse-project does not work properly with rosbuild anymore"
Since the last updates for ROS groovy on ubuntu 12.04 "make eclipse-project" appears not to work properly with the old rosbuild system anymore. It terminates with the following error:

make eclipse-project
mv Makefile Makefile.ros
if ! (cmake -G"Eclipse CDT4 - Unix Makefiles" -Wno-dev . && rm Makefile && rm CMakeCache.txt && rm -rf CMakeFiles); then mv Makefile.ros Makefile && echo "**ERROR buildi

[2013-07-05 09:01] 130s opened #458 "Suggestion message is not clear when gtest is not found"
When failed to find `gtest`, `catkin` ends with the following message:

[code]

Placing `gtest` folder at the root of workspace as suggested (in the case above at `catkin_ws`) fails with the same message. [cmake/test/gtest.cmake](https://github.com/ros/catkin/blob/groovy-devel/cmake/test/gtest.cmake#L73) looks trying to search under `src`.

So putting it in `src` works as a workaround. Or change s

[2013-07-05 17:08] tfoote commented on #458
It should probably state SOURCE_SPACE [rep 128](http://ros.org/reps/rep-0128.html)

[2013-07-05 17:49] dirk-thomas commented on #457
Neither rosbuild nor the eclipse-project target are relelated to catkin - therefore closing this issue.

Please see the duplicate issue at ros/ros#20.

[2013-07-05 17:49] #457 closed, assigned to nobody

[2013-07-05 17:49] #458 closed, assigned to dirk-thomas

[2013-07-05 17:50] dirk-thomas commented on #456
@wjwwood Can you please take a look to the changes of the bloom tutorial.

[2013-07-05 17:56] wjwwood commented on #456
With bloom 0.4.3 it will no longer fail on the farm. Otherwise it looks fine? It has very little to do with bloom, @dirk-thomas should probably review it to make sure the `catkin_*` commands are being used/described correctly.

[2013-07-05 18:27] tfoote commented on #456
It looks pretty good.  I reordered it so that people could simply follow it top to bottom.  And I added a bold statement to review the changelogs before committing them.

[2013-07-05 18:27] #456 closed, assigned to nobody

[2013-07-05 21:24] dirk-thomas opened #459 "skip generating CATKIN_IGNORE marker file when build space equals source space"
In the case that CMake is invoked in the root of a package the generated CATKIN_IGNORE marker file will hide the package from subsequent searches (e.g. rospkg).

rospack currently does still find the package - but that is considered bad and ticketed at ros/rospack#21

[2013-07-05 21:25] #459 closed, assigned to dirk-thomas

[2013-07-05 21:27] dirk-thomas commented on #459
Based on issue ros/ros#20.

[2013-07-05 22:22] dirk-thomas opened #460 "disable ctest on the farm"
The recently added ctest support makes them run on the farm for every binarydeb. The problem is that the are not even compiled before and rostests hang forever.

[2013-07-05 22:23] #460 closed, assigned to dirk-thomas

[2013-07-08 09:15] 130s opened #461 "Search key at find_program-ing nosetests' binary might be too specific"
On the platform I'm trying (`QNX` 6.5 with `pkgsrc`), [cmake-ing the workspace](http://ros.org/rosdoclite/groovy/api/catkin/html/adv_user_guide/underlay.html) fails as follows. Binary of `nosetests` is found as `/usr/pkg/bin/nosetests-2.7`.

[code]

`catkin` 0.5.69

I'll send a patch right away.

[2013-07-08 16:22] dirk-thomas commented on #461
According to your output the finding nosetests only results in a warning. The real error comes from being unable to find the rt library. Do you have a fix for this as well?

[2013-07-08 17:58] 130s commented on #461
Not yet, but I'm trying to make a patch for `rt` issue too.

[2013-07-09 19:52] ahendrix opened #463 "catkin_prepare_release fails"
catkin_prepare_release fails on my repository:

[code]

For reference:

[code]

There is no confirmation step and no obvious message indicating what when wrong or what I can do to fix it, so I've now burned three minor release numbers fighting this. :(

[2013-07-09 20:14] dirk-thomas commented on #463
Can you please post the output and return code of these two commands:

[code]

Btw. catkin_prepare_release (the current version) will not push to your GBP repo. So you are free to reset the changes and try again without requiring to bump the version number multiple times.

[2013-07-09 20:18] ahendrix commented on #463
[code]

I suspect there's something wrong with the way this git repo is set up; it has had some adventures.

I was able to rewrite my commit history and remove the extra versions and tags.

[2013-07-09 20:29] dirk-thomas commented on #463
I don't know what would causes the git config line to fail. Please provide the output of:

[code]

[2013-07-09 20:32] ahendrix commented on #463
I fixed the git config line by setting my local branch to track an upstream branch, with:

[code]

Suggest you make this check before making changes to the repository and explicitly warn the user about it.

[2013-07-09 20:36] dirk-thomas commented on #463
What check should catkin_prepare_release perform? I could only imagine a better error message if the command files - something like "check if the current branch is tracking an upstream branch".

[2013-07-09 20:37] dirk-thomas commented on #463
I will try to move the check to be performed earlier in the script. And add a custom error message...

[2013-07-09 20:38] ahendrix commented on #463
That would be great; thanks!

[2013-07-09 20:42] dirk-thomas commented on #463
Well, which version of catkin are you using?

The current one (0.5.69) does either not push at all (so doesn't need to check) if invoked without any args; or if invoked with `--push` performs the check if pushing is possible before doing any modifications to the repo.

[2013-07-09 20:45] ahendrix commented on #463
I'm using version 0.5.69 from debs, and invoking it without any arguments.

[code]

[2013-07-09 21:02] dirk-thomas commented on #463
I see, it fails for you while generating the command lines which would need to be executed manually afterwards. I will create a patch which adds a comment like

[code]

to the raised exception.

[2013-07-09 23:35] tfoote opened #464 "no argument catkin build does not set CATKIN_ENABLE_TESTING variable"
It reports on in the cmake report

-- Using CATKIN_ENABLE_TESTING: on

But an echo of the variable does not show anything

catkin_enable_testing
SETUPTOOLS_DEB_LAYOUT ON

These lines come from
message("catkin_enable_testing ${CATKIN_ENABLE_TESTING}")
message("SETUPTOOLS_DEB_LAYOUT ${SETUPTOOLS_DEB_LAYOUT}")

Looking in the cache file there is nothing referencing CATKIN_ENABLE_TESTING

It works fin

[2013-07-10 02:23] #464 closed, assigned to dirk-thomas

[2013-07-10 20:39] ahendrix opened #466 "catkin_make does not check dependencies"
When I run catkin_make on a system with missing dependencies, it often fails at some point during the cmake generation process with an obscure error, usually being unable to find a cmake config for the missing dependency. This is difficult to debug.

Catkin should check that all build dependencies are present before invoking cmake. This will catch missing dependencies and typos in the dependencies

[2013-07-10 20:55] dirk-thomas commented on #466
How would you suggest that should be done?

[2013-07-10 21:16] ahendrix commented on #466
While catkin traverses the package.xml files, it should collect package names and dependencies, and then try to resolve all of those dependencies, first from the installed packages, and then using rosdep.

[2013-07-10 21:17] wjwwood commented on #466
I think what @dirk-thomas meant to say is, that when you invoke "catkin" via `cmake` there is no opportunity to do this.

You _could_ have the `catkin_make` script check this, but it would be really slow, because you have to ask `rosdep` about each entry. You can essentially do this check like this:

[code]

That command will try to install any missing dependencies (catkin or otherwise), but it wi

[2013-07-11 01:49] jack-oquin opened #467 "documentation: recommend "if (CATKIN_ENABLE_TESTING)" for unit tests"

[2013-07-11 14:45] jack-oquin commented on #437
This task completed, but see also: #467

[2013-07-11 14:45] #437 closed, assigned to jack-oquin

[2013-07-11 16:17] jack-oquin commented on #438
The second-level sections needed some reorgainzation, too:
- Moved from "User Guide" to "Advanced Users Guide":
  - "How to build the docs"
-  Moved from "Index" to "User Guide":
  - "Installation"
-  Moved from "Advanced Users Guide" to "User Guide":
  - "Variables"
  - "Glossary"

[2013-07-11 19:08] #438 closed, assigned to jack-oquin

[2013-07-11 20:07] HWiese1980 opened #469 "catkin_create_pkg should not create empty required folders -> incompatible with git"
_catkin_create_pkg_ should not leave empty folders in package directories, that is it should at least create an empty dummy file. Some folders (like the include folder) seem to be required by _catkin_make_ but don't get added to a git repository since _git_ doesn't know how to handle empty folders. If you intend to manage revisions of a catkin workspace through git you end up having to create the

[2013-07-11 20:36] dirk-thomas commented on #469
Moved to the repo which provides `catkin_create_pkg`.

[2013-07-11 20:36] #469 closed, assigned to nobody

[2013-07-12 20:58] tfoote opened #471 "catkin_prepare_release should warn and not push if there are local changes"
I know of several times when people run the changelog scripts then catkin_prepare_release which changes the package.xmls and commits them and creates tags, but doesn't touch the uncommitted changelogs.

It would be really great if it would error if there are local changes, possibly even untracked files.  And have an option to override that check if you are doing something odd intentionally.

[2013-07-12 21:16] dirk-thomas opened #472 "find_package(catkin) could warn about version being different than specified version dependency in package.xml for components"

[2013-07-12 21:55] #472 closed, assigned to dirk-thomas

[2013-07-12 21:56] dirk-thomas commented on #466
I will mark this as _wontfix_ since I don't see a way to perform this check beyond what it currently does with native CMake find_package().

[2013-07-12 21:56] #466 closed, assigned to nobody

[2013-07-12 22:16] dirk-thomas commented on #471
It should error out if there are local modifications to changelog files and/or package.xml files.

It should warn if other files have modifications or if there are untracked files.

[2013-07-13 19:39] #471 closed, assigned to dirk-thomas

[2013-07-13 19:41] dirk-thomas commented on #471
@tfoote @wjwwood Please try the latest version of `catkin_prepare_release`. If there are no issues or feedback I would like to release _catkin_ to use the weekend for the rebuild cycle.

[2013-07-13 20:25] wjwwood commented on #471
The last quote in this line is still blue:

[code]

[2013-07-13 20:28] wjwwood commented on #471
It's not exactly how I would format the output, but this looks fine to me.

At some point we should come up with some output formatting and color theme guidelines, so that all the tools can be consistent looking.

[2013-07-15 18:08] wjwwood opened #473 "Refuse or strongly warn when releasing package with capital letters"
See: https://github.com/ros-infrastructure/bloom/issues/191

Soon, bloom will refuse to release repositories with packages which have capital letters in the names, because it violates the ROS naming guidelines and more importantly the Debian guidelines. I considered that we could automatically lowercase the names, but then we might run into problems on systems without case sensitive filesystems.

[2013-07-15 22:38] #473 closed, assigned to dirk-thomas

[2013-07-16 22:55] davetcoleman opened #475 "catkin_generate_changelog should auto-open changelogs for editing"
Similar to how `git commit -a` will open your EDITOR if you don't give it a `-m ""` message. It should maybe open these changelogs sequentially for every package inside the repo. Just an idea...

[2013-07-16 22:56] dirk-thomas commented on #475
Please reopen against _catkin_pkg_ which provides the `catkin_generate_changelog` script.

[2013-07-16 22:56] #475 closed, assigned to nobody

[2013-07-16 23:55] jonbinney opened #476 "catkin_make barfs on non-ascii characters"
When running cmake causes a non-ascii character to be output to stdout, catkin_make crashes.

This problem seems to have been reintroduced with this commit:
https://github.com/ros/catkin/commit/22ce2ba93ad33ec22d8380373e7403f69d383465

On line 171: https://github.com/ros/catkin/commit/22ce2ba93ad33ec22d8380373e7403f69d383465#L1L171 the default unicode encoding seems to be 'ascii', which means it w

[2013-07-17 00:04] jonbinney commented on #476
To reproduce, create a basic catkin package in a new workspace:

[code]

add the following line to the cmakelists:

[code]

then run `catkin_make`

[2013-07-17 00:07] jonbinney commented on #476
Interestingly, it works fine if you use the --no-color option. Also works fine on groovy, which is confusing since it appears that the same version of catkin is released on both groovy and hydro.

[2013-07-17 00:17] jonbinney commented on #476
To be clear, I'm only seeing this issue on hydro

[2013-07-17 00:24] dirk-thomas commented on #476
Which versions are you using on Groovy and Hydro?

[2013-07-17 00:25] jonbinney commented on #476
[code]

[2013-07-17 01:07] dirk-thomas commented on #476
Do you have a custom catkin version in one of your workspace (groovy or hydro)?

[2013-07-17 01:12] jonbinney commented on #476
Nope. I made an empty workspace (following the instructions i posted above) and saw the same error. The only non-debian package in my workspace was foo, the one i created. In that same workspace, i've double checked that it is using the right catkin python code:

[code]

[2013-07-17 01:18] dirk-thomas commented on #476
Well, but something must be different. Is the package which is triggering the exception in both workspace and also equal or is the Groovy and Hydro version of the package different?

[2013-07-17 01:20] tfoote commented on #476
@wjwwood

[2013-07-17 01:20] wjwwood commented on #476
@wjwwood

[2013-07-17 01:22] jonbinney commented on #476
Its the package which i describe above (in second comment on this issue). It's a completely new catkin package, which i've added exactly one line to the CMakeLists.txt

[2013-07-17 01:47] dirk-thomas commented on #476
I will commit a fix later - the bug in the code is obvious.

But I would still like to know who you get different behavior while running the same version. If you do a pure `cmake` invocation on both workspaces do you see the special character in both cases in the console output?

[2013-07-17 02:01] jonbinney commented on #476
OK, actually i realized that i do see the same issue on both groovy and hydro. The reason i didn't see it on groovy before is that i forgot to remove the build and devel directories, and so it wasn't actually re-running cmake; just make.

[2013-07-17 02:07] #476 closed, assigned to dirk-thomas

[2013-07-17 02:08] dirk-thomas commented on #476
Thanks for clarifying.

The fix is checked in but don't expect a release very soon since _catkin_ has just been released and the effort of rebuilding stuff is pretty high. Until then you can just checkout catkin into your workspace which has the issue.

[2013-07-17 02:18] jonbinney commented on #476
Thanks!

[2013-07-17 17:30] piyushk opened #477 "conflict between same target names from different packages"
I just tried to compile gazebo_ros_pkgs and hokuyo_node in the same ws. gazebo_plugins contains a target called hokuyo_node, which conflicts with the one present in the hokuyo_node package:

[code]

I am not sure if this is a regression or not. I believe it should be allowed.

[2013-07-17 17:36] dirk-thomas commented on #477
For `catkin_make` all packages share the same namespace regarding target names since the whole building uses a single CMake invocation. Please fill a ticket against https://github.com/ros-simulation/gazebo_ros_pkgs.

In the meantime you can use `catkin_make_isolated` which will run CMake on each package separately (but will be significantly slower).

[2013-07-17 17:36] #477 closed, assigned to nobody

[2013-07-17 19:16] tfoote opened #478 "catkin_prepare_release should assert buildtype catkin"
It's not guarenteed to work for non catkin packages.  If it's a straight cmake or python package the version will be declared elsewhere and not be incremented correctly.

[2013-07-18 02:33] ahendrix opened #479 "setting CMAKE_BUILD_TYPE for builds on top of debs causes strange crashes."
I've been playing with CMAKE_BUILD_TYPE while building some of my controllers, and I've discovered that setting CMAKE_BUILD_TYPE=Release or CMAKE_BUILD_TYPE=MinSizeRel while building on top of debs causes strange crashes at runtime, usually when multiple threads are involved.

The Release and MinSizeRel both set optimization flags; -O3 and -Os respectively, along with a no-debug flag -DNDEBUG.

Co

[2013-07-18 16:58] piyushk opened #480 "add_executable places targets in build space if called before catkin_package"
This is a bit strange, since `add_library` works correctly. I am not sure if this is a bug or not, but it would be nice for the two calls to be order independent.

[ros-sig-buildsystem thread](https://groups.google.com/forum/#!topic/ros-sig-buildsystem/ugshkzdPT0Y)
Downstream issue: https://github.com/ros-infrastructure/catkinize/issues/18

[2013-07-18 17:11] dirk-thomas commented on #480
It is not possible to make the commands order independent since `catkin_package()` defines where executables generated by `add_executable()` are placed.

[2013-07-18 17:11] #480 closed, assigned to nobody

[2013-07-18 17:53] jbohren commented on #480
More discussion here: https://groups.google.com/forum/#!topic/ros-sig-buildsystem/sIWPA2A85Ks

[2013-07-18 22:02] jonbinney commented on #455
@tlau, have you ever seen this outside of a tmux session? Maybe tmux is doing something funky with environment variables?

[2013-07-18 22:04] tlau commented on #455
I don't know, I never build outside of tmux!  What a strange thought -- I would not expect tmux to muck with envvars, but it's a possibility.

I've seen this crop up several times since we first reported it, but every time I try to rerun catkin_make to reproduce the problem, it corrects itself. I still have no idea what could be causing it.

[2013-07-18 22:20] jonbinney commented on #455
I think that tmux does some funny stuff because it has to reconcile environment variables from several sources:
- the pane you were in before you created the current pane
- the parent process when you created the tmux session
- the parent process when you attached to the tmux sessions

Not sure what logic it uses for this.

[2013-07-18 22:26] jonbinney commented on #455
@baalexander and @ablasdel think they've narrowed it down to the case where your .bashrc sources some ros stuff, and then you run tmux (so the parent process has ROS environment vars), and then you do catkin_make inside of tmux.

Also it looks like the turtlebots are sourcing /opt/ros/groovy/setup.sh twice, once through some scripts in /etc, and again directly:

[code]

After commenting these out

[2013-07-18 22:27] jonbinney commented on #455
I think this issue can probably be closed, since circumstantial evidence points to it not being a catkin bug.

[2013-07-18 22:43] #455 closed, assigned to nobody

[2013-07-18 22:46] tlau commented on #455
Very cool. Good find, @baalexander and @ablasdel. It'd be nice to understand how it's happening though.

[2013-07-18 22:51] jonbinney commented on #455
I think figuring out what exactly is happening would involve digging into how tmux works

[2013-07-18 23:02] tlau commented on #455
Well, I meant at least understanding what differences exist in the environment variables under the two conditions so we know what is getting passed to catkin_make that causes it to do the wrong thing. Then at least we'd know what to check for, other than "don't run this exact series of commands".

[2013-07-18 23:52] jihoonl opened #481 "catkin_make install vs catkin_make_isolate --install"
I just noticed that creating install space between catkin_make and catkin_make_isolate

whereas

Should they be the same?

[2013-07-19 15:55] tkruse commented on #153
Also see:

More discussion on checking catkin packages for various flaws
https://groups.google.com/d/msg/ros-sig-buildsystem/HBHSTWx8lBo/GkFR17jwUyAJ

Related discussion:
https://groups.google.com/forum/?fromgroups=#!topic/ros-sig-buildsystem/sIWPA2A85Ks

Script prototype parsing catkin package manifest and CmakeLists.txt, can be extended for various checks
https://github.com/tkruse/catkin_pkg/blo

[2013-07-19 15:58] jbohren commented on #153
+1

[2013-07-20 03:52] k-okada opened #483 "rosbuild_add_rostest does not work in catkin 0.5.68"
I'm still using rosbuild in groovy and use rosbuild_add_rostest.
This worked until catkin 0.5.67, but not worked on 0.5.68.

[code]

[code]

[code]

[2013-07-20 03:56] dirk-thomas commented on #483
Please retry with the latest available version of catkin (currently 0.5.70).

[2013-07-20 03:57] k-okada commented on #483
it fails on 0.5.70 too,

[code]

[2013-07-20 04:02] dirk-thomas commented on #483
Have you done a clean rebuild (removing the CMakeCache file or wiped the build folder)?

[2013-07-20 04:04] k-okada commented on #483
yes, I clean up bulid folder before `make test`. I believe this removes cache files for cmake

[code]

[2013-07-20 04:19] dirk-thomas commented on #483
I could not find the repository containing rtmros_common/hoge. Can you please provide the repository information in order to reproduce the problem?

[2013-07-20 04:42] k-okada commented on #483
the repository is created for quick test.

create empty package

[code]

and add `rosbuild_add_rostest(hoge.launch)` in the CMakeLists.txt and create empty test launch file

[code]

[2013-07-20 13:15] tfoote commented on #483
This looks like expected behavior.  If you do not have a test program inside the launch file it will not create a test result, which is exactly what the error is.

[2013-07-20 18:29] dirk-thomas commented on #483
The "empty" launch file is not the actual problem - just an (probably bad) example. It also happens with other launch files.

[2013-07-20 21:47] #483 closed, assigned to nobody

[2013-07-22 15:24] mikepurvis opened #484 "Override CMAKE_TOOLCHAIN_FILE in package"
Hi,

I'm attempting to use [arduino-cmake](https://github.com/queezythegreat/arduino-cmake) to build some rosserial firmware images, as was once possible in rosbuild.

Using arduino-cmake is pretty simple:

[code]

I've tried this in the package's CMakeLists, and also moved it all into a special "firmware" dir and used add_subdirectory(), but the macro doesn't seem to get set up properly in either

[2013-07-22 16:04] tfoote commented on #484
Usually you set it on the command line at compile time.

There's an example of setting it here for android: https://github.com/osrf/rba_scripts/blob/master/build_rosbag.sh

Are you trying to do this for just one package in a workspace. I'm not sure that will work.

[2013-07-22 17:39] mikepurvis commented on #484
Yes, this package is generating firmware for an AVR microcontroller, so I want a separate toolchain for just the package.

If there's no provision in CMake for cross-compiling a portion of a project, I should be able to use custom_command/custom_target to wrap a cmake call which builds the firmware.

[2013-07-22 17:49] dirk-thomas commented on #484
I am not sure if it is a good idea to even try building individual parts of a CMake invocation with different toolchains. But I am pretty certain that catkin will not provide any support doing that.

I would suggest building that specific package with its own CMake invocation. Even if it is possible to nest this invocation as a custom command in another CMake file I am not sure if that is a good i

[2013-07-22 17:49] #484 closed, assigned to nobody

[2013-07-22 23:43] ablasdel opened #485 "Tab completion function for catkin_make seems to be broken"
When attempting a tab complete I get "_init_completion: command not found"
Is it supposed to be tab completing the possible inputs?

[2013-07-23 00:00] dirk-thomas commented on #485
Yes it should and it does for me.

Can you please describe which version of catkin you have installed and how you source the ROS environment?

[2013-07-23 00:12] ablasdel commented on #485
Yes I am sourcing /opt/ros/groovy/setup.bash
before building any catkin package

dpkg -l -> ii  ros-groovy-catkin                           0.5.71-0precise-20130721-1548-+0000                                     Low-level build system macros and infrastructure for ROS.

[2013-07-23 00:23] dirk-thomas commented on #485
It might be related to the versions of your installed packages of `bash` or `bash-completion`. Can you check those?

Which version of Ubuntu are you running?

[2013-07-23 00:25] ablasdel commented on #485
ii  bash                                        4.2-2ubuntu2.1                                                          GNU Bourne Again SHell
ii  bash-completion                             1:1.3-1ubuntu8.1                                                        programmable completion for the bash shell

a dist-upgrade doesn't seem to find anything though

as for version:
Distributor ID: Ubuntu
D

[2013-07-23 01:21] dirk-thomas commented on #485
The reason seems to be the pretty old version of `bash-completion`. Quantal ships with 2.0 and your version does not contain that function (http://anonscm.debian.org/gitweb/?p=bash-completion/bash-completion.git;a=commitdiff;h=32dbe76784acc39b17ee9ca7bc21c28f4f2b23b5).

You could try to remove the function call from `/opt/ros/groovy/etc/catkin/profile.d/05.catkin_make.bash` and see if that help.

[2013-07-23 01:26] ablasdel commented on #485
commenting out the "_init_completion -s || return" line solved the problem for me

[2013-07-24 22:22] ablasdel commented on #485
If I source the setup.bash in devel the problem comes back since we are using the generated one.

Would using something like this work?

[code]

[2013-07-24 23:27] jack-oquin commented on #447
With this patch, I can do this and have the tags generated correctly:

[code]

[2013-07-24 23:32] dirk-thomas commented on #447
Just out of curiousity: do you have more than one package in a repo or why do you prefer the additional prefix?

[2013-07-24 23:44] jack-oquin commented on #447
More than one package: yes. But, it's really the repo name that is used as a tag prefix.

As to why: it's mostly a matter of longstanding habit. I believe rosrelease did it that way. Bloom supports that style, but catkin_prepare_release does not.

[2013-07-25 00:10] jack-oquin commented on #447
With SVN repositories, which do contain multiple collections of packages, it is probably necessary.

[2013-07-25 00:27] dirk-thomas commented on #447
For SVN there no real difference regarding tagging:
- if it uses the structure `package / trunk|branches|tags` it is fine to just tag with the version number.
- if it uses the structure `trunk|branches|tags / package` it would require a prefix but would also tag _too much_ since the tag will include everything.

[2013-07-25 00:35] jack-oquin commented on #447
Maybe it's not _necessary_, but there still exist older repositories from pre-catkin days using that tag syntax. The rosrelease tool created them.

Why are you so reluctant to support it?

[2013-07-25 00:40] dirk-thomas commented on #447
I wrote:

[code]

I am not reluctant to support it at all. As soon as the PR is ready it will be merged immediately. I asked these questions only to understand why people want to do that in order to understand their use case better.

[2013-07-25 00:51] jack-oquin commented on #447
I see.

The main reason is that old repositories used a certain tag style, and it's convenient not to have to change it.

[2013-07-25 02:16] jack-oquin opened #489 "catkin_prepare_release: not updating change log correctly"
Preparing a package currently at 0.3.0 for a 0.4.0 release. There _is_ a CHANGELOG.rst with a **0.4.0 (forthcoming)** entry:

[code]

Running `catkin_tag_changelog` works, however:

[code]

[2013-07-25 02:24] dirk-thomas commented on #489
`catkin_prepare_release` is not supposed to touch the changelog files and only verifies that the source repo is in releasable state.

`catkin_generate_changelog` and `catkin_tag_changelog` are the right tools to use for that.

What behavior do you expect?

[2013-07-25 02:37] jack-oquin commented on #489
I expected it to fill in the date, just like `catkin_tag_changelog` did.

[2013-07-25 17:49] dirk-thomas commented on #485
Can you please verify that replacing the line

[code]

with this

[code]

will make it work for you with older bash completion? Please test completion of options starting with `-` as well as target names (after having the workspace build at least once before).

[2013-07-25 17:56] ablasdel commented on #485
Looks like it functions correctly. both `catkin_make *tab*` and `catkin_make -*tab*` give me completion lists with this fix.

[2013-07-25 18:10] #485 closed, assigned to dirk-thomas

[2013-07-25 21:42] dirk-thomas opened #490 "make installed code relocatable"
Installed code should not (or as few as possible) contain absolute path information. Currently a lot of code contains the `CMAKE_INSTALL_PREFIX`.

One goal would be to compile a workspace with `DESTDIR=/tmp/destdir catkin_make_isolated --install` and be able to build another workspace on top of that.
At best it should be possible to run everything from the installed workspace and run the tests of

[2013-07-29 16:45] herbrechtsmeier commented on #490
@dirk-thomas Please correct the `dynamic_reconfigure_BASE_DIR` in [extras.cmake.em](/ros/dynamic_reconfigure/blob/master/cmake/extras.cmake.em) of dynamic_reconfigure also.

[2013-07-29 18:20] wjwwood commented on #481
They cannot be the same because of the way `catkin_make_isolated` works.

`catkin_make` is passing the `install` argument as a target name to `make`. `catkin_make_isolated` has to do special things when dealing with non-catkin packages, so it cannot just pass the make target along like that. Therefore, there is an `--install` option which does the right thing for all catkin and non-catkin packages

[2013-07-29 18:20] #481 closed, assigned to nobody

[2013-07-29 18:27] wjwwood commented on #160
This is not a caktin bug, I posted a response on answers.ros.org.

[2013-07-29 18:27] #160 closed, assigned to nobody

[2013-07-29 18:35] wjwwood commented on #447
Can this not be closed?

[2013-07-29 18:43] wjwwood opened #491 "documentation: clarify rules for using DEPENDS"
See:

https://github.com/ros-visualization/rviz/pull/661

[2013-07-29 18:47] #447 closed, assigned to nobody

[2013-07-29 20:13] wjwwood opened #492 "migrate eigen-config.cmake to the new cmake_modules package"
Also we should convert it to a `FindEigen.cmake` module.

This will involve finding and fixing anyone who uses the existing catkin provided CMake config for Eigen.

[2013-07-29 20:13] wjwwood commented on #492
https://github.com/ros/cmake_modules

[2013-07-30 01:19] dirk-thomas commented on #489
I would rather not change the behavior of `catkin_prepare_release`. It already warns the user and tells explicitly which commands to run for dealing with changelogs. I think implicitly doing a `catkin_tag_changelog` or even a `catkin_generate_changelog` is not a good idea.

@tfoote @wjwwood What is your opinion on this?

[2013-07-30 01:23] jack-oquin commented on #489
If this is _intended_ not to work the way users will expect, then it's not a bug, but rather an enhancement request.

[2013-07-30 01:37] dirk-thomas commented on #489
The idea is that `catkin_prepare_release` _automates_ the task necessary to perform a release of a source repo.

But _changelogs_ should not be generated automatically without manual review of the maintainer. Therefore it was intentional that they are handled by a _different_ tool which is executed _beforehand_.

Depending on the feedback we can either maintain the separation or drop the extra ste

[2013-07-30 01:58] dirk-thomas commented on #461
Closing due to lack of activity and since pending stuff is not at all related to this issues subject.

[2013-07-30 01:58] #461 closed, assigned to nobody

[2013-07-30 02:23] tfoote commented on #489
There is a strong parallel between catkin_prepare_release and catkin_tag_changelog, both step through the packages and change the version number.

I agree that we should keep encouraging updating the changelogs independently and shouldn't automate the changelog generation.  So a good compromise might be to have prepare release do the tagging for both package.xml and changelogs, but error/require o

[2013-07-30 17:56] dirk-thomas opened #493 "move non-catkin related documentation where it belongs"
Documentation which is not related to catkin should not be documented in this repo (e.g. dynamic reconfigure, rostest). Instead in should be moved to the respective packages which provide this functionality.

This external docs can than be referenced to provide the user with useful related docs.

[2013-07-31 08:48] herbrechtsmeier commented on #490
@dirk-thomas I have test the patches and they work. Nevertheless I would proposed to replace `${@PROJECT_NAME@_DIR}/../../../@(CATKIN_PACKAGE_BIN_DESTINATION)` with a new global catkin variable `${@PROJECT_NAME@_BIN_DIR}` which could be overwrite (passed) by the build environment to point to the native system root. Otherwise we get problems when somebody use the path for binaries instead of python

[2013-07-31 20:30] dirk-thomas commented on #490
I am glad to hear that it works for your use case.

Regarding the variable: this variable should not be overwritten - not even for cross compilation. If a package requires compiled binaries to build itself / downstream stuff it needs to reference that using a separate variable pointing to a different directory. E.g. in the case where a package uses both (a Python script as well as a compiled binar

[2013-08-01 08:03] herbrechtsmeier commented on #490
In that case the binaries need to use the find_binary function to get the real path of the binary.

As the long time goal it would be nice if catkin and the CMake extra files always use the find_binary function to get the real path of all executed scripts and binaries. This enables the cross build environment to use all binaries and as well scripts from the native system root if it doesn't install

[2013-08-03 00:35] dirk-thomas commented on #490
For packages which do not generate compiled binaries it can stay the way as it is with these patches. I don't see a reason to change that even in the long term.

For compiled binaries we should indeed use the find_\* CMake functions. But that should handled by the first package which actually requires that. Currently no (wet) package requires compiled binaries during the build (as far as I know) a

[2013-08-03 09:33] herbrechtsmeier commented on #490
As long as the build machine (native system root) and cross compiled machine (cross system root) use the same python version it doesn't matter which python script is used and its a design decision.

@dirk-thomas thanks for your work. We will update our recipes in meta-ros after you have apply the different patches.

[2013-08-05 18:06] dirk-thomas commented on #490
All repos listed in this ticket has been updated to be relocatable - therefore closing this ticket.

In case other repos use `CMAKE_INSTALL_PREFIX` in the CMake extra files please fill further tickets against these repos directly.

[2013-08-05 18:06] #490 closed, assigned to dirk-thomas

[2013-08-05 23:42] dirk-thomas commented on #478
Rather than asserting the script should warn the user about it but allow him to override it and continue with the release.

[2013-08-05 23:42] #478 closed, assigned to dirk-thomas

[2013-08-06 00:44] #489 closed, assigned to dirk-thomas

[2013-08-06 00:54] jack-oquin opened #495 "documentation: add how-to example of using add_rostest_gtest()"
See: ros/ros_comm#258

[2013-08-06 01:06] dirk-thomas commented on #495
This should not be put into the catkin doc since it is not related to catkin at all. That should also be the case for other stuff (#493). Instead the how-to should reference package specific documentation.

[2013-08-06 08:44] tkruse opened #496 "c_m_i error reports bad make folder"
To reproduce I used a hydro build from source, manipulated tf sources, and got this:

[code]

The actual error is not important, but the "Reproduce" message should display

[code]

instead of

[code]

this using catkin_make_isolated, and catkin 0.5.71

[2013-08-06 16:19] #496 closed, assigned to dirk-thomas

[2013-08-07 10:04] sotte commented on #153
I'm currently using catkinize a lot and something like catkin lint would be great!

[2013-08-07 10:06] sotte commented on #366
+1
This should be cleaned up.

[2013-08-07 10:19] sotte opened #497 "Inconsistency of CMake user guide: order of the statements"
The [catkin user guide](http://ros.org/doc/api/catkin/html/user_guide/standards.html) mentions:

"The following line should always appear like this in this order without other commands in between:"

[code]

In reality it's not that simple. Basically every project has some `set()`, `add_message_files()`, `add_service_files()`, etc. between the `find_package()`s and the `catkin_package()`.

The user

[2013-08-07 15:11] kyonifer opened #499 "Support DESTDIR make install variable in catkin_make for macports and other chroot build systems"
Macports requires files to be staged in an install dir before being copied into the actual installation prefix. Unfortunately, catkin_make_isolated doesn't support passing flags to make install, which would be the usual solution to this problem via DESTDIR.

Simply appending a DESTDIR flag to the "make install" invocations in catkin/python/catkin/builder.py also doesnt work, because with --install

[2013-08-07 17:17] dirk-thomas commented on #153
The ticket is marked with the milestone "untargeted" since currently nobody plans to look into this. So without external contributions please don't expect any progress on this feature.

[2013-08-07 17:23] #497 closed, assigned to dirk-thomas

[2013-08-07 17:27] dirk-thomas commented on #499
Support for building in isolation with DESTDIR has already been added recently (8067802506d0b66926b665ee301ca6ce77ab3deb). Please try the latest version from source and check if that works for your use case. See #490 for more information.

[2013-08-07 17:27] #499 closed, assigned to nobody

[2013-08-07 17:40] jack-oquin commented on #153
If there are enough requests, maybe someone will decide to work on it.

[2013-08-07 17:54] tfoote commented on #153
We've been looking at trying out [Bountysource](https://www.bountysource.com)

This might be a good test case: https://www.bountysource.com/issues/741065-catkin-lint

[2013-08-07 18:01] kyonifer commented on #499
That looks good, I missed that commit.

It looks like build_cmake_package() is still writing env.sh to new_env_path on line 464, and new_env_path is set to install_target which resolves to "installspace if install else develspace". new_setup_path is hard-coded to install_target in there too. Is there any way to have it not install anything to installspace?

[2013-08-07 18:08] dirk-thomas commented on #499
Sorry, but I don't understand your question. catkin_make_isolated must always install each package. Without installation the next package can not find/rely on the package before.

[2013-08-07 18:14] jbohren commented on #153
+$5

[2013-08-07 18:22] jack-oquin commented on #153
Bountysource is an interesting and innovative approach.

But, let's not lose sight of the fact that catkin lint is not just a one-shot job. To useful, it will require on-going maintenance and enhancements. It may become unwieldy, paying for each upgrade separately.

[2013-08-07 18:35] kyonifer commented on #499
Macports requires files to be installed to a destdir, which is not the actual install prefix but somewhere buried in the build tree. The reason is so that it can manually register/activate files into the install prefix and thereby track what files are there in case they need to be uninstalled.

The issue then is if something is written to the install prefix manually it will be a permissions error.

[2013-08-07 22:33] dirk-thomas commented on #499
With latest changes of catkin from the GitHub repo and setting DESTDIR there should be no files written to the install prefix but only to the dest dir. If that is not the case for you please describe the exact steps/commands to reproduce it.

[2013-08-08 03:13] kyonifer commented on #499
Ok sounds great, I'll give it a go as soon as I'm able (can't get latest from git to compile via macports for unrelated reasons atm).

[2013-08-08 06:53] sotte commented on #497
Much clearer, thanks!

[2013-08-11 12:52] vrabaud commented on #366
BTW, catkin_sphinx has no CMake macro (like catkin_doxygen has), hence no target and the build has to be manual (which is not good when you are building intersphinx documentation). FYI, there used to be a catkin_sphinx macro. I still am using the original version which is still in ecto:
https://github.com/plasmodic/ecto/blob/master/cmake/doc.cmake

[2013-08-13 14:51] severin-lemaignan opened #500 "catkin do not install python packages"
According to [catkin documentation](http://ros.org/doc/groovy/api/catkin/html/user_guide/setup_dot_py.html) (and real testing :-) ), python modules declared in a `setup.py` are not installed. Instead a relay package is created, that import the original Python package _from the source prefix_. Unless I missing something, this behaviour prevent installation of Python packages in the install prefix,

[2013-08-13 17:16] wjwwood commented on #500
This is only done in the `devel` space. When you invoke the install target the python package is installed correctly.

[2013-08-13 17:16] #500 closed, assigned to nobody

[2013-08-13 17:19] wjwwood commented on #500
The `devel` space is designed to work like this so you can have the contents of the `devel` folder "look like" an installation of your package, but with references to your source space. The benefit of this is that you can use the devel space like it was installed, but you can iterate on Python more quickly by changing the code in the source space.

Once installed, the code has no reference to the

[2013-08-14 07:27] severin-lemaignan commented on #500
Sorry, I've not been accurate enough in my issue description.

Here are the steps I've followed:

[code]

Doing so (which looks for me like 'installing') generate a relay Python package that points to my source directory.
I can reliably reproduce the error.

More troubling, however, is that the faulty behaviour only occurs on one (virtual) machine, not on my main dev machine. Both use the same Gro

[2013-08-14 17:08] dirk-thomas commented on #500
Could you please post a link to the sources of your package?

[2013-08-14 17:10] wjwwood commented on #500
I cannot reproduce this with this package:

https://github.com/wjwwood/catkin_demos/tree/master/python_package/foo

This is what I did:

[code]

[2013-08-14 18:54] severin-lemaignan commented on #500
@dirk-thomas : I can reproduce the error with the package 'nao_driver' in the 'nao_robot' stack:
https://github.com/severin-lemaignan/nao_robot

@wjwwood As I mentionned before, I do reproduce the error only on one machine (the Nao virtual machine), not on the other one (my dev laptop). So it's likely that the issue is related to an environment configuration issue. I'm just not sure how to debug t

[2013-08-14 19:03] wjwwood commented on #500
https://github.com/severin-lemaignan/nao_robot/tree/devel

[2013-08-14 19:08] dirk-thomas commented on #500
Are you sure that you use the `devel` branch of the repo?

If it is a problem in your workflow it might help if you post the full command sequence starting with a `git clone` of the repo and also include some `ls` / `cat` of your folders (src, build, devel).

[2013-08-14 20:32] severin-lemaignan commented on #500
Sorry, yes, the `devel` branch. We've just merged several branches over 3 repos, and I got a bit confused...

Ok, after recompiling the packages from a clean GIT clone, I do not have the issue anymore: as I understand it, for some reason, `make install` would not overwrite a previous (incorrect) `nao_driver/__init__.py` (typically because the file's timestamp was somewhere in the future due to tim

[2013-08-14 20:34] wjwwood commented on #500
No problem, glad it is working now.

[2013-08-17 00:13] dirk-thomas commented on #495
Closing this was to fast. While rostest provides docs about the usage the how-to doc of catkin should point to that.

[2013-08-17 00:23] #495 closed, assigned to dirk-thomas

[2013-08-17 00:37] #467 closed, assigned to dirk-thomas

[2013-08-17 00:39] dirk-thomas commented on #467
I wanted to push this doc out so went ahead and committed some changes. Please feel free to provide more feedback and enhancements to the docs.

[2013-08-17 02:39] jack-oquin commented on #467
Apparently, you chose to throw away some of my work.

Is there some explanation for what you changed, and why?

[2013-08-17 17:47] dirk-thomas commented on #467
If you refer to commit jack-oquin/catkin@7fe6665b0754ae8bca6d7824272c62aa2bd69993 I did not "throw away" any of your work. I made changes to exactly the same files and locations (basically to all test-related commands). But in some cases I added a more descriptive text since I thought it would be necessary to be more verbose (e.g. in the index file as well as for rostests). Regarding the reformatt

[2013-08-27 12:37] Arrakis-10191 commented on #160
@wjwwood, you closed this ticket but you have not explained why ROS_BOOST_VERSION is not performing as it should be.  If it is not a catkin bug, can you please state how you came to this conclusion?

[2013-08-27 18:39] wjwwood commented on #160
@Arrakis-10191 `ROS_BOOST_VERSION` is not part of catkin, if you think it is still an issue please open an issue against `rosboost_cfg`, which is in the `ros` repository:

https://github.com/ros/ros/tree/groovy-devel/tools/rosboost_cfg

As I mentioned in the post on ros answers, I think the reason that your getting the wrong version of Boost linked is that `rosboost_cfg` is not using the `Boost_LI

[2013-08-28 22:14] Arrakis-10191 commented on #160
@wjwwood  Thanks a lot

[2013-08-29 16:58] jack-oquin commented on #491
I just noticed that this issue is assigned to me. I am happy to work on it, but could use some guidance figuring out what should be changed and where.

@dirk-thomas:
@dgossow:

[2013-08-29 18:42] wjwwood commented on #491
I don't remember assigning this to you, but then again I don't remember making the ticket either...

[2013-08-29 20:44] jack-oquin commented on #491
That happens to me all the time. But, I'm a bit older than you are. :smile:

[2013-09-04 18:42] drdas opened #501 "Error in C++ message auto generation in ROS groovy"
If a comment description line in a .msg file (starting with #) ends in a a special character such as ( ),
extra newlines are added in the generated header file which gives compiler errors when included.

[2013-09-04 18:48] tfoote commented on #501
Please file this against gencpp https://github.com/ros/gencpp/issues/new

And please include an example message file with the error.  And also the generated file where you think there's a problem.  As well as the compiler warnings.

[2013-09-04 18:48] #501 closed, assigned to nobody

[2013-09-06 03:54] ftifpt opened #502 "Failed to process package 'qt_gui_cpp"
When i run command in osx: ./src/catkin/bin/catkin_make_isolated --install: i have a problem:

make[3]: **\* [siplibqt_gui_cpp_sipqt_gui_cppRosPluginlibPluginProvider_ForPlugins.o] Error 1
make[3]: **\* Waiting for unfinished jobs....
make[3]: **\* [siplibqt_gui_cpp_sipqt_gui_cppRosPluginlibPluginProvider_ForPluginProviders.o] Error 1
make[2]: **\* [/ros_catkin_ws/devel_isolated/qt_gui_cpp/lib/pyt

[2013-09-06 07:15] tfoote commented on #502
Please ask for help on http://answers.ros.org

PS you only copied the summary errors, the real errors are likely above what you copied and pasted.

[2013-09-06 07:15] #502 closed, assigned to nobody

[2013-09-06 07:24] dreuter opened #503 "Problems with german vowel mutations like äöü"
When a author/maintainer has a name with a vowel mutation catkin won't build, but throw an exception like:
'ascii' codec can't encode character u'\xf6' in position 60: ordinal not in range(128)

I'm not saying that using vowel mutations in a name would be a good idea, but I think the error thrown should be more informative e.g. the encoded string should be printed and give an error message which s

[2013-09-06 07:26] dreuter commented on #503
This problem does also occur with vowel mutations in descriptions.

[2013-09-06 08:17] meyerj opened #504 "Support multiple package names with catkin_make --pkg"
Would it be easily possible to extend the `catkin_make --pkg` command to support building multiple packages at once?

I am using a rosbuild workspace that overlays a catkin devel-space. In the meantime, there are quite a number of packages in the catkin workspace. I would like to be able to run something like

[code]

just to get the idea. Of course in this simple use case `catkin_make` would have

[2013-09-06 12:34] meyerj opened #505 "CATKIN_SETUP_DIR breaks chaining/switching workspaces"
I experienced the following problem that causes weird errors when chaining workspaces using rosws or switching between catkin workspaces without properly resetting the environment before.

The `setup.sh` files generated by catkin since 0.5.72 use the `CATKIN_SETUP_DIR` variable to find out to which workspace they belong and only use the absolute path as a default value. This variable influences th

[2013-09-06 14:12] meyerj opened #506 "cmake failures due to relative include dirs in pkg-config files and caches"
With the newest catkin version introduced in hydro (currently 0.5.73) I am getting the following cmake errors whenever cmake is run the **second** time in the same catkin workspace (e.g. if a CMakeLists.txt file has been changed):

[code]

The fmp_msgs is nothing special, just a standard message only package that has no include directories at all:

[code]

I guess the problem is that the cmake cac

[2013-09-06 14:25] meyerj commented on #506
Hmm, I cannot reproduce the cmake error anymore in a clean workspace. Nevertheless, it might be wrong if pkg-config reports a relative include directory on a fresh installation from the ROS Ubuntu repositories:

[code]

[2013-09-06 15:39] ftifpt commented on #502
thanks

[2013-09-06 18:17] wjwwood commented on #504
Not to invalidate this suggestion, but you should consider breaking up your workspaces if you find yourself needing to cherry pick packages to build in order to save time.

I'm not sure what technical road blocks there are, if any, for this feature, @dirk-thomas can likely comment to that.

[2013-09-06 18:18] wjwwood commented on #505
@dirk-thomas will probably respond on this.

[2013-09-11 22:06] kyonifer commented on #499
Unfortunately it looks like its still writing env.sh to the install-space. Here's the invocation (tcl script for macports, run in a directory that has groovy-desktop-full in it):

[code]

And the relevant part of the output:

[code]

In the ":info:build Command failed:" line you can see its being called with DESTDIR set to within the macports build hierarchy. The full log is 300k but I can paste i

[2013-09-13 00:28] dirk-thomas commented on #505
Can you please post a command sequence which can be executed to reproduce your scenario?

[2013-09-13 07:27] meyerj commented on #505
Here is an example scenario with a rosbuild workspace overlaying a catkin workspace overlaying `/opt/ros/hydro`:

[code]

The problem is not related to rosbuild/rosws only. The thing is that the first line sets the `CATKIN_SETUP_DIR` environment variable, which IMHO should be an internal variable and unset at the end of each `setup.sh` file. All future invocations of `setup.sh` seem to be no-ops t

[2013-09-13 18:14] #505 closed, assigned to dirk-thomas

[2013-09-13 18:16] dirk-thomas commented on #505
Thanks for the detailed report.

I was able to unset CATKIN_SETUP_DIR (now with a prefix for indicating that it is meant to be private). That also applied to other variable but they were cleanly overwritten every time - not like CATKIN_SETUP_DIR which was not set if already existing.

[2013-09-13 20:05] #504 closed, assigned to dirk-thomas

[2013-09-14 01:37] dirk-thomas commented on #499
I have committed a patch which fixes the issue for me.

But since your example is overly complex and does not contain all information (the used variables as well as the content of the workspace is unknown) I was unable to run your example. Can you please try it with a current checkout of catkin in your workspace and report back if that solves the issue for you, too?

[2013-09-15 20:57] eacousineau opened #509 "Add option to use symlinks for packages' python export paths"
While the `__init__py` `extend_path(...)` technique is cross-platform, it prevents IDEs such as PyDev or Spyderlib from easily parsing the packages to provide auto-completion. A non-cross-platform solution for this on Linux is to symlink direclty to the `src/` folder.
It would be nice to have some simple option to cause catkin to create symlinks, something equivalent to

[code]

Perhaps the option

[2013-09-16 06:34] dirk-thomas commented on #509
Since generated Python files are also dropped into the devel space (e.g. for messages) I don't see how that would work with symlinks.

[2013-09-16 17:18] wjwwood commented on #509
You would have to generate all of the files to devel space, then fill in around them using symlinks.

[2013-09-16 17:18] wjwwood commented on #509
It might also affect how the PYTHONPATH is setup.

[2013-09-16 17:19] wjwwood commented on #509
No probably not, since it currently points to devel space anyways.

[2013-09-16 17:20] wjwwood commented on #509
I think this would be a useful feature, we have also had trouble with autodoc systems not playing nice with this setup, and I think the symlinks would help here.

[2013-09-16 23:55] dirk-thomas commented on #503
Moved to catkin_pkg which is responsible of parsing the package.xml files: ros-infrastructure/catkin_pkg#63

[2013-09-16 23:55] #503 closed, assigned to nobody

[2013-09-17 16:47] eacousineau commented on #509
Ah, I did not think about how hard it would be to get things going with the '.msg' generated setup, @dirk-thomas.

We could create symlinks to individual files as @wjwwood mentioned. The only thing here is that during development, if you change the directory structure, you will have to re-run CMake every time, which reinvokes CMake for all packages in the workspace (at least,that's the behavior I'

[2013-09-17 18:30] wjwwood commented on #509
I think given the draw backs you mentioned above, it would be a nice feature to have (as long as the user understands that cmake needs to be run each time the folder structure updates), but should be off by default and optionally turned on.

[2013-09-17 19:23] dirk-thomas commented on #506
I could not reproduce your original issue either but the relative include path in the .pc file was definitely a regression of #490.

[2013-09-17 20:48] meyerj commented on #505
Related question on ROS answers: http://answers.ros.org/question/80231/cannot-build-rosbuild-workspace-on-top-of-catkin-workspace-in-hydro/

@dirk-thomas Can you give an estimate when this fix will be released in groovy/hydro?
Will existing setup files be overwritten on each cmake run?

[2013-09-17 21:28] #506 closed, assigned to dirk-thomas

[2013-09-19 00:24] dirk-thomas commented on #505
I just released catkin 0.5.74. The rebuild of all packages on the farm + syncing to the repos will take a while...

Yes, catkin will regenerate existing setup files when being invoked the next time.

[2013-09-19 17:19] eacousineau opened #510 "Putting CATKIN_BLACKLIST_PACKAGES in environment variable?"
I am interested in having CATKIN_BLACKLIST_PACKAGES default to the environment's value. If anyone would find this useful, I could submit a patch for this.

Otherwise, would it be simpler to make a wrapper for catkin_make, named something like `catkin_make_env`, that would pass this value (and possibly others) via command line?

[2013-09-19 18:20] wjwwood opened #511 "catkin_test_results cannot parse test results with ansi escape codes"
When running `catkin_test_results test_results` I get:

[code]

This is the file which gives the problem:

[code]

It looks like to me that the ANSI escape characters are causing the issue.

[2013-09-19 18:23] dirk-thomas commented on #511
`catkin_test_results` will only handle valid XML input. It should probably be fixed during generation of the xml output (which I thought should actually alread happen but seems to not catch this input).

[2013-09-19 18:50] wjwwood commented on #511
I am running on my Mac, perhaps the sanitization is not being done correctly on OS X, though I couldn't imagine how it would be different. I'll look into it.

[2013-09-19 22:00] wjwwood opened #512 "rostest output file name determined by sub folder in package"
rostest, via rosunit, generates the output file name based on the test name, but if the test file is in a subdirectory of the package, say `/path/to/package/build/test_file.xml`, then it also prepends the relative path to the name, separating with underscores. So a generated file that is normally called `rostest-test_rostest_foo.xml` will be called `rostest-build_test_rostest_foo.xml` if the catki

[2013-09-19 22:02] wjwwood commented on #512
Something else to consider, it may ultimately be a bug in rostest, see:

[code]

`run_tests.py` is explicitly passing `--results-filename test_rostest_demo.xml`, yet the output file name is different from that.

[2013-09-19 22:45] wjwwood commented on #511
When building out of source the file gets sanitized and this is no longer an issue. This probably means it only sanitizes files it expects to be there, but parses all xml files in the test_results folder?

See: #512

[2013-09-22 00:02] eacousineau commented on #509
That sounds good. Can I ask what problems y'all had with autodoc?

[2013-09-22 19:41] wjwwood commented on #509
@eacousineau basically the autodoc would extract information from the `__init__.py` from the source space, but would put the `__init__.py` from the devel space in as the "source code" when you clicked on "view source" for a function.

[2013-09-23 17:23] 130s opened #513 "catkin_prepare_release) Handle package paths beneath trunk in svn repository"
Same as asked [here](http://answers.ros.org/question/70054/catkin_prepare_release-fails-with-svn-upstream/), our team stores multiple packages in a single `svn` repository, by placing them BENEATH `/trunk` folder, which current `catkin_prepare_release` returns error with.

What about adding an option (eg. `--pkg`) to accept those packages under `/trunk`?

**Usecase-1**: releasing a package directl

[2013-09-23 18:10] dirk-thomas commented on #509
The doc job operates on the install space only now. Especially to contain all Python code - static as well as generated but not those relaying **init**.py files.

[2013-09-23 20:43] dirk-thomas commented on #513
You might consider restructuring your SVN repository so that each unit of release resides in its own trunk/brnaches/tags subfolder. The layout you currently use is not well supported by any of the tools in the chain and requires additional manual intervention which is otherwise not necessary. Just simply because it is not automatically possible to determine what the users layout is and what he wan

[2013-09-24 10:31] 130s commented on #513
Thanks for reviewing the plan. Then I'll start making a patch.

Good point. I got it.

I've taken a look at some of the existing `svn` repositories in ROS and these seem to have the same structure (ie. storing packages under `/trunk`). Putting aside the question if it's good or not, this new feature might be of use for those existing users.

https://code.ros.org/svn/ros/stacks/multimaster_experime

[2013-09-24 16:29] nkoenig opened #514 "Catkin installs setup files in bad locations"
Running `cmake ../; make; make install` installs setup files (setup.bash, setup.sh, setup.zsh, etc) in `/usr` or `/usr/local`.

In order to correct this behavior one has to use the `-DCATKIN_BUILD_PACKAGE="1"`.

The standard method of building software from source should probably not install files directly into `/usr`.

[2013-09-24 16:34] dirk-thomas commented on #514
`/usr/local` is the default install prefix for CMake (see http://www.cmake.org/cmake/help/v2.8.11/cmake.html#variable:CMAKE_INSTALL_PREFIX).

The option `CATKIN_BUILD_PACKAGE` has nothing to do with the install prefix - it just decides if catkin should generate setup files. Even with this option set the installed files of your CMake project will go into the install prefix.

You can either set a cu

[2013-09-24 16:34] #514 closed, assigned to nobody

[2013-09-24 18:14] nkoenig opened #515 "Catkin installs setup files incorrectly"
My previous issue #514  was closed without giving me a chance to respond.

I'm repeating it here. Hopefully this issue won't be closed needlessly.

Running `cmake ../; make; make install` installs setup files (setup.bash, setup.sh, setup.zsh, etc) in CMAKE_INSTALL_PREFIX. No files should ever be put directly in the CMAKE_INSTALL_PREFIX. Yet, catkin does this.

For example, a default source build o

[2013-09-24 19:45] eacousineau opened #516 "Documentation for Environment Files Incomplete?"
I was looking at the docs for catkin here: http://docs.ros.org/api/catkin/html/user_guide/environment.html

At the end it says:

[code]

Can't really tell if it implies that we should or shouldn't put aliases / functions in there. (Kind of a cliff-hanger haha)

[2013-09-25 20:13] mikepurvis opened #517 "catkin should depend on make (on Linux, anyway)"
From a bare bones install of ros-hydro-ros-base, I get creepy errors when I try to build a new empty workspace:

[code]

Yikes! Turns out that a minimal Ubuntu install doesn't have `make` by default. Once I installed it with apt, things were peachy. I guess "make" is not a cross-platform dependency, but almost certainly should be installed with the Ubuntu ros-hydro-catkin package. How can this be

[2013-09-25 20:17] dirk-thomas commented on #515
Please do not open a new ticket but comment on the existing one in the future. Issues can easily be reopened based on comments.

catkin requires a certain set of environment variables to be set. This is done via the setup.\* files so that the user does not have to set those manually. This environment can even be extended by environment hooks provided by any package. Currently these files are being

[2013-09-25 20:20] wjwwood commented on #517
When building anything from source it recommended to install the `build-essentials` deb:

http://wiki.ros.org/hydro/Installation/Source

Some of the most basic dependencies are expected to be resolved before building anything from source, including `cmake`, `c/c++ compiler`, `make`, and `Python`. One thing we could do is add a `build-essentials` rosdep rule which resolves on Ubuntu/debian, but on

[2013-09-25 20:22] wjwwood commented on #517
In fact the only reason `catkin` is installed with `ros-base` is to ensure that the `setup.*sh` files are in place. catkin is not required for the runtime of any of our packages, there was actually a point where we considered having a 'setup files deb' which got installed for things like `ros-base` so that we didn't have to install catkin for runtime only situations.

[2013-09-25 21:23] dirk-thomas commented on #517
I think it would make sense if there would be a catkin and a catkin-dev package. Then the catkin-dev package could depend on somthing like build-essentials. But generally catkin should not have a run dependency on them since those are not required to run anything installed from Debian packages.

[2013-09-25 22:15] nkoenig commented on #515
Thanks for the response. This looks like this is a duplicate of issue #380.

[2013-09-25 22:35] dirk-thomas commented on #515
I marked it as _duplicate_ and will close the ticket.

[2013-09-25 22:35] #515 closed, assigned to nobody

[2013-09-25 22:35] dirk-thomas commented on #514
Duplicate of #380.

[2013-09-25 22:55] mikepurvis commented on #517
A `catkin-dev` package to me implies that it's about hacking on catkin itself, or building things which need to somehow link against catkin. Is catkin not a build system, analogous to Make, CMake, Ant, etc? IMO, the baseline `catkin` package should install everything required to _use_ catkin for its intended purpose (building things) on a given platform. So: Python, Make, all of it.

If the object

[2013-09-25 23:00] dirk-thomas commented on #517
`catkin-dev` does not imply hacking on catkin - the same way as `boost-dev` does not imply hacking on boost.

`catkin-dev` would allow developing against catkin like it is for `boost-dev`.

`catkin` as a runtime dependency would only contain the parts of catkin which are necessary to run dependent stuff. E.g. that includes the setup.\* file under /opt/ros/DISTRO. Therefore `catkin` can not be remo

[2013-09-25 23:05] wjwwood commented on #517
I would point out that `CMake` doesn't install `make`.

[2013-09-25 23:09] mikepurvis commented on #517
Okay, makes sense. It's a fairly academic, in any case. Adding `build-essentials` to our Hydro robot PC preseed is not a problem.

[2013-09-25 23:09] #517 closed, assigned to nobody

[2013-09-26 11:28] tkruse opened #518 "python2.6 compatibility errors"
Not sure if anyone still cares about python2.6 (default with lucid), but it seems in few places catkinb code uses python2.7 features:

[code]

and

[code]

and

[code]

IMHO, staying 2.6 compatible is worth more than saving 2-3 lines of code for now.

[2013-09-26 17:27] dirk-thomas commented on #518
Since the current development branch of catkin does only work for Groovy and Hydro and those distributions do neither support Lucid nor Python 2.6 (see http://ros.org/reps/rep-0003.html#groovy-galapagos-oct-2012) I don't think it is worth keeping Python 2.6 compatibility.

Especially with the goal of making the whole code base compatible with Python 3.x for the next ROS distribtion it would be eve

[2013-09-27 08:32] tkruse commented on #518
Indeed maybe it is silly to think of catkin as useful software outside the ROS context.
ROS users trying older platforms still can patch catkin themselves if need be.

[2013-09-27 08:32] #518 closed, assigned to nobody

[2013-10-02 01:11] dirk-thomas commented on #511
The actual fix will be in rosunit: ros/ros#35. Closing this ticket.

[2013-10-02 01:11] #511 closed, assigned to nobody

[2013-10-02 01:27] dirk-thomas commented on #512
I could not reproduce it with the following scenario:
- git clone capabilities repo
- create build folder inside the repo folder
- cmake .. && make && make run_tests

Can you please provide more information to reproduce the issue?

[2013-10-02 01:36] dirk-thomas commented on #510
Imo passing such arguments via the command line interface is much cleaner and much more visible to the user than using environment variables. The user can easily invoke `catkin_make/cmake -DCATKIN_BLACKLIST_PACKAGES=$CATKIN_BLACKLIST_PACKAGES` if he has the names stored in an environment variable and wants to pass it along.

Especially in this case you might really consider to change your workspac

[2013-10-02 01:41] wjwwood commented on #512
Try this branch:

https://github.com/osrf/capabilities/tree/rostest_bug

[2013-10-02 15:42] jack-oquin commented on #366
+1 to adding a `make doc` target.

Each package can define a `doc_{$PROJECT_NAME}` target, with the top-level `doc` depending on them all.

[2013-10-02 16:14] dirk-thomas commented on #366
Adding doc generation to each package would be great. But how does that relate to our existing infrastructure for buildings docs for the wiki? Won't it be difficult to generate docs with cross references etc.? Where should that new doc target be used?

[2013-10-02 16:31] jack-oquin commented on #366
Good question, Dirk.

I suppose running `rosdoc_lite` could be the default target whenever `$CATKIN_ENABLE_DOCS` is set to a true value.

I do not think `rosdoc_lite` can or should be capable of handling every single project's documentation needs. It would quickly become `rosdoc_heavy` and probably still not satisfy some folks.

It would be great if this option could somehow affect the doc build f

[2013-10-02 16:38] vrabaud commented on #366
For cross-references (in Sphinx at least) I had a conf.py that had a condition whether I was in build space or in install space (cross references are either local or remote).

You also need to consider that you can have both doxygen and sphinx documentation (and one depending on the other (yeah, the ecto docs are pretty intense :) ).

And I would personnally see that target used by doclite and yes

[2013-10-02 16:45] dirk-thomas commented on #366
Without a detailed plan how things should work based on that, how they integrate into the current infrastructure / what needs to be changed I think we should not add any half-baked things for now.

I would like to see a global doc target but then this should also be utilized when generating the documentation for the wiki. And as far as I can see that goal would take quite some effort.

[2013-10-02 17:06] jack-oquin commented on #366
How about some minor fixes to remove the more egregious inconsistencies, without attempting to change the build farm doc jobs?

I'd hate to see us doing nothing. The current lack of good ROS documentation is quite discouraging.

[2013-10-02 17:09] dirk-thomas commented on #366
Fixes/improvements are always good. Please point out specific stuff and/or ticket it. At best someone will also look into those since we are very short on time and doc stuff is likely not at the top of the todo list.

[2013-10-02 19:18] #512 closed, assigned to dirk-thomas

[2013-10-02 21:14] #516 closed, assigned to dirk-thomas

[2013-10-02 21:14] dirk-thomas commented on #516
I clarified the docs. Yes, you can use the environment hooks for variables, shell aliases, auto complete functions etc.

[2013-10-03 23:23] jonbinney commented on #455
I just ran into this problem again, and using a console outside of tmux fixed it. Very frustrating. Still don't have a reliable way to reproduce the problem, unfortunately. It seems to be non-deterministic somehow.

[2013-10-04 11:27] 130s commented on #513
I've tested https://github.com/ros/catkin/pull/527 that implements the feature discussed here. Thanks all!

[2013-10-04 11:27] #513 closed, assigned to nobody

[2013-10-04 17:58] dirk-thomas commented on #374
Rerunning CMake for plain CMake packages will not be sufficient when toggling the install flag. The build folder will still have cached values from the other environment which can break the build. The only viable way I currently see is to separate the build folder for devel and install for plain CMake packages.

[2013-10-04 20:15] #374 closed, assigned to dirk-thomas

[2013-10-07 21:18] jbohren opened #529 "Should catkin warn about naming conventions in isolated / pure-cmake builds?"
Currently, if a package is named like "orocos-kdl" instead of "orocos_kdl" it generates a warning when using catkin. Should this happen for isolated builds where we can't enforce naming conventions on 3rd party packages?

[2013-10-07 22:58] dirk-thomas commented on #529
The warning is coming from `catkin_pkg` and not from `catkin` itself. `catkin_pkg` does currently not provide any mechanism to change the output of these warnings so `catkin` can not suppress it.

Could you fill a feature request against catkin_pkg to support that use case?

[2013-10-07 23:41] #529 closed, assigned to nobody

[2013-10-09 07:43] scpeters opened #530 "Isolated build of plain cmake package has problem with setup scripts"
Several files are missing from the devel_isolated folder after building a plain cmake package on OSX. Build sdformat for example:

[code]

Then the catkin package will have some setup files that sdformat does not:

[code]

[code]

The missing files are a problem because `devel_isolated/setup.bash` tries to reference them:

[code]

It won't work properly if I source `devel_isolated/setup.bash`; I h

[2013-10-09 07:52] wjwwood commented on #530
Did you change branches on sdformat, the default branch there isn't a catkin package nor does it have a package.xml.

[2013-10-09 08:18] scpeters commented on #530
Sorry package_xml branch for sdformat.

[2013-10-09 15:56] dirk-thomas commented on #530
I guess your are still using catkin 0.5.74? I think the issue you refer to has been fixed in 973f767fcc639776f9aaa22e615800f017fa439e. Please try a newer catkin version (likely currently only available from shadow-fixed).

[2013-10-09 18:02] scpeters commented on #530
Actually I am using a source build b9f71f1da58c7c6c320dc0f138e8f48e2cd322a7.

As I look again, the problem appears to be with the `devel_isolated/setup.bash`:

[code]

Since `~/ws/devel_isolated/sdformat/setup.bash` does not exist.

Also it's not just an osx problem. I hadn't noticed it on linux since I was using the hydro version of catkin.

[2013-10-09 21:58] dirk-thomas commented on #530
The specific issue here is that the plain cmake package is the last one to process in the workspace. In that case the toplevel setup.\* scripts can't find there counterpart in the packages devel folder. I will come up with a fix for that...

[2013-10-09 23:35] #530 closed, assigned to dirk-thomas

[2013-10-09 23:57] scpeters opened #532 "Potential conflicts for packages with names ending in _devel or _install"
The build folder for plain cmake projects can have a suffix of `_devel` or `_install` appended depending on the type of build.

This can lead to a conflict depending on package names. For example, the plain cmake project `gazebo` would conflict with a catkin package named `gazebo_devel`.

I don't expect `_install` to be a common suffix for packages, but I could imagine `_devel` being used. It's a

[2013-10-10 00:05] #532 closed, assigned to dirk-thomas

[2013-10-10 20:22] dirk-thomas opened #533 "utilize CMake ExternalData for test data"
This is a new feature of CMake 2.8.11. We have to check when it is feasible to depend on that new version.

[2013-10-11 03:30] jbohren opened #534 "Catkin is changing too much within minor releases"
First, the new "relocatable" features broke the orocos/rtt integration and required fixing. Now it looks like the changes to the build organization of catkin_make_isolated (see below) have just wasted several hours of my time because it broke our integration test harness (https://travis-ci.org/jhu-lcsr-forks/rtt/builds).

The test script would cd into the build directory for a specific package and

[2013-10-11 04:23] dirk-thomas commented on #534
About the "relocatable" feature I do agree. We could have kept that for Indigo. Consensus about it was in the development group that it was important enough to support those uses cases now (especially for cross compiling) and not only with the next distribution which will not be released until May 2014.

For the separated build directories I have to disagree. When they were not separated (which wa

[2013-10-11 04:46] jbohren commented on #534
So this fails (no target 'check'):

[code]

This works:

[code]

This also works:

[code]

This, in addition to the subject of this ticket (the recent build structure change) leads me to believe that the `--install` documentation is misleading since it doesn't simply cause the packages to get installed, but actually changes the way that (or place where) the packages get built.

[2013-10-11 17:35] dirk-thomas commented on #534
The first command does not work since you have not build the package `rtt` before (since --install used a different folder) [I am guessing rtt is a plain cmake package?].

Can you please point to the docs which should be updated? I only updated REP 137 (ros-infrastructure/rep#62) for now.

[2013-10-11 17:50] jbohren commented on #534
This line: https://github.com/ros/catkin/blob/65bbfedf583a52768a6e7f9c8b8b3bbfac28d96e/bin/catkin_make_isolated#L48

Using the `--install` argument now does more than just install the packages, it builds them in different folders, which means all subsequent calls to `catkin_make_isolated` also need the `--install` argument in order to point to the correct sub-buildspace.

[2013-10-11 17:59] dirk-thomas commented on #534
What description do you think would make that behavior clear?

[code]

I am not sure if such a detailed description actually makes sense in the CLI help.

[2013-10-11 18:14] jbohren commented on #534
Well the fact that they're put into different folders is irrelevant if you don't actually need to get into those folders. How about:

`Installs packages to install space. Subsequent calls which re-use this build configuration must also use this argument.`

[2013-10-11 18:36] dirk-thomas commented on #534
I don't think that it is actually related to `--install`. Instead a clarification for `--pkg` is necessary - similar to the one already in place for `--from-pkg`:

[code]

[2013-10-14 17:54] dirk-thomas commented on #479
This is a fundamental problem with C++. It is considered bad practice to mix debug and release versions of libraries (see http://stackoverflow.com/questions/11658915/mixing-debug-and-release-library-binary-bad-practice).

Each package would need to provide a debug and release version of its libraries to support your use case cleanly. Since this is not likely to happen the alternative is that you b

[2013-10-14 17:54] #479 closed, assigned to nobody

[2013-10-16 14:02] meyerj opened #535 "Catkin does not respect non-standard link directories for exported dependencies"
The new hydro-devel branch of [rtt_ros_integration](https://github.com/jhu-lcsr-forks/rtt_ros_integration) uses

[code]

to declare a dependency to Orocos RTT and OCL, which are not catkin packages. Due to a previous call to `find_package(OROCOS-RTT...)` the variables `rtt_FOUND`, `rtt_INCLUDE_DIRS`, `rtt_LIBRARY_DIRS`, `rtt_LIBRARIES`, `rtt_CFLAGS_OTHER` and `rtt_LDFLAGS_OTHER` are defined at tha

[2013-10-16 17:00] wjwwood commented on #535
We had this discussion internally a while back.

We recommend using absolute paths and only the `LIBRARIES` component of the `catkin_package(...)` macro. We recommend this because of `LIBRARY_DIRS` ordering. It is something we have to deal with in the `INCLUDE_DIRS`, and in my opinion using `LIBRARY_DIRS` does not scale with overlaying of packages in our use cases.

This is what I would recommend

[2013-10-16 17:37] wjwwood commented on #535
A little more about the ordering issue...

Consider you have a system package, like `orocos-rtt`, which exports as libraries and library directories, and is installed into `/opt/ros/hydro` and from source in `~/my_ws/install_isolated`. Then you have a package which finds it in the `~/my_ws/install_isolated` folder and it gives `-lrtt` and `-L~/my_ws/install_isolated/lib`. Later another package fin

[2013-10-16 18:00] wjwwood commented on #535
Also, the extras files are definitively the solution for more exotic variables like `rtt_CFLAGS_OTHER`.

[2013-10-16 18:20] meyerj commented on #535
Okay, I understand. Then we probably will only use absolute paths in `catkin_package(...)` or add an `CFG_EXTRAS` file which takes care of the variables. Many thanks for your explanation!

[2013-10-16 18:20] #535 closed, assigned to nobody

[2013-10-18 02:29] jbohren commented on #491
Shouldn't `DEPENDS` carry LD_FLAGS and CFLAGS forward along with INCLUDE_DIRS and LIBS? Currently it does not: https://github.com/ros/catkin/blob/groovy-devel/cmake/catkin_package.cmake#L140

[2013-10-18 04:26] jbohren opened #539 "Catkin needs better debugging tools or it should work in "isolated" mode by default"
I keep running into issues from crossover side-effects when using catkin_make which do not occur when using catkin_make_isolated.

I don't think the speedup gained from catkin_make is worth it since it takes so long to debug errors when they occur. Either we need better ways to debug errors, or we need make catkin_make_isolated the default behavior.

The amount of time I have wasted trying to debu

[2013-10-18 10:06] tkruse commented on #539
If CMI were the default, I believe maintainers (where those even exist anymore) would stop checking their CMakeLists for compatibility with catkin_make, which could break the buildfarm if that still runs using catkin_make. This would also break other users' workspaces. So this cannot just be about making one the "default", but it has to be about getting rid of catkin_make (or getting rid of non-is

[2013-10-18 15:20] tkruse opened #540 "Outdated wiki information about ROS concepts"
Catkin is not mentioned, nor are metapackages:
- http://wiki.ros.org/ROS/Concepts
- http://wiki.ros.org/Packages
- http://wiki.ros.org/Stacks
- http://wiki.ros.org/Manifest
- http://wiki.ros.org/Stack%20Manifest

[2013-10-18 17:44] dirk-thomas commented on #540
Please feel free to contribute to the ROS wiki or propose specific changes if need is on the mailing list / this ticket.

[2013-10-18 18:32] wjwwood opened #541 "Address less often used project variables in catkin_package(...)"
It was proposed, in #491, that users should be able to pass define `CFLAGS` and `LD_FLAGS` in addition to `INCLUDE_DIRS` and `LIBRARIES` using the `catkin_package(...)` macro. This would allow `CATKIN_DEPENDS` and `DEPENDS` to also pass along `CFLAGS` and `LD_FLAGS` as well.

On the one hand this would be more convenient for `CFLAGS` and `LD_FLAGS`, but on the other hand there are arbitrary many t

[2013-10-18 18:32] wjwwood commented on #491
tl;dr The `DEPEND` tag is just syntactic sugar, we need to support `LD_FLAGS` and `CFLAGS` first.

Currently catkin doesn't have those as export options, before we export the `LD_FLAGS` and/or `CFLAGS` for dependencies listed in `DEPEND` section, we would first need to provide a generic mechanism for users to set their `LD_FLAGS` and `CFLAGS` for their package in the `catkin_package` call.

I open

[2013-10-18 22:23] wjwwood commented on #540
I duplicated into the `rosbuild` namepsace all of the largely rosbuild specific pages for the ROS Overview (Includes the /ROS/Concepts page) and all of the elements in the "ROS Filesystem Concepts" menu group. Entry point:

http://wiki.ros.org/rosbuild/ROS/StartGuide

Now we can edit the wiki pages @tkruse mentioned without worrying about catkin/rosbuild buttons, and simply refer to the rosbuild s

[2013-10-18 23:18] wjwwood commented on #540
Done. I did the bulk of the refactoring, but given the amount of information there I am sure I missed things. It should be considerably better though.

[2013-10-18 23:18] #540 closed, assigned to nobody

[2013-10-18 23:24] dirk-thomas commented on #540
Thank you @wjwwood for looking into it immediately.

@tkruse if you find missing / incomplete parts please either update the wiki page directly if you feel comfortable or comment on this ticket with specific pointers.

[2013-10-18 23:29] dirk-thomas commented on #539
@jbohren Can you please provide more information on what issues from crossover side-effects you have run into?

[2013-10-18 23:30] wjwwood commented on #539
@jbohren I may be out of the loop on this, but with no context I find it difficult to understand what specific issue(s) you are having or how I could possible address them.

You propose we have better debugging tools, do you have specific ideas for such tools? "Making better debug tools" is not something I can act on and have any chance of meeting you needs.

You also suggested that we make `catki

[2013-10-19 08:26] tkruse commented on #540
thanks, William

[2013-10-21 01:42] jbohren commented on #539
So one of the most common problems is one package changing the state of the system (changing env and cmake cache variables) which another package doesn't expect to change. Is this something that could be debugged in the configuration stage? Could catkin inject CMake code in-between each inclusion of CMake code to "watch" a given env/cache variable or set of variables?

A big part of this is also t

[2013-10-21 09:35] tkruse commented on #539
On Sat, Oct 19, 2013 at 1:30 AM, William Woodall
notifications@github.comwrote:

Invoking the build for individual packages seems important to several users
(see questions about this on answers.ros.org), and being able to bypass
catkin is a bonus in a certain way, since this allows people to eliminate
catkin code as a source of errors. However I don't see how that would be of
any help for a whole

[2013-10-21 13:40] jbohren commented on #539
One such example was where the KDL CMake configuration file was re-setting $PKG_CONFIG_PATH whenever it was configured to the place where KDL was installed. This means that pkg-config wasn't able to find any packages which weren't installed to /opt/ros/hydro. It turns out @vrabaud and I both encountered this one at the same time and fixed it in parallel.

There were a lot of challenges that came w

[2013-10-21 14:06] jbohren commented on #539
More specifically, the bug in the KDL cmake config (fixed here: https://github.com/orocos/orocos_kinematics_dynamics/commit/e1bf670dc6fe878efea5b78e99e4d76327610749) would re-set `$PKG_CONFIG_PATH` simply when the user _depended_ on `orocos_kdl`. This means that while the observed problem was that `$PKG_CONFIG_PATH` was being re-set, there was _nothing_ in my workspace of about 150 packages which

[2013-10-21 14:26] tkruse commented on #539
So as another way to put it, the lack of isolation in workspaces does not just make the given CmakeLists.txt of packages interact (that which a catkinlint tool could maybe catch, maybe not), but also the cmake files provided by 3rd party libraries. An since those 3rd-party provided libraries are usually used at the top of cmake files, bugs due to bad practice more easily surface in catkin workspac

[2013-10-21 17:43] dirk-thomas commented on #539
@jbohren I do understand your frustration when having to deal with such hard to debug problems. I can see why catkin_make_isolated is easier for users to use and may be it would be a good idea to recommend users to use that tool instead of catkin_make.

On the other hand I do see a lot of advantages to the single CMake invocation. It is not only faster to configure and build but also integrates be

[2013-10-21 17:57] vrabaud commented on #539
Same, I agree with @dirk-thomas  but understand @jbohren  . I found the PKG_CONFIG_PATH error fairly quickly ( :p ) but I agree it was a hard one.

Another bug I had the other day was because find_package(catkin) was called after find_package(OpenCV) thus setting GTEST_FOUND too late and adding some tests to OpenCV_LIBRARIES.

Somebody mentioned earlier a debug mode that would record variables cha

[2013-10-21 18:14] jbohren commented on #539
@dirk-thomas

1. Being "faster to configure and build" is worthless if it creates the possibility an un-knowable amount of delay in the development cycle.
2. With respect to the convenience of going "to the build folder and just invoke any of the targets explicitly," I don't see how this necessitates a single call to CMake since you can do the same exact thing with catkin_make_isolated.

I underst

[2013-10-21 18:42] dirk-thomas commented on #539
1. It _does_ work very well for a significant part of the released ROS packages in Hydro. And if it does cm has benefits compared to cmi.
2. Calling a specific make target is something you exactly can not do with cmi. Since there are multiple build folders you have to go to a specific one first - which you either don't want to care about or just don't know which is the corresponding package.

And

[2013-10-21 19:09] baxelrod-bdai opened #542 "use 'builtin' command in setup.bash"
The setup.bash script should use "builtin cd" instead of just "cd".  This fixes a bug for people who have created a function called "cd" to perform extra functionality in addition to changing directories, (for example doing an "ls" upon entering the new directory).  The new line should be:

[code]

This will not change any behavior for those people who have not changed the functionality of the "cd

[2013-10-21 23:47] dirk-thomas commented on #542
Besides the setup.bash I would assume that it would also be impossible to build anything with that kind of customized `cd` command since the since the same code is also in `env.sh` (which can not use `builtin`). Have you tried that or can you give it a try and report back if that is an issue too?

[2013-10-22 00:40] wjwwood commented on #539
I agree that we need to work on the usability of catkin, but requiring no proficiency in CMake should not a high priority in my opinion. If you are not going to release or install your code then you can skate around a lot of the details and use `rosbuild` or `catkin_simple`, both of which require significantly less CMake knowledge.

By the way, We recently spent some time deploying `catkin` into a

[2013-10-22 04:37] jbohren commented on #539
Yeah, I saw this, and I'm really excited that it's getting more attention!

Right, this could be considered part of the goal of #153, would it not?

I never said to eliminate it, and in my experience, cmi is also what I use when I need to debug cm. One of the problems with the current workflow / tutorials / troubleshooting guides is that that pattern isn't documented. This is why I say "catkin nee

[2013-10-22 08:58] tkruse commented on #539
Hi William,

On Tue, Oct 22, 2013 at 2:40 AM, William Woodall
notifications@github.comwrote:

As I tried to clarify, @jbohren did not have the problem of building a
catkinized KDL. He installed KDL independently outside his catkin
workspace. So turning KDL into a plain cmake package for catkin is an
option but irrelevant to this discussion.
Jon tried to build one or many catkin packages that used

[2013-10-22 16:01] jbohren commented on #539
@tkruse

Yeah, it's worth mentioning that when I get stuck debugging catkin-related issues, nearly everyone around me tells me that none of this is worth it, and I should just give up.

This is a good point. On the ROS wiki page for Catkin, it says that "catkin was designed to be more conventional than rosbuild." However, Catkin imposes numerous constraints on buildscript design which the buildscr

[2013-10-22 18:03] baxelrod-bdai commented on #542
I can compile fine with both rosbuild and catkin.  (with custom cd command).  Is this what you wanted me to test?

[2013-10-22 18:22] dirk-thomas commented on #542
Can you please post your custom `cd` function?

[2013-10-22 18:51] tfoote opened #543 "Add a way to enable pre and post package configure hooks"
These hooks could be used by catkin_lint to enable debugging of all variables changed between configuration of each package.

These hooks could be used to print out the delta of all variables changed during a package configuration. This will allow detection of side effecting changes.

Ala http://stackoverflow.com/questions/9298278/cmake-print-out-all-accessible-variables-in-a-script

This is somet

[2013-10-22 19:12] dirk-thomas commented on #543
The pre and post hooks could wrap the following line in the `catkin_workspace` function: https://github.com/ros/catkin/blob/groovy-devel/cmake/catkin_workspace.cmake#L109

E.g. all variable (before and after each package) could be written to a file like this:

[code]

@mikepurvis @jack-oquin Please give this a try when looking into linting. If this kind of information is useful I could add these g

[2013-10-22 20:07] mikepurvis commented on #543
For my clarification, this is solely to do with a catkin linter (#153), not the general problem of linting various sources. Is that correct?

[2013-10-22 20:24] tfoote commented on #539
Hi everyone,

Watching this discussion it looks to me to have lost its focus on making improvements to the system.

From the top of this post I can see one clear takeaway which is that it is sometimes hard to debug issues in a catkin workspace due to side effects in other packages.  Unfortunately a lot of these side effects are more a problem of poor CMake usage rather than anything catkin related

[2013-10-22 20:29] dirk-thomas commented on #543
Yes, linting catkin CMake logic.

[2013-10-22 20:57] jbohren commented on #543
@tfoote Would the pre- and post-config hook mechanism you describe enable any package to export code which runs before and after the configuration of any package depending on it, or something else?

[2013-10-22 21:31] dirk-thomas commented on #543
No, the idea of these hooks is that you can pass a pre/post-hook handler (a cmake file) to the invocation of CMake. That code is than run in a workspace before/after each package. That way a lint-application can pass in hooks which e.g. logs the current variable in cmake for later analysis.

[2013-10-22 22:11] wjwwood commented on #539
Sorry, I didn't realize this KDL was third party. That changes the whole discussion, in that context this is not isolated to `catkin_make`. In this case, `catkin_make` simply exposed the error. It occurs to me, though I might be wrong, that CMake projects which used the `PKG_CONFIG_PATH` _after_ `find_package`'ing this KDL module will also break.

In the issue raised in this thread, KDL setting th

[2013-10-23 00:38] mikepurvis commented on #543
FWIW, I don't think we intend to put the catkin linter in the roslint package—at the very most, we would incubate it there for a short while. A catkin linter should either be provided by/with catkin itself, or as a standalone package.

[2013-10-23 00:45] dirk-thomas commented on #543
Agreed. If someone will work on catkin lint and would use such hooks as described in this ticket I am fine adding them as a feature to catkin.

Until then adding them seems to be not necessary - therefore marking this ticket with the milestone _untargeted_.

[2013-10-23 09:29] tkruse commented on #543
Note I suggested in #265 not just to report changes in global vars, but to revert those changes before moving on to a next package. Maybe it's still not a great idea, but I thought I could still throw it in.

[2013-10-23 10:36] tkruse commented on #539
@jbohren described two things that wasted his time, the PKG_CONFIG_PATH bug
in KDL, but also "Tracking down which dependencies are needed by which
targets across packages...". If we shall focus on specific issues, then
let's hear this one out (either here or as a new issue).

Also you still seem to declare target dependencies across catkin packages
as a feature of catkin, rather than very bad prac

[2013-10-23 12:14] mikepurvis commented on #543
@tkruse I think I may have got bitten by a workspace cross-talk issue the other night, too, and it's miserable to debug. Relying on every package to use an opt-in system like roslint doesn't seem like a realistic way to handle that particular problem.

What would be the overhead to just having catkin_make make these checks automatically, same as how it yells at you for trying to find_package() som

[2013-10-23 13:13] tkruse commented on #543
@mikepurvis: Please consider sharing your debugging misery here: #539, to collect all reports of debugging frustration attributed to lack of isolation in catkin. catkin will not be changed unless enough people actually report their problems. The main question being whether catkin_make saves time or wastes time, by being faster but more vulnerable.

Regarding opt-in: Unless I am mistaken, @dirk-tho

[2013-10-23 17:01] mikepurvis commented on #539
As requested by @tkruse in #543, another tale of woe:

The [workspace in question](https://raw.github.com/kf/install/master/robot.rosinstall) builds fine on my ivy bridge laptop, but fails on the Kingfisher's 32-bit Atom machine. The reported error occurs while generating Lisp messages for kingfisher_msgs—maddeningly, the problem does _not_ occur in a bare workspace containing just that one repo,

[2013-10-23 17:18] tfoote commented on #543
@tkruse what these hooks would enable wouldn't be an opt-in system that you enable per package. It would be that you can invoke cmake on the whole workspace with the debugging hooks turned on, probably via a helper wrapper script which would parse the output files.

@mikepurvis If you do believe that CATKIN_IGNOREs are not being honored fully or you can repeatedly reproduce the issue compiling on

[2013-10-23 18:34] dirk-thomas commented on #539
I can build the workspace perfectly fine.

Please provide more information. E.g. the full output of your invoked commands. Also information like what system you use. If message generation is related to the issue please also consider posting the version numbers of the related packages you have installed (e.g. genmsg, genlisp).

[2013-10-23 18:59] baxelrod-bdai commented on #542
It used to be pretty straightforward like this:

[code]

But has now grown to this:

[code]

[2013-10-24 09:44] tkruse commented on #539
Some more debugging problems: http://answers.ros.org/question/93691/trying-to-compile-from-source-to-test-fix
Occurs when putting both the mentioned files and geometry_experimental into the same catkin workspace.

[2013-10-24 12:58] tkruse commented on #539
Another issue regarding common cmake target namespaces: https://github.com/ros/catkin/issues/477. Not sure whether it ever got fixed.

[2013-10-24 16:27] tfoote commented on #477
The standard is for all targets in a catkin package to use `${PROJECT_NAME}` as a prefix. Where `${PROJECT_NAME}` is set at the top to be the name of the package.  This will avoid all conflicts as package are already a flat namespace.

[2013-10-24 16:46] tfoote commented on #539
@tkruse please open separate tickets for separate issues.

I'm going to close this ticket as **we agree** that we want better debugging tools. In the abstract that is not something achievable without concrete examples of where people are getting tripped up. When you see someone getting tripped up please file a ticket where you think the interaction could be better and we can work to improve the ex

[2013-10-24 16:46] #539 closed, assigned to nobody

[2013-10-24 22:39] tkruse commented on #539
It's fair enough if OSRF thinks it's better to spend time and energy on evaluating each case individually and then improving debug tools for problems caused by lack of isolation, rather than just cleanly isolating builds and avoiding those problems in the first place (as cmi does even today). That call is for OSRF to make.

You can keep this github issue closed, we can still use it to collect all

[2013-10-25 01:15] #542 closed, assigned to dirk-thomas

[2013-10-25 01:20] dirk-thomas commented on #542
Thanks for pointing it out. I fixed it for bash and zsh.

[2013-10-25 13:06] baxelrod-bdai commented on #542
Great! Thanks!

[2013-10-25 23:19] scpeters opened #545 "Support arch-specific lib and cmake folders with catkin_make_isolated"
In order to get into debian, they recommend using GNUInstallDirs for installing architecture-dependent libraries. For example, [sdformat ](https://bitbucket.org/osrf/sdformat/pull-request/64/support-for-gnuinstalldirs/diff) is in the process of this change, which on my machine causes libraries to be installed to `{prefix}/lib/x86_64-linux-gnu/` and the cmake config file to be installed to `{prefix

[2013-10-26 00:08] scpeters commented on #545
An alternative to parsing `/etc/ld.so.conf.d/` is to include the GNUInstallDirs module in a sandbox to see if there are arch-specific lib folders for the given platform. An example CMakeLists.txt:

[code]

and its output on Ubuntu:

[code]

[2013-10-26 05:52] scpeters commented on #545
Note that this will be an issue for console_bridge when 0.2.5 is released (currently it's on 0.2.4).

This is when GNUInstallDirs was introduced into console_bridge, and it's listed as 0.2.5:
https://github.com/ros/console_bridge/commit/3830f26069d7daac82599530e8d0d6c745b82d13

[2013-10-26 12:22] tkruse opened #547 "inter-package task dependencies still documented recommendation"
As discussed here: https://groups.google.com/forum/?fromgroups#!searchin/ros-sig-buildsystem/package$20dependency/ros-sig-buildsystem/dvVO5QCHBLM/QtXUOf7EOhQJ
and solved here:
https://github.com/ros/genmsg/issues/26

it is bad practice to refer to the names of tasks in other packages, like

[code]

instead the recommended practice was to be

[code]

Yet the former is still the documented approach

[2013-10-26 13:06] tkruse commented on #547
Duh, sorry, indeed the variable name had been changed to the suffix `_EXPORTED_TARGETS`, not `_CODE_GENERATION_TARGETS` in https://github.com/ros/genmsg/commit/2d2dce8

Also see
- https://github.com/ros-industrial/industrial_core/issues/12
- http://socio4.iir.nii.ac.jp/wiki/en/index.php?SIGVerse%2FROS%20integration

[2013-10-28 17:08] dirk-thomas commented on #547
The catkin_pkg template contains

[code]

which is perfectly correct.

[2013-10-28 17:20] dirk-thomas commented on #547
http://wiki.ros.org/roscpp_tutorials/Tutorials/WritingPublisherSubscriber?action=diff&rev1=85&rev2=86

http://wiki.ros.org/catkin/migrating_from_rosbuild?action=diff&rev1=95&rev2=96

[2013-10-28 17:23] dirk-thomas commented on #547
For the first answers question the correct answer is already stated.

For the second one there is still missing information to be provided by the questioner.

[2013-10-28 17:23] #547 closed, assigned to nobody

[2013-10-29 08:25] tkruse opened #548 "catkin_create_pkg could hint at _EXPORTED_TARGETS"
The CmakeLists.txt created by catkin_create_pkg contains a lot of help and templates to guide users into writing clean catkin packages.

I suggest adding a small block to encourage users to use the ${catkin_EXPORTED_TARGETS} variable in add_dependencies when using e.g. messages/dynamic_reconfigure from other packages. The help text should IMO explicitly mention message generation and dynamic_recon

[2013-10-29 08:26] tkruse commented on #547
Yes, sorry, for the catkin_create_pkg. Created #548 instead. Second answers question was just to show people may not be aware of catkin_EXPORTED_TARGETS, and it might be good to remind them (even if they have other problems).

[2013-10-29 17:01] dirk-thomas commented on #548
Please consider providing a pull request with the information you find suitable and helpful for the users. This might speed up the realization of this ticket.

[2013-11-01 18:29] scpeters commented on #545
I've been using a hardcoded workaround on my fork for the past week or so, and it's been successful. I just have to add the arch-specific folder to LD_LIBRARY_PATH and PKG_CONFIG_PATH. Now we just need to automatically identify the name of the arch-specific library folders.

[code]

[2013-11-03 07:12] scpeters commented on #545
So my previous testing only involved devel builds; I tried `catkin_make_isolated --install` and it didn't work. I made another hard-coded hack in https://github.com/scpeters/catkin/commit/5597b58d8d695ac00df28b467e79594843e1b714 that fixes install builds.

[2013-11-11 06:38] JetForMe opened #549 "sbcl dependency not found"
I was trying to build ROS from source on Ubuntu 13.04, on BeagleBone Black. Things seemed to be going well until sudo apt-get install -y sbcl, at which point I got:

Package sbcl is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source
However the following packages replace it:
  sbcl-source sbc

[2013-11-11 07:24] tfoote commented on #549
please ask questions on answers.ros.org

[2013-11-11 07:24] #549 closed, assigned to nobody

[2013-11-11 07:56] JetForMe commented on #549
Thanks! I lost track of where I should post. I found an answer there that a simple google search failed to turn up.

[2013-11-17 01:03] b-adkins opened #551 "Making an Eclipse Project doesn't add C++ include paths"
TL;DR: `/usr/include/c++/4.x` missing from Eclipse project when built with Catkin, please add it.

When using catkin to build an Eclipse project (See http://wiki.ros.org/IDEs#Eclipse), a number of include paths are given to Eclipse. They are found under:
`Project > Properties > C/C++ Include Paths and Symbols`

System (non-project) includes already added are:
- `/usr/include`
- `/usr/src/gtest`
-

[2013-11-17 01:44] wjwwood commented on #551
This is been discussed before, I think the conclusion was that it didn't make sense to add this in catkin. Conceptually it makes no sense for catkin to add any include directories, if the generated eclipse project is not correct, then it is CMake's fault.

Previous discussions:

http://answers.ros.org/question/72226/eclipse-not-resolving-anything/
http://answers.ros.org/question/61407/standard-sys

[2013-11-18 19:28] dirk-thomas commented on #548
Moved to ros-infrastructure/catkin_pkg#79.

[2013-11-18 19:28] #548 closed, assigned to nobody

[2013-11-18 19:30] dirk-thomas commented on #551
I have to agree with @wjwwood. This can / should not be addressed within catkin. Please consider providing the feedback to CMake / Eclipse.

[2013-11-18 19:30] #551 closed, assigned to nobody

[2013-11-18 19:49] dirk-thomas commented on #534
I have committed the proposed update to the command line help of the `--pkg` option.

I will mark the ticket as closed for now. If you think further clarification is necessary please provide more feedback on this ticket and it can be reopened.

[2013-11-18 19:49] #534 closed, assigned to dirk-thomas

[2013-11-18 20:23] dirk-thomas commented on #367
Closing since the requested feature is a duplicate of #330.

[2013-11-18 20:23] #367 closed, assigned to nobody

[2013-11-18 20:25] dirk-thomas commented on #510
Closing this ticket since passing the flag via the command line is the working recommended way and an environment variable is not considered to be a good alternative.

[2013-11-18 20:25] #510 closed, assigned to nobody

[2013-11-26 20:14] dirk-thomas commented on #305
I will close this ticket since _catkin_ only implements the spec defined in a REP. If there is further interest in this feature please consider discussing it on the buildsystem mailing list (ros-sig-buildsystem@googlegroups.com) and/or proposing a REP.

[2013-11-26 20:14] #305 closed, assigned to nobody

[2013-11-26 20:21] dirk-thomas commented on #379
Most other packages in ROS (e.g. genmsg, gencpp, etc.) explicitly don't use `find_*` but expose the known paths of their files using variables defined in their CMake extra files. That seems to me much more stable and addresses all the use cases defined so far.

By now _catkin_ generates output which should be completely relocatable and supports using DESTDIR during (isolated) compilation. Is there

[2013-11-26 20:23] dirk-thomas commented on #491
Please clarify which documentation this ticket refers to and what kind of information you think it should contain.

[2013-11-26 20:27] dirk-thomas commented on #153
If at any time someone will work on this feature it would be feasible to add hooks in catkin before and after each package has been configured (as described in #543).

[2013-11-26 20:28] dirk-thomas commented on #543
I will mark this ticket as `wontfix` and close it since there is no use case yet where this functionality is used. As soon as someone works on a _catkin lint_ it would be feasible to implement the proposed hooks and this ticket can be reopened.

[2013-11-26 20:28] #543 closed, assigned to nobody

[2013-11-27 00:02] wjwwood commented on #491
Quoting @dirk-thomas:

So I guess it just needs a mention that `DEPENDS` only passes certain variables and only if they are named correctly.

[2013-11-27 12:01] po1 opened #552 "DEPENDS in catkin_package() not adding package INCLUDE_DIRS"
... or more accurately, not adding `PACKAGE_INCLUDE_DIRS` (note the uppercase).

This issue was triggered in `gazebo_ros_control`.
In the CMakeLists.txt, we can see something similar to the following:

[code]

What catkin does when we specify this is to add `${gazebo_INCLUDE_DIRS}` to `PROJECT_CMAKE_CONFIG_INCLUDE_DIRS`, which is ultimately appended to `catkin_INCLUDE_DIRS` of whatever projects th

[2013-11-27 17:45] dirk-thomas commented on #552
Since _catkin_ has no way of guessing the case (and should not just try to use all possible cases). It uses the name exactly as passed to `catkin_package(DEPENDS)`.

In this case where the package defines all uppercase variable you need to pass an all uppercase package name to `DEPENDS`. Therefore please fill this issue against `gazebo_ros_control` and suggest your above fix to that package.

[2013-11-27 17:45] #552 closed, assigned to nobody

[2013-11-27 17:49] wjwwood commented on #552
That is exactly correct, if the package does not follow the convention where `<pkg_name>` is used consistently in `find_package(<pkg_name> ...)` and resulting variables like `<pkg_name>_INCLUDE_DIRS`, then catkin cannot determine it automatically.

In times like this you must manually pass include directories and libraries to the catkin_export call, and you cannot depend on the `DEPENDS` syntactic

[2013-11-27 17:54] dirk-thomas commented on #491
This should be clarified in 78fe98adcd4df827fb2c5581f80a5eebb6ce7946. If not please comment with further suggestions.

[2013-11-27 17:54] #491 closed, assigned to dirk-thomas

[2013-11-27 20:01] jack-oquin commented on #491
Looks OK to me.

I would have said more in the first place if I'd know what to say.

[2013-12-02 15:02] vrabaud opened #554 "broken nose tests"
catkin currently fails several of its tests. The build farm even shows so but does not show the package as unstable, weird:
http://jenkins.ros.org/job/ros-hydro-catkin_binarydeb_raring_i386/49/consoleFull

[2013-12-02 15:15] vrabaud opened #555 "add bin/* to the scripts in setup.py"
Just not sure whether it was a decision to not include those (if not, that means they do not belong to the pip install then ?)

[2013-12-02 18:21] dirk-thomas commented on #554
The Jenkins job you refer to is for the last release. Since then several changes have been made to the codebase. Before the next release it will be made sure that all unit tests pass.

[2013-12-03 08:59] vrabaud commented on #554
promises ...... I'll keep that bug open until then :p (tests also fail in trunk btw).
But that bug report also has one for the farm: the package was not marked as unstable: failing tests should mark a package as unstable on the farm no ?

[2013-12-03 10:39] gavanderhoorn commented on #547
@dirk-thomas wrote:

I hate to drag up an old thread like this, but just to be clear: is referring to `_generate_messages_cpp` in a dependent `CMakeLists.txt` ok, or is it not? I'd sort of understood that the recommended practice was to use `_EXPORTED_TARGETS`.

There seems to be quite some confusion about this, judging from the discussions that can be found on the web (not just ROS Answers).

[2013-12-03 11:14] 130s opened #556 "catkin_prepare_release: adjust to svn 1.7+ when releasing subtrees of a repo"
Starting from version 1.7, which comes with `Ubuntu Raring`, `svn` stopped generating `.svn` files in all folders.
http://subversion.apache.org/docs/release-notes/1.7.html#wc-ng

With projects downloaded by `svn` 1.7+ where ROS packages are placed in the subfolders (the case already handled in https://github.com/ros/catkin/issues/513), `catkin_prepare_release` fails as follows:

[code]

[2013-12-03 18:07] dirk-thomas commented on #554
The job you are referring to is not a _devel_ job. Only those mark the build as _unstable_ and send notification emails. The _binarydeb_ are not supposed to do this in the first place.

[2013-12-03 18:19] dirk-thomas commented on #556
If you are in the root of your working copy the command should work fine. None of the other VCS types allows you to invoke the command in a subfolder of the working copy.

This is only relevant if you are going to release a subtree of a SVN repository. Therefore I will mark this ticket with the milestone _untargeted_ since it is not a feature the maintainers will work on. Please consider providing